/*#content .container-fluid{
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}*/
.site-content,
.wr-rev-slider{
    margin-bottom: 50px;
}

.not-active{
	opacity: 0.6;
    pointer-events: none;
    cursor: default;
}

/*Post Single Page*/
.news-content{
    .date-post i{
        font-size: 14px;
    }
}
