/* tabbed list */
ul.tabs_login { position: relative; z-index: 2; width: 100%; overflow: hidden; margin: 0; padding: 0; list-style: none; }
ul.tabs_login li { float: left; margin: 0 5px 0 0; padding: 0; background-color: #fff; }
ul.tabs_login li a {display: block;padding: 10px 20px;color: #777;background-color: #ccc;text-decoration: none;text-shadow: 1px 1px 1px rgba(255,255,255,0.5);}
ul.tabs_login li a:hover { color: #555; background-color: #efefef; }
ul.tabs_login li.active_login a { font-weight: bold; color: #333; background-color: #fff; }
html body ul.tabs_login li.active_login a { font-weight: bold; }
.tab_container_login {
    background: #fff;
    position: relative;
    margin: 0 0 20px 0;
    border: 1px solid #E7E9F6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 999;
    float: left;
    width: 100%;
    top: -1px;
}
.tab_content_login {
    padding: 7px 15px 15px 15px;
    padding-top: 10px;
}
.tab_content_login ul {
    padding: 0; margin: 0 0 0 15px;
}
.tab_content_login li { margin: 5px 0; }
/* global styles */
#login-register-password {}
#login-register-password h3 {
    border: 0 none;
    margin: 10px 0;
    padding: 0;
}
#login-register-password p {
    margin: 0 0 15px 0;
    padding: 0;
}
/* form elements */
.wp-user-form {}
.username, .password, .login_fields {
    margin: 7px 0 0 0;
    overflow: hidden;
    width: 100%;
}
.username label, .password label { float: left; clear: none; width: 25%; }
.username input, .password input {
    font: 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    float: left; clear: none; width: 200px; padding: 2px 3px; color: #777;
}
.rememberme { overflow: hidden; width: 100%; margin-bottom: 7px; }
#rememberme { float: left; clear: none; margin: 4px 4px -4px 0; }
.user-submit {
    box-sizing: border-box; display: block; margin: 10px 0 0 0; padding: 15px 30px; cursor: pointer;
    border: 0; color: #fff; font-size: 16px; background-color: #21759b;
}
.user-submit:hover { background-color: rgba(33,117,155,0.8); }
.userinfo { float: left; clear: none; width: 75%; margin-bottom: 10px; }
.userinfo p {
    margin-left: 10px;
}
.usericon { float: left; clear: none; width: 15%; margin: 0 0 10px 22px; }
.usericon img {
    border: 1px solid #F4950E;
    padding: 1px;
}
