/*--------------------------------------------------------------------------
[Table of contents]

01 Base CSS
02 Desktop CSS
03 Tab CSS
04 mob CSS
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
|  01  Base CSS
--------------------------------------------------------------------------*/

.skydropdown html, .skydropdown body, .skydropdown iframe, .skydropdown h1, .skydropdown h2, .skydropdown h3, .skydropdown h4, .skydropdown h5, .skydropdown h6 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: antialiased;
	font-smooth: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased !important;
	font-smoothing: subpixel-antialiased !important;
	font-smooth: subpixel-antialiased;
}
.skydropdown .cl {
	clear: both;
}
.skydropdown img, object, embed, video {
	border: 0 none;
	max-width: 100%;
}
.skydropdown a:focus {
	outline: none !important;
}
.skydropdown:before, .skydropdown:after {
	content: "";
	display: table;
}
.skydropdown:after {
	clear: both;
}

/*--------------------------------------------------------------------------
|  02 Desktop CSS
--------------------------------------------------------------------------*/

.skydropdown {
	font-family: Helvetica, sans-serif;
	color: #fff;
	position: relative;
	font-size: 15px;
	padding: 0px;
	margin: 0px auto;
	width: 100%;
	max-width: 1200px;
	background-color: #ffffff;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
.skydropdown-list {
	text-align: left;
	margin: 0 auto 0 auto;
	width: 100%;
	display: table;
	padding: 0px;
}
.skydropdown-list > li {
	text-align: center;
	display: table-cell;
}
.skydropdown-list li:first-child a {
	-webkit-border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	border-radius: 4px 0px 0px 0px;
}
.skydropdown-list li:last-child a {
	-webkit-border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 4px 0px 0px;
	border-radius: 0px 4px 0px 0px;
	border-right: 0px solid;
}
.skydropdown-list > li > a .fa {
	display: inline-block;
	font-size: 14px;
	line-height: inherit;
	margin-right: 0px;
}
.skydropdown-list li ul li a .fa.fa-angle-double-right {
	font-size: 12px;
	margin: 0 3px 0 -4px;
}
.skydropdown-list li a .arrow:after {
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #b3b3b3;
	content: "";
	float: right;
	height: 0;
	margin: 0 0 0 9px;
	position: absolute;
	text-align: right;
	top: 22px;
	width: 0;
}
.skydropdown-list > li > a {
	display: block;
	background-color: #fff;
	color: #424242;
	padding: 0px 14px;
	line-height: 48px;
	border-right: 1px solid rgba(0,0,0,0.10);
	text-decoration: none;
	position: relative;
}
.skydropdown-list li a:hover .arrow:after {
	border-top-color: #b3b3b3
}
.skydropdown-list li a.active .arrow:after {
	border-top-color: #b3b3b3
}
.skydropdown-list li:hover>a .arrow:after {
	border-top-color: #b3b3b3
}
.menu-big iframe {
	width: 100%;
	margin-top: 10px;
	min-height: 200px;
}
.menu-big video {
	width: 100%;
	margin-top: 10px;
	min-height: 200px;
}
.skydropdown-list li:hover .menu-big {
	opacity: 1;
}
.menu-big {
	width: 100%;
	left: 0px;
	position: absolute;
	top: 48px;
	color: #000;
	z-index: 1000;
	margin: 0px;
	text-align: left;
	padding: 14px;
	font-size: 15px;
	border: solid 1px #eeeeee;
	background-color: #fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.menu-big .title {
	border-bottom: 1px solid #CCC;
	font-size: 14px;
	padding: 9px 5px 9px 0px;
	font-size: 17px;
	color: #424242;
	margin: 0px 0px 7px 0px;
	text-align: left;
	height: 39px;
}
.link-list li {
	display: block;
	text-align: center;
	white-space: nowrap;
	text-align: left;
}
.link-list li a {
	line-height: 18px;
	border-right: none;
	text-align: left;
	padding: 6px 0px;
	background: #fff !important;
	background-image: none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display: block;
	border-right: 1px solid #e7e7e7;
	background-color: #fff;
	color: #424242;
}
.link-list .fa {
	font-size: 11px;
}
.skydropdown-list .menu-big li:hover>a {
	background: transparent !important;
}
.skydropdown-list .menu-big li a:hover {
	background: transparent !important;
	text-decoration: underline;
}
.skydropdown-list .menu-big li .fa {
	margin-right: 5px;
	text-align: center;
	width: 18px;
}
.mrgtop {
	margin-top: 15px;
}
.show-grid div {
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #dbdbdb;
	border: 1px solid #e7e7e7;
	color: #6a6a6a;
	margin: 2px 0px;
}
.halfmenu {
	width: 40%;
	right: auto !important;
	left: auto !important;
}
.halfmenu .big-col-link {
	width: 48%;
	float: left;
	margin: 0% 1%;
}
.halfdiv {
	width: 35%;
	right: 0px !important;
	left: auto;
}
.menu_form {
	width: 100%;
	display: block;
}
.menu_form input[type="text"] {
	width: 100%;
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #000;
	font-size: 13px;
	padding: 8px 5px;
	margin-bottom: 8px;
}
.menu_form textarea {
	width: 100%;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	color: #000;
	font-size: 13px;
	padding: 8px 5px;
	margin-bottom: 8px;
	min-height: 122px;
}
.menu_form input[type="submit"] {
	width: 25%;
	display: block;
	height: 28px;
	float: right;
	border: solid 1px #ccc;
	margin-right: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.menu_form input[type="button"] {
	width: 25%;
	display: block;
	height: 28px;
	float: right;
	border: solid 1px #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.menu-big .left.carousel-control {
	padding-top: 20%;
}
.menu-big .right.carousel-control {
	padding-top: 20%;
}
.carousel-inner .item img {
	width: 100%;
}
.menu-big .carousel-caption {
	bottom: 0px;
	background-color: rgba(0,0,0,0.7);
	font-size: 13px;
	height: 31px;
	left: 0;
	padding: 7px 0;
	right: 0;
	width: 100%;
}
.skydropdown-list li > .skydropdown-submenu {
	transform: rotateX(-85deg);
	-o-transform: rotateX(-85deg);
	-moz-transform: rotateX(-85deg);
	-webkit-transform: rotateX(-85deg);
	visibility: hidden;
}
.skydropdown-list li:hover > .skydropdown-submenu {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
.skydropdown-submenu li > .skydropdown-submenu-sub {
	transform: rotateX(-85deg);
	-o-transform: rotateX(-85deg);
	-moz-transform: rotateX(-85deg);
	-webkit-transform: rotateX(-85deg);
	visibility: hidden;
}
.skydropdown-submenu li:hover > .skydropdown-submenu-sub {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
.skydropdown-submenu-sub li > .skydropdown-submenu-sub-sub {
	transform: rotateX(-85deg);
	-o-transform: rotateX(-85deg);
	-moz-transform: rotateX(-85deg);
	-webkit-transform: rotateX(-85deg);
	visibility: hidden;
}
.skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
.skydropdown-list li > .menu-big {
	transform: rotateX(-85deg);
	-o-transform: rotateX(-85deg);
	-moz-transform: rotateX(-85deg);
	-webkit-transform: rotateX(-85deg);
	visibility: hidden;
}
.skydropdown-list li:hover > .menu-big {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
.skydropdown-submenu {
	position: absolute;
	/*top: 48px;*/
	z-index: 1000;
	margin: 0px;
	padding: 2px;
	border: solid 1px #eeeeee;
	background-color: #fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.skydropdown-submenu li a {
	background: #fff !important;
	background-image: none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	text-align: left;
	display: block;
	line-height: 22px;
	padding: 6px 12px;
	text-transform: none;
	font-size: 13px;
	letter-spacing: normal;
	border-right: 0px solid;
}
.skydropdown-submenu li {
	position: relative;
	margin: 0px;
	padding: 0px;
}
.skydropdown-list li:hover .skydropdown-submenu {
	display: block;
}
.skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
	opacity: 1;
	list-style: none;
	padding: 2px;
	border: solid 1px #eeeeee;
	background-color: #fff;
}
.skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
	display: block;
}
.skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover .skydropdown-submenu-sub-sub {
	opacity: 1;
	list-style: none;
	padding: 2px;
	border: solid 1px #eeeeee;
	background-color: #fff;
}
.skydropdown-submenu li {
	position: relative;
	padding: 0px;
	margin: 0px;
	display: block;
}
.skydropdown-click {
	display: none;
}
.skydropdown-clk-two {
	display: none;
}

.skydropdown-list li:hover>a {
	background-color: rgba(0,0,0,0.08) !important;
	text-decoration: none;
}
.skydropdown-list > li > a:hover {
	background-color: rgba(0,0,0,0.08) !important;
	text-decoration: none;
}
.skydropdown-list > li > a.active {
	background-color: rgba(0,0,0,0.08) !important;
	text-decoration: none;
}
.skydropdown-submenu > li > a:hover {
	background-color: rgba(0,0,0,0.08) !important;
	border-radius: 0px!important;
	text-decoration: none;
	text-decoration: none;
}
.typography-text {
	padding: 0px 0px;
	font-size: 15px;
}
.typography-text p {
	text-align: justify;
	line-height: 24px;
	color: #656565;
}
.typography-text ul li {
	display: block;
	padding: 2px 0px;
	line-height: 22px;
}
.typography-text ul li a {
	color: #656565;
}
.hometext {
	display: none;
}
.skydropdown-submenu .fa {
	margin-right: 7px;
}
.skydown-menuopner {
	display: none !important;
}

/*--------------------------------------------------------------------------
|  03 Tab CSS
--------------------------------------------------------------------------*/ 

 @media only screen and (min-width:780px) and (max-width:1023px) {
.skydropdown-list > li > a > .fa {
	display: none !important;
}
.hometext {
	display: block !important;
}
.skydropdown {
	font-size: 13px !important;
}
.skydropdown-list li a {
	white-space: nowrap !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
}
}
 @media only screen and (min-width: 781px) and (max-width:1200px) {
.skydropdown-list li a .arrow:after {
	display: none !important;
}
}
 @media only screen and (min-width: 781px) {
.skydropdown-list li:hover > .skydropdown-submenu {
	display: block !important;
}
.skydropdown-submenu li:hover > .skydropdown-submenu-sub {
	display: block !important;
}
.skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
	display: block !important;
}
.skydropdown-list li:hover > .menu-big {
	display: block !important;
}
}
.skydropdown-anim-arrw {
	display: none;
}
.skydropdown-text {
	display: none;
}






/*--------------------------------------------------------------------------
|  04 mob CSS
--------------------------------------------------------------------------*/ 

@media only screen and (max-width: 780px) {
.hometext {
	display: inline-block;
}
.skydropdown-mob {
	display: block;
}
.skydown-mob {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: none;
	width: 100%;
}
.skydown-mob > li {
	margin: 0px 0px 0px 0px !important;
	display: block;
	position: relative;
}
.skydown-mob > li > a {
	display: block;
	color: #000;
	padding: 15px 25px;
	background-color: rgba(255,255,255,1) !important;
	border-bottom: solid 1px rgba(0,0,0,0.18)
}
.skydown-mob > li > a.active {
	box-shadow: none;
}
.skydown-mob > li:hover>a {
	box-shadow: none;
}
.skydropdown-list > li > a > .arrow {
	display: none !important;
}
.skydropdown {
	width: 96%;
	padding: 48px 0px 0px 0px !important;
	background-color: #ffffff;
	margin: 22px 2%;
	border: solid 1px #e0e0e0;
}
.skydropdown-list {
	display: none;
}
.skydropdown-list > li {
	width: 100%;
	float: none;
	text-align: left;
	clear: left;
}
.skydropdown-list > li > a {
	border-right: none;
	padding: 13px;
	line-height: 20px;
	text-transform: none;
}
.skydropdown-click {
	display: block;
}
.skydropdown-clk-two {
	display: block;
}
.skydropdown-mob-open {
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
.skydropdown-list > li:hover .skydropdown-submenu {
	display: none;
}
.skydropdown-submenu {
	position: static;
	width: 100%;
	display: none;
}
.skydropdown-submenu > li {
	margin: 0px 0px 0px 0px !important;
}
.skydropdown-submenu > li > a {
	display: block;
	color: #000;
	padding: 12px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
}
.skydropdown-submenu > li a.active {
	color: #000 !important;
}
.skydropdown-submenu > li:hover>a {
	background-color: #f5f5f5!important;
	color: #000;
}
.skydropdown-submenu-sub {
	width: 100%;
	position: static;
	left: 100%;
	top: 0;
	display: none;
	margin: 0px;
	padding: 0px;
}
.skydropdown-submenu-sub > li {
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	position: relative;
}
.skydropdown-submenu-sub > li > a {
	display: block;
	color: #000;
	padding: 10px 25px 10px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}
.skydropdown-submenu-sub > li > a.active {
	color: #000 !important;
}
.skydropdown-submenu-sub > li:hover>a {
	background-color: #EBEBEB !important;
	color: #fff;
}
.skydropdown-submenu-sub-sub {
	width: 100%;
	position: static;
	left: 100%;
	top: 0;
	display: none;
	margin: 0px;
	padding: 0px;
}
.skydropdown-submenu-sub-sub > li {
	margin: 0px 0px 0px 0px !important;
}
.skydropdown-submenu-sub-sub > li > a {
	display: block;
	color: #000;
	padding: 10px 25px 10px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}
.skydropdown-submenu-sub-sub > li a.active {
	color: #000 !important;
}
.skydropdown-submenu-sub-sub > li:hover>a {
	background-color: #EBEBEB !important;
	color: #fff;
}
	
.skydropdown-text {
	display: block !important;
}
.skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
	display: none;
}
.skydropdown-list > li > .menu-big {
	position: static;
	display: none;
}
.skydropdown-list > li > .skydropdown-submenu {
	position: static !important;
}
.skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub {
	position: static !important;
}
.skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub {
	position: static !important;
}
.halfmenu {
	width: 100% !important;
}
.halfdiv {
	width: 100% !important;
}



/* Icon 2 */
.skydropdown-anim-arrw {
	display: block !important;
	width: 50px;
	height: 42px;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	right: 5px;
	text-align: center;
	top: 3px;
	vertical-align: middle;
	z-index:1000;
}

.skydropdown-anim-arrw span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.skydropdown-anim-arrw span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.skydropdown-anim-arrw span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.skydropdown-anim-arrw span:nth-child(1), .skydropdown-anim-arrw span:nth-child(2) {
  top: 5px;
}

.skydropdown-anim-arrw span:nth-child(3), .skydropdown-anim-arrw span:nth-child(4) {
  top: 18px;
}

.skydropdown-anim-arrw span:nth-child(5), .skydropdown-anim-arrw span:nth-child(6) {
  top: 32px;
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(1),.skydropdown-anim-arrw.skydropdown-lines span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(2),.skydropdown-anim-arrw.skydropdown-lines span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(1) {
  left: 5px;
  top: 13px;
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(2) {
  left: calc(50% - 5px);
  top: 13px;
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.skydropdown-anim-arrw.skydropdown-lines span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}


/*Hamburger Lines*/

.skydropdown-click {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	cursor: pointer;
	z-index: 100;
	width: 100%;
	height: 46px;
}
.skydropdown-click i {
	display: block;
	height: 23px;
	width: 25px;
	margin-right: 8px;
	margin-top: 11px;
	background-size: 25px;
	font-size: 21px;
	color: rgba(0,0,0,0.25);
	float: right;
	text-align: center;
}
.skydropdown-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.skydropdown-text {
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #424242;
	line-height: 48px;
	text-indent: 15px;
	font-weight: normal;
	font-size: 17px;
	display: none;
	text-transform: none;
}
.skydropdown-clk-two {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	cursor: pointer;
	z-index: 100;
	/* change */ 
	width: 100%;
	height: 47px;
}
.skydropdown-clk-two i {
	display: block;
	height: 23px;
	width: 25px;
	margin-top: 11px;
	margin-right: 12px;
	background-size: 25px;
	font-size: 21px;
	color: rgba(0,0,0,0.25);
	float: right;
	text-align: center;
}
.skydropdownarrow-rotate > i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.skydropdown-list li > .skydropdown-submenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-list li:hover > .skydropdown-submenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-submenu li > .skydropdown-submenu-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-submenu li:hover > .skydropdown-submenu-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-submenu-sub li > .skydropdown-submenu-sub-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-list li > .menu-big {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.skydropdown-list li:hover > .menu-big {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
}