/*Video Gallery*/
.wrap-vg{
	overflow: hidden;
}
.wrap-vg .video-gallery-tax{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wrap-vg .gallery-box{
	overflow: hidden;
}
.wrap-vg .video h2{
	font-size: 18px;
	font-weight: 400;
	line-height: 1.25;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding: 0px 8px 15px;
	margin: 0;
}

.wrap-vg .filter-video-gallery .vg-filter{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.wrap-vg .filter-video-gallery .vg-filter .form-control{
	margin: 0 3px;
	width: inherit;
}

.wrap-vg .filter-video-gallery .vg-filter .reset-btn{
	background-color: #8c8c8c;
	color: #fff;
	display: none;
}

.wrap-vg .video {
	animation: slide-up 0.9s ease;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}