/*Contain CSS for some Plugins of Themify Page Builder*/

.background-title-style div.image-pro-overlay-inner{
	left: 40%;
	right: 40%;
}
.background-title-style div.image-pro-overlay-inner .image-pro-title{
	background-color: rgba(0,0,0,0.7);
	font-size: 3vw;
	font-weight: normal;
}