/*!
Theme Name: unyson-stadium
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: unyson-stadium
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

unyson-stadium is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
     ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *      `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}
h1 {
    margin-bottom: 32px;
}
h1, h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #C5161D;
}
p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0;
}

p, ul {
    font: 600 16px 'Open Sans', sans-serif;
    color: #444;
    margin-bottom: 18px;
}
ul {
    line-height: 23px;
    list-style-type: none;
    padding: 0;
}
p {
    line-height: 30px;
}
ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}
.wrapper-img {
    position: relative;
    padding-bottom: 80%;
}
.wrapper-img .content-img {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pricing-cols h2,
.pricing-cols h3,
.about-cols h2 {
    text-align: center;
}
.pricing-cols h2 {
    font-size: 25px;
    margin: 25px 0 0;
}
.about-cols h2 {
    font-size: 25px;
    margin: 12px 0;
}
.pricing-cols h3 {
    font: 300 30px 'Open Sans', sans-serif;
    margin: 0 0 10px;
}
.pricing-cols p,
.about-cols p {
    font: 300 14px/23px 'Open Sans', sans-serif;
}
.pricing-cols>div>article {
    background-color: #fff;
    padding: 40px 10px 10px 10px;
    text-align: justify;
}
.about-cols>div>article {
    background-color: #fff;
    padding: 18px;
    text-align: justify;
}
ul li span.glyphicon {
    list-style-type: none;
    color: #C5161D;
    font-weight: 600;
    font-size: 10px;
    margin: 0 10px 0 0;
}
.top-logo-menu.full-opacity {
    opacity: 1;
}
.padding0 {
    padding: 0;
}
.float-none {
    float: none;
}
.order {
    background-color: #c5161d;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    padding: 14px 36px;
    margin-bottom: 20px;
}
.featured-news-box {
    position: relative;
    height: 326px;
    background-size: cover;
}
.featured-news-box article {
    position: absolute;
    bottom: 0;
    padding: 0 20px 10px;
}
.featured-news-box h2,
.featured-news-box p {
    color: #fff;
}
.featured-news-box p {
    font-size: 14px;
    font-weight: 300;
    line-height:20px
}
.news-content p span,
.featured-news-box p span {
    font-size: 12px;
    text-transform: uppercase;
}
.news-content p span {
    color: #848484;
}
.news-content p {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.member-content {
    background: url('../i/member_bg.png') 0 0 no-repeat #fff;
    background-size: contain;
    overflow: hidden;
}
.pricing-content {
    background: url('../i/pricing_bg.png') 0 0 no-repeat #fff;
    background-size: contain;
    overflow: hidden;
}
.about-content {
    background: url('../i/about_bg.png') 0 0 no-repeat #fff;
    background-size: contain;
    overflow: hidden;
}
.top-cont-text {
    text-align: center;
    overflow: hidden;
        margin: 33px 0;
}
.top-cont-text .arrow {
    background-color: transparent;
        margin-top: 22px;
}
.top-cont-text h1 {
    font-size: 46px;
    color: #fff;
    margin-bottom: 8px;
    text-transform: none;
    font-weight: 400;
}
.top-cont-text h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 400;
}
.top-cont-text p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.bxslider img{
    width: 100%;
    margin: 0 auto;
}

.box-img {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 57.2%;
    background-position: 0 bottom;
}

div.box-img-top p {
    top: 18%;
}
.box-img p {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    margin: auto;
    left: 0;
    font: 3vw 'Rajdhani', sans-serif;
    width: 18%;
    line-height: inherit;
    height: 8%;
    text-align: center;
    top: 0;
    padding: 0px 0px 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
}
.top-logo-menu {
    background-color: #fff;
    opacity: 0.9;
    -webkit-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;
}
.top-logo-menu .logo {
    text-align: center;
}
.top-logo-menu .logo h2 {
    line-height: 26px;
    margin: 10px 0 0;
}
.top-logo-menu .logo h2 a {
    color: #C5161D;
    text-decoration: none;
}
.top-logo-menu .logo p {
    font-size: 12px;
    line-height: inherit;
    margin: 0 0 10px;
}
.home-content {
    padding: 60px 0;
}
.news-content {
    background-color: #fff;
    overflow: hidden;
    padding: 60px 0;
}
.double-box-content,
.double-box-content-member {
    position: relative;
    overflow: hidden;
    margin: 31px 4% 31px 0;
    background-size: contain;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
div.double-box-content-member {
    background-size: auto 80%;
}
.double-box-content-reverse,
.double-box-content-member-reverse {
    margin: 31px 0 31px 4%;
    background-position: 0% 50%;
}
.double-box-content ul,
.double-box-content-member ul {
    font-size: 14px;
}
.double-box-content article,
.double-box-content-member article {
    position: relative;
    width: 60%;
    margin: 20px 0 20px 7%;
    padding: 1% 1% 1% 3%;
    -webkit-box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.52);
    background-color: #fff;
}
.double-box-content-reverse article,
.double-box-content-member-reverse article {
    margin-right: 5%;
    float: right;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}
select.form-control {
    background-image: url('../i/pipka.png');
    appearance: none;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: 98% 17px;
}
.form-member {
    margin-bottom: 30px;
    clear: both;
}
.form-member h2 {
    text-align: center;
}
.form-member .form-control {
    border: 1px solid #f6dcdd;
    border-radius: 0;
    box-shadow: inherit;
    padding: 10px;
    height: 60px;
    font: 600 14px 'Open Sans', sans-serif;
}
.form-member select.form-control option {
    color: #444;
    font: 600 14px 'Open Sans', sans-serif;
}
.form-member .form-control::-webkit-input-placeholder {
    color: #444;
}
.form-member .form-control::-moz-placeholder {
    color: #444;
}
.form-member .form-control:-ms-input-placeholder {
    color: #444;
}
.form-member textarea.form-control {
    min-height: 120px;
}
.arrow {
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 45px;
}
.arrow a {
    color: #c5161d;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
}
.arrow a:hover {
    text-decoration: none;
}
.arrow .glyphicon {
    font-weight: bold;
    display: block;
    font-size: 25px
}
.ad {
    background-color: #E5E5E5;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.ad p {
    color: #B0B0B0;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar {
    background-color: inherit;
    border-color: transparent;
}

nav.navbar {
    margin-bottom: 0;
    margin-top: 26px;
    border: 0;
    padding: 0;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
    background-color: #fff;
}

.navbar .navbar-toggler {
    border-color: #C5161D;
}
.navbar-toggler-icon{}
.navbar .navbar-toggler-icon {
    background-color: #C5161D;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover,.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
    color: #C5161D;
    background-color: transparent;
}

.navbar .navbar-nav>li>a {
    color: #414040;
    text-transform: uppercase;
    font: 600 20px 'Rajdhani', sans-serif;
}

.nav>li>a {
    padding: 14px 0px 6px 0px;
}

.navbar-nav .dropdown-menu {
    top: 41px;
    left: -1px;
}

ul.footer-nav {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

ul.footer-nav li {
    display: inline-block;
    margin: 0 2.5%;
}
ul.footer-nav li a {
    color: #ebebeb;
    font: 16px 'Rajdhani', sans-serif;
}
ul.footer-nav li a:hover {
    text-decoration: none;
}
.footer-bottom-menu {
    padding: 20px 0;
    overflow: hidden;
}
ul.footer-bottom-nav {
    overflow: hidden;
    text-align: center;
}
ul.footer-bottom-nav li {
    display: inline-block;
    margin: 0 2%;
}
ul.footer-bottom-nav li a {
    color: #fff;
    font-size: 14px;
}
ul.footer-bottom-nav li a:hover {
    text-decoration: none;
}
footer {
    background-color: #C5161D;
}
.footer-address {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 25px 0 0;
    padding-bottom: 15px;
    text-align: center;
}
.footer-address button {
    background-color: transparent;
    border: 2px solid #ebebeb;
    text-transform: uppercase;
    color: #ebebeb;
    font-size: 20px;
    text-align: center;
    padding: 14px 54px;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer-address p {
    color: #ebebeb;
    line-height: 16px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: inherit;
}
.footer-address ul.contact-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-address ul.contact-info li {
    padding: 0;
    color: #ebebeb;
    line-height: 16px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: inherit;
}
.footer-address ul.contact-info li a {
    color: #ebebeb;
    font-weight: normal;
}
.footer-bottom-menu p {
    color: #ebebeb;
    font-size: 12px;
    font-weight: inherit;
    text-align: center;
}
.footer-bottom-menu ul li a {
    font-size: 12px;
    color: #ebebeb;
    font-weight: 300;
}

.logo img {
    margin-top: 18px;
    margin-bottom: 18px;
}
.navbar-nav>li {
    border-bottom: 1px solid #C5161D;
}
.navbar-nav>li>a {
    text-align: center;
}
.double-box-content article,
.double-box-content-member article {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.double-box-content,
div.double-box-content-member {
    margin-right: 0;
    margin-left: 0;
    background-position: 50% 50%;
    background-size: cover;
}
.wrapper-ad .wrapper-news-box {
    border-bottom: 1px solid #C5161D;
    margin-bottom: 20px;
}
.wrapper-ad .wrapper-news-box article {
    margin-bottom: 20px;
}
.wrapper-ad .wrapper-news-box h2 {
    margin-top: 0;
}
.wrapper-ad .wrapper-news-box h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper-ad .wrapper-news-box p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-box span.text {
    text-transform: uppercase;
    color: #b1b1b1;
    letter-spacing: 3px;
    font-weight: 400;
}
.btn-social-icon {
    padding: 0 6px;
    border: 0;
}
.btn-social-icon .fa {
    background-color: #C5161D;
    color: white;
    padding: 7px 7px 7px 8px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 16px;
}
.btn-social-icon .fa-facebook {
    padding: 9px 10px 5px 9px;
    font-size: 25px;
}
.fa-facebook-f:before, .fa-facebook:before {
    position: relative;
    top: 3px;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover, a:focus, a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}*/

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

li.dropdown li.dropdown ul {
  top:0;
  left:100%;
  margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

header.entry-header{
    text-align: center;
}
@media (max-width: 992px) and (min-width: 768px) {
    .top-logo-menu .logo h2 {
        font-size: 24px;
    }
}
@media (min-width: 768px) {
    .navbar-nav>li {
        border: 0;
    }
    .wrapper-img {
        padding-bottom: 150%;
    }
    .box-img-top {
        z-index: -1;
    }
    .navbar-nav {
        float: right;
    }
    .navbar-nav>li {
        margin-right: 7px;
        padding-bottom: 28px;
        border-bottom: 5px solid rgba(197, 22, 29, 0);
    }
    .navbar-nav>li:hover,
    .navbar-nav>li.active {
        padding-bottom: 28px;
        border-bottom: 5px solid #C5161D;
        transition: border-bottom 0.3s;
    }
    .wrapper-ad {
        float: right;
    }
    .news-content {
        padding: 60px 0 60px 3%;
    }
    .pricing-cols,
    .about-cols {
        padding: 0 20px;
        overflow: hidden;
    }

    .footer-bottom-menu p {
        text-align: left;
    }
    ul.footer-nav li {
        display: inline-block;
        margin: 0 1%;
    }
    .footer-address ul.contact-info li {
        display: inline;
    }
    .wrapper-ad .wrapper-news-box:last-child {
        border-bottom: 0px solid #C5161D;
        margin-bottom: 0px;
    }
}
@media (max-width: 992px) {
    .news-content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}
@media (min-width: 992px) {
    .news-content .nth-clear:nth-child(3n+4) {
        clear: left;
    }
    .navbar-nav>li {
        margin-right: 37px;
        padding-bottom: 28px;
        border-bottom: 5px solid rgba(197, 22, 29, 0);
    }
    .news-list .row {
        margin-bottom: 70px;
    }
    .footer-address ul.contact-info li {
        display: inline;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}


/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/
.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}

.navigation-top {
    position: relative;
}

.navigation-top a {
    color: #222;
    font: 600 20px 'Rajdhani', sans-serif;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
    color: #C5161D;
}

.navigation-top .current-menu-item > a {
    padding-bottom: 0px;
    border-bottom: 5px solid #C5161D;
    transition: border-bottom 0.3s;
}

.navigation-top .menu-item-has-children .current-menu-item > a {
    padding: 0.75em 1.25em;
    border-bottom: 0;
}

.main-navigation > div > ul > li > a{
    padding-bottom: 5px;
}

.main-navigation {
    clear: both;
    display: block;
}

.main-navigation ul {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */

.js .main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
    display: none;
}

.main-navigation > div > ul {
    border-top: 1px solid #eee;
    padding: 0.75em 1.695em;
}

.js .main-navigation.toggled-on > div > ul {
    display: block;
}

.main-navigation ul ul {
    padding: 0 0 0 1.5em;
}

.main-navigation ul ul.toggled-on {
    display: block;
}

.main-navigation ul ul a {
    letter-spacing: 0;
    padding: 0.4em 0;
    position: relative;
}

.main-navigation li {
    border-bottom: 1px solid #eee;
    position: relative;
}

.main-navigation li li,
.main-navigation li:last-child {
    border: 0;
}

.main-navigation a {
    display: inline-block;
    padding: 0.5em 0;
}

.main-navigation a:hover {
    text-decoration: none;
    color: #C5161D;
}

/* Menu toggle */

.menu-toggle {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #222;
    display: none;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1.5;
    margin: 1px auto 2px;
    padding: 1em;
    text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */

.js .menu-toggle {
    display: block;
}

.main-navigation.toggled-on ul.nav-menu {
    display: block;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-toggle:focus {
    outline: thin solid;
}

.menu-toggle .icon {
    margin-right: 0.5em;
    top: -2px;
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
    display: none;
}

.toggled-on .menu-toggle .icon-close {
    display: inline-block;
}

/* Dropdown Toggle */

.dropdown-toggle {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #222;
    display: block;
    font-size: 16px;
    right: -0.5em;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0.5em;
    position: absolute;
    text-shadow: none;
    top: 0;
}
nav .dropdown-toggle:after {
    content: none;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background: transparent;
}

.dropdown-toggle:focus {
    outline: thin dotted;
}

.dropdown-toggle.toggled-on .icon {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}

@media screen and (min-width: 48em) {
    /* Navigation */

    .navigation-top {
        width: 100%;
        z-index: 3;
    }

    .site-navigation-fixed.navigation-top {
        bottom: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 7;
    }

    .admin-bar .site-navigation-fixed.navigation-top {
        top: 32px;
    }

    /* Main Navigation */

    .js .menu-toggle,
    .js .dropdown-toggle {
        display: none;
    }

    .main-navigation {
        width: auto;
        margin-top: 13px;
    }

    .js .main-navigation ul,
    .js .main-navigation ul ul,
    .js .main-navigation > div > ul {
        display: block;
    }

    .main-navigation ul {
        background: transparent;
        padding: 0;
        text-align: right;
    }

    .main-navigation > div > ul {
        border: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .main-navigation > div > ul > li > a:hover{
        padding-bottom: 0;
        border-bottom: 5px solid #C5161D;
        transition: border-bottom 0.3s;
    }

    .main-navigation > div > ul > li{
        margin-right: 37px;
    }

    .main-navigation > div > ul > li > span{
        position: absolute;
        top: 21px;
        margin-left: -22px;
    }

    .main-navigation > div > ul > li:last-child{
        margin-right: 0px;
    }

    .main-navigation li {
        border: 0;
        display: inline-block;
    }

    .main-navigation li li {
        display: block;
    }

    .main-navigation a {
        padding: 1em 0;
    }

    .main-navigation ul ul {
        background: #fff;
        border: 1px solid #bbb;
        left: -999em;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 99999;
    }

    .main-navigation ul li.menu-item-has-children:before,
    .main-navigation ul li.menu-item-has-children:after,
    .main-navigation ul li.page_item_has_children:before,
    .main-navigation ul li.page_item_has_children:after {
        border-style: solid;
        border-width: 0 6px 6px;
        content: "";
        display: none;
        height: 0;
        position: absolute;
        right: 1em;
        bottom: -1px;
        width: 0;
        z-index: 100000;
    }

    .main-navigation ul li.menu-item-has-children.focus:before,
    .main-navigation ul li.menu-item-has-children:hover:before,
    .main-navigation ul li.menu-item-has-children.focus:after,
    .main-navigation ul li.menu-item-has-children:hover:after,
    .main-navigation ul li.page_item_has_children.focus:before,
    .main-navigation ul li.page_item_has_children:hover:before,
    .main-navigation ul li.page_item_has_children.focus:after,
    .main-navigation ul li.page_item_has_children:hover:after {
        display: block;
    }

    .main-navigation ul li.menu-item-has-children:before,
    .main-navigation ul li.page_item_has_children:before {
        border-color: transparent transparent #bbb;
        bottom: 0;
    }

    .main-navigation ul li.menu-item-has-children:after,
    .main-navigation ul li.page_item_has_children:after {
        border-color: transparent transparent #fff;
    }

    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
        right: 100%;
        left: auto;
    }

    .main-navigation ul ul a {
        padding: 0.35em 0.55em 0.35em 0.75em;
        min-width: 8em;
        text-align: center;
    }

    .main-navigation li li {
        -webkit-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
    }

    .main-navigation li li:hover,
    .main-navigation li li.focus {
        background: #cc3037;
    }

    .main-navigation li li a {
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

    .main-navigation li li.focus > a,
    .main-navigation li li:focus > a,
    .main-navigation li li:hover > a,
    .main-navigation li li a:hover,
    .main-navigation li li a:focus,
    .main-navigation li li.current_page_item a:hover,
    .main-navigation li li.current-menu-item a:hover,
    .main-navigation li li.current_page_item a:focus,
    .main-navigation li li.current-menu-item a:focus {
        color: #fff;
    }

    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
        right: 0;
        left: auto;
    }

    .main-navigation .menu-item-has-children > a > .icon,
    .main-navigation .page_item_has_children > a > .icon {
        display: inline;
        left: 5px;
        position: relative;
        top: -1px;
    }

    .main-navigation ul ul .menu-item-has-children > a > .icon,
    .main-navigation ul ul .page_item_has_children > a > .icon {
        margin-top: -9px;
        right: auto;
        position: absolute;
        left: 0em;
        top: 50%;
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg);
    }

    .main-navigation ul ul ul {
        left: -999em;
        margin-top: -1px;
        top: 0;
    }

    .main-navigation ul ul li.menu-item-has-children.focus:before,
    .main-navigation ul ul li.menu-item-has-children:hover:before,
    .main-navigation ul ul li.menu-item-has-children.focus:after,
    .main-navigation ul ul li.menu-item-has-children:hover:after,
    .main-navigation ul ul li.page_item_has_children.focus:before,
    .main-navigation ul ul li.page_item_has_children:hover:before,
    .main-navigation ul ul li.page_item_has_children.focus:after,
    .main-navigation ul ul li.page_item_has_children:hover:after {
        display: none;
    }

    .site-header .site-navigation-fixed .menu-scroll-down {
        display: none;
    }
}


.wpb_single_image .vc_figure {
    position: relative;
}

.wpb_single_image .vc_figure .vc_single_image-wrapper,
.wpb_single_image .vc_figure a
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpb_single_image .wpb_heading{
    position: absolute;
    color: #fff;
    padding: 3px 20px;
    font: 3vw 'Rajdhani', sans-serif;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.wpb_single_image .wpb_wrapper .vc_single_image-wrapper .zoomImg {
    z-index: 2;
}