.footer-bottom-menu {
    padding: 20px 0;
    overflow: hidden;
    p {
        color: $color__footer-gallery;
        font-size: 12px;
        font-weight: inherit;
        text-align: center;
        margin-bottom: 0;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
    }
    .center p.copy{
        text-align: center;
    }
    .footer-bottom-nav{
        overflow: hidden;
        text-align: right;
        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
        ul{
            margin-bottom: 0;
            padding: 0;
            .sub-menu{
                display: none;
            }
            li {
                display: inline-block;
                margin: 0 2%;
                a {
                    font-family: $font__content;
                    font-size: 12px;
                    color: $color__footer-gallery;
                    font-weight: 300;
                }
            }
        }
    }
}