footer {
    .footer-nav {
        text-transform: uppercase;
        margin: 0 auto;
        padding: 20px 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        ul{
            margin-bottom: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 1%;
                a {
                    color: $color__footer-gallery;
                    font: 16px $font__main;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .sub-menu{
            display: none;
        }
    }
}