.sky-menu-box{
    .skydropdown html, .skydropdown body, .skydropdown iframe, .skydropdown h1, .skydropdown h2, .skydropdown h3, .skydropdown h4, .skydropdown h5, .skydropdown h6 {
        margin: 0px;
        padding: 0px;
        border: 0px;
        font: inherit;
        vertical-align: baseline;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        font-smoothing: antialiased;
        font-smooth: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: subpixel-antialiased !important;
        font-smoothing: subpixel-antialiased !important;
        font-smooth: subpixel-antialiased;
    }
    .skydropdown{
        font-family: Helvetica, sans-serif;
        color: #fff;
        position: relative;
        font-size: 15px;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        @media only screen and (min-width: $screen-sm-min) and (max-width:1023px) {
            font-size: 13px !important;
        }
        @media only screen and (max-width: $screen-xs-max) {
            padding: 48px 0px 0px 0px !important;
            background-color: #ffffff;
            margin: 0 0 14px;
            border: solid 1px #e0e0e0;
        }
        .skydropdownarrow-rotate > i {
            @media only screen and (max-width: $screen-xs-max) {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .skydropdown-rotate {
            @media only screen and (max-width: $screen-xs-max) {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .skydropdown-mob {
            @media only screen and (max-width: $screen-xs-max) {
                display: block;
            }
        }
        .skydropdown-anim-arrw {
            display: none;
            @media only screen and (max-width: $screen-xs-max) {
                display: block !important;
                width: 50px;
                height: 42px;
                position: absolute;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                right: 5px;
                text-align: center;
                top: 3px;
                vertical-align: middle;
                z-index:1000;
            }
            span {
                @media only screen and (max-width: $screen-xs-max) {
                    display: block;
                    position: absolute;
                    height: 5px;
                    width: 50%;
                    background: $color__menu_thunderbird;
                    opacity: 1;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                }
                &:nth-child(even) {
                    @media only screen and (max-width: $screen-xs-max) {
                      left: 50%;
                    }
                }
                &:nth-child(odd) {
                    @media only screen and (max-width: $screen-xs-max) {
                      left:0px;
                    }
                }
                &:nth-child(1) {
                    @media only screen and (max-width: $screen-xs-max) {
                      top: 5px;
                    }
                }
                &:nth-child(2) {
                    @media only screen and (max-width: $screen-xs-max) {
                      top: 5px;
                    }
                }
                &:nth-child(3) {
                    @media only screen and (max-width: $screen-xs-max) {
                      top: 18px;
                    }
                }
                &:nth-child(4) {
                    @media only screen and (max-width: $screen-xs-max) {
                      top: 18px;
                    }
                }
                &:nth-child(5) {
                    @media only screen and (max-width: $screen-xs-max) {
                      top: 32px;
                    }
                }
                &:nth-child(6) {
                    @media only screen and (max-width: $screen-xs-max) {
                      top: 32px;
                    }
                }
            }
            &.skydropdown-lines {
                span{
                    &:nth-child(1) {
                        @media only screen and (max-width: $screen-xs-max) {
                          -webkit-transform: rotate(45deg);
                          -moz-transform: rotate(45deg);
                          -o-transform: rotate(45deg);
                          transform: rotate(45deg);
                        }
                    }
                    &:nth-child(6) {
                        @media only screen and (max-width: $screen-xs-max) {
                          -webkit-transform: rotate(45deg);
                          -moz-transform: rotate(45deg);
                          -o-transform: rotate(45deg);
                          transform: rotate(45deg);
                        }
                    }
                    &:nth-child(2) {
                        @media only screen and (max-width: $screen-xs-max) {
                          -webkit-transform: rotate(-45deg);
                          -moz-transform: rotate(-45deg);
                          -o-transform: rotate(-45deg);
                          transform: rotate(-45deg);
                        }
                    }
                    &:nth-child(5) {
                        @media only screen and (max-width: $screen-xs-max) {
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                    &:nth-child(1) {
                        @media only screen and (max-width: $screen-xs-max) {
                          left: 5px;
                          top: 13px;
                        }
                    }
                    &:nth-child(2) {
                        @media only screen and (max-width: $screen-xs-max) {
                          left: calc(50% - 5px);
                          top: 13px;
                        }
                    }
                    &:nth-child(3) {
                        @media only screen and (max-width: $screen-xs-max) {
                          left: -50%;
                          opacity: 0;
                        }
                    }
                    &:nth-child(4) {
                        @media only screen and (max-width: $screen-xs-max) {
                          left: 100%;
                          opacity: 0;
                        }
                    }
                    &:nth-child(5) {
                        @media only screen and (max-width: $screen-xs-max) {
                          left: 5px;
                          top: 29px;
                        }
                    }
                    &:nth-child(6) {
                        @media only screen and (max-width: $screen-xs-max) {
                          left: calc(50% - 5px);
                          top: 29px;
                        }
                    }

                }
            }
        } // skydropdown-anim-arrw
        .skydropdown-text {
            display: none;
            @media only screen and (max-width: $screen-xs-max) {
                display: block !important;
                width: 50%;
                position: absolute;
                top: 0px;
                left: 0px;
                color: $color__menu_text_main;
                line-height: 48px;
                text-indent: 15px;
                font-weight: normal;
                font-size: 17px;
                // display: none;
                text-transform: none;
            }
        }
        .cl {
            clear: both;
        }
        img, object, embed, video {
            border: 0 none;
            max-width: 100%;
        }
        a{
            &:focus {
                outline: none !important;
            }
        }
        &:before, &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
        .skydropdown-list {
            padding: 0;
            list-style-type: none;
            @media only screen and (min-width: $screen-sm-min) {
                margin: 0;
                display: flex;
                justify-content: space-evenly;
                height: 100%;
            }
            @media only screen and (max-width: $screen-xs-max) {
                display: none;
            }
            .skydropdown-click {
                display: none;
                @media only screen and (max-width: $screen-xs-max) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    cursor: pointer;
                    z-index: 100;
                    width: 13%;
                    height: 46px;
                }
                i {
                    @media only screen and (max-width: $screen-xs-max) {
                        display: block;
                        width: 25px;
                        margin-right: 8px;
                        margin-top: 14px;
                        background-size: 25px;
                        font-size: 21px;
                        color: $color__menu_text_main;
                        float: right;
                        text-align: center;
                    }
                }
            }
            .skydropdown-clk-two {
                display: none;
                @media only screen and (max-width: $screen-xs-max) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    cursor: pointer;
                    z-index: 100;
                    /* change */ 
                    width: 13%;
                    height: 47px;
                }
                i {
                    @media only screen and (max-width: $screen-xs-max) {
                        display: block;
                        height: 23px;
                        width: 25px;
                        margin-top: 11px;
                        margin-right: 12px;
                        background-size: 25px;
                        font-size: 21px;
                        color: rgba(0,0,0,0.25);
                        float: right;
                        text-align: center;
                    }
                }
            }
            .typography-text {
                padding: 0px 0px;
                font-size: 15px;
                p {
                    text-align: justify;
                    line-height: 24px;
                    color: #656565;
                }
                ul li {
                    display: block;
                    padding: 2px 0px;
                    line-height: 22px;
                    a {
                        color: #656565;
                    }
                }
            }
            .hometext {
                display: none;
                @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    display: block !important;
                }
                @media only screen and (max-width: $screen-xs-max) {
                    display: inline-block;
                }
            }
            .skydown-menuopner {
                display: none !important;
            }
            .menu-big{
                width: 100%;
                left: 0px;
                position: absolute;
                top: 48px;
                color: #000;
                z-index: 1000;
                margin: 0px;
                text-align: left;
                padding: 14px;
                font-size: 15px;
                border: solid 1px #eeeeee;
                background-color: #fff;
                opacity: 0;
                -o-transform-origin: 0% 0%;
                -ms-transform-origin: 0% 0%;
                -moz-transform-origin: 0% 0%;
                -webkit-transform-origin: 0% 0%;
                -o-transition: -o-transform 0.3s, opacity 0.3s;
                -ms-transition: -ms-transform 0.3s, opacity 0.3s;
                -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                .carousel-inner .item img {
                    width: 100%;
                }
                .carousel-caption {
                    bottom: 0px;
                    background-color: rgba(0,0,0,0.7);
                    font-size: 13px;
                    height: 31px;
                    left: 0;
                    padding: 7px 0;
                    right: 0;
                    width: 100%;
                }
                .right.carousel-control {
                    padding-top: 20%;
                }
                .left.carousel-control {
                    padding-top: 20%;
                }
                .show-grid div {
                    padding-bottom: 10px;
                    padding-top: 10px;
                    background-color: #dbdbdb;
                    border: 1px solid #e7e7e7;
                    color: #6a6a6a;
                    margin: 2px 0px;
                }
                .mrgtop {
                    margin-top: 15px;
                }
                li{
                    &:hover > a {
                        background: transparent !important;
                    }
                    a{
                        &:hover {
                            background: transparent !important;
                            text-decoration: underline;
                        }
                    }
                    .fa {
                        margin-right: 5px;
                        text-align: center;
                        width: 18px;
                    }
                }
                iframe {
                    width: 100%;
                    margin-top: 10px;
                    min-height: 200px;
                }
                video {
                    width: 100%;
                    margin-top: 10px;
                    min-height: 200px;
                }
                .title {
                    border-bottom: 1px solid #CCC;
                    font-size: 14px;
                    padding: 9px 5px 9px 0px;
                    font-size: 17px;
                    color: $color__menu_text_main;
                    margin: 0px 0px 7px 0px;
                    text-align: left;
                    height: 39px;
                }
                .link-list{
                    li {
                        display: block;
                        text-align: center;
                        white-space: nowrap;
                        text-align: left;
                        a {
                            line-height: 18px;
                            border-right: none;
                            text-align: left;
                            padding: 6px 0px;
                            background: #fff !important;
                            background-image: none !important;
                            color: #666666 !important;
                            border-right: 0 none !important;
                            display: block;
                            border-right: 1px solid #e7e7e7;
                            background-color: #fff;
                            color: $color__menu_text_main;
                        }
                    }
                    .fa {
                        font-size: 11px;
                    }
                }


                .menu_form {
                    width: 100%;
                    display: block;
                    input[type="text"] {
                        width: 100%;
                        border: 1px solid #e2e2e2;
                        color: #000;
                        font-size: 13px;
                        padding: 8px 5px;
                        margin-bottom: 8px;
                    }
                    input[type="submit"] {
                        width: 25%;
                        display: block;
                        height: 28px;
                        float: right;
                        border: solid 1px #ccc;
                        margin-right: 15px;
                    }
                    textarea {
                        width: 100%;
                        border: 1px solid #e2e2e2;
                        color: #000;
                        font-size: 13px;
                        padding: 8px 5px;
                        margin-bottom: 8px;
                        min-height: 122px;
                    }
                    input[type="button"] {
                        width: 25%;
                        display: block;
                        height: 28px;
                        float: right;
                        border: solid 1px #ccc;
                    }
                }
            }  /* end menu-big */

            .halfmenu {
                width: 40%;
                right: auto !important;
                left: auto !important;
                @media only screen and (max-width: $screen-xs-max) {
                    width: 100% !important;
                }
                .big-col-link {
                    width: 48%;
                    float: left;
                    margin: 0% 1%;
                }
            }
            .halfdiv {
                width: 35%;
                right: 0px !important;
                left: auto;
                @media only screen and (max-width: $screen-xs-max) {
                    width: 100% !important;
                }
            }

            > li {
                @media only screen and (min-width: $screen-sm-min) {
                    border-bottom: 5px solid transparent;
                    height: 100%;
                }
                &.current-menu-item{
                    @media only screen and (min-width: $screen-sm-min) {
                        border-bottom: 5px solid $color__menu_thunderbird !important;
                        transition: border-bottom 0.3s;
                    }
                    a{
                        color: $color__menu_thunderbird;
                    }
                }
                @media only screen and (max-width: $screen-xs-max) {
                    width: 100%;
                    float: none;
                    text-align: left;
                    clear: left;
                }
                > .menu-big {
                    @media only screen and (max-width: $screen-xs-max) {
                        position: static;
                        display: none;
                    }
                }
                > .skydropdown-submenu {
                    @media only screen and (max-width: $screen-xs-max) {
                        position: static !important;
                    }
                }
                > a {
                    display: block;
                    color: $color__menu_text_main;
                    font: 600 20px 'Rajdhani', sans-serif;
                    text-transform: uppercase;
                    line-height: 44px;
                    text-decoration: none;
                    position: relative;
                    @media only screen and (max-width: $screen-xs-max) {
                        border-right: none;
                        padding: 13px;
                        line-height: 20px;
                        text-transform: none;
                    }
                    .fa {
                        display: inline-block;
                        font-size: 14px;
                        line-height: inherit;
                        margin-right: 0px;
                    }
                    > .fa {
                        @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                            display: none !important;
                        }
                    }
                    &:hover{
                        // background-color: rgba(0,0,0,0.08) !important;
                        color: $color__menu_thunderbird;
                        text-decoration: none;
                    }
                    &.active {
                        background-color: rgba(0,0,0,0.08) !important;
                        text-decoration: none;
                    }
                    > .arrow{
                        @media only screen and (max-width: $screen-xs-max) {
                            display: none !important;
                        }
                    }
                }
                &:hover{
                    @media only screen and (min-width: $screen-sm-min) {
                        border-bottom: 5px solid $color__menu_thunderbird;
                        transition: border-bottom 0.3s;
                    }
                    .skydropdown-submenu {
                        @media only screen and (max-width: $screen-xs-max) {
                            display: none;
                        }
                    }
                }
                &.menu-item-has-children:hover{
                    border-bottom: 0;
                }
            }
            li{
                ul{
                    li{
                        a{
                           .fa.fa-angle-double-right {
                                font-size: 12px;
                                margin: 0 3px 0 -4px;
                            }
                        }
                    }
                }
                a{
                    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                        white-space: nowrap !important;
                        padding-left: 4px !important;
                        padding-right: 4px !important;
                    }
                    .arrow:after {
                        border-left: 4px solid rgba(0, 0, 0, 0);
                        border-right: 4px solid rgba(0, 0, 0, 0);
                        border-top: 4px solid $color__menu_text_main;
                        content: "";
                        float: right;
                        height: 0;
                        margin: 0 0 0 5%;
                        position: absolute;
                        text-align: right;
                        top: 22px;
                        width: 0;
                        @media only screen and (max-width: $screen-xs-max) {
                            display: none !important;
                        }
                    }
                    &:hover{
                        .arrow:after {
                            border-top-color: $color__menu_text_main
                        }
                    }
                    &.active .arrow:after {
                        border-top-color: $color__menu_text_main
                    }
                }
                &:hover{
                    .skydropdown-submenu {
                        display: block;
                    }
                    .menu-big {
                        opacity: 1;
                    }
                    > .menu-big {
                        transform: rotateX(0deg);
                        -o-transform: rotateX(0deg);
                        -moz-transform: rotateX(0deg);
                        -webkit-transform: rotateX(0deg);
                        opacity: 1;
                        visibility: visible;
                        @media only screen and (min-width: $screen-sm-min) {
                            display: block !important;
                        }
                        @media only screen and (max-width: $screen-xs-max) {
                            transform: none !important;
                            -o-transform: none !important;
                            -moz-transform: none !important;
                            -webkit-transform: none !important;
                            transform: none !important;
                            -o-transform: none !important;
                            -moz-transform: none !important;
                            -webkit-transform: none !important;
                            visibility: visible !important;
                            opacity: 1 !important;
                        }
                    }
                    > a {
                        text-decoration: none;
                        .arrow:after {
                            border-top-color: $color__menu_text_main;
                        }
                    }
                    > .skydropdown-submenu {
                        transform: rotateX(0deg);
                        -o-transform: rotateX(0deg);
                        -moz-transform: rotateX(0deg);
                        -webkit-transform: rotateX(0deg);
                        opacity: 1;
                        visibility: visible;
                        @media only screen and (min-width: $screen-sm-min) {
                            display: block !important;
                        }
                        @media only screen and (max-width: $screen-xs-max) {
                            transform: none !important;
                            -o-transform: none !important;
                            -moz-transform: none !important;
                            -webkit-transform: none !important;
                            transform: none !important;
                            -o-transform: none !important;
                            -moz-transform: none !important;
                            -webkit-transform: none !important;
                            visibility: visible !important;
                            opacity: 1 !important;
                            display: none;
                        }
                    }
                    > .skydropdown-submenu-sub {
                        transform: rotateX(0deg);
                        -o-transform: rotateX(0deg);
                        -moz-transform: rotateX(0deg);
                        -webkit-transform: rotateX(0deg);
                        opacity: 1;
                        visibility: visible;
                    }
                    > .skydropdown-submenu-sub-sub {
                        transform: rotateX(0deg);
                        -o-transform: rotateX(0deg);
                        -moz-transform: rotateX(0deg);
                        -webkit-transform: rotateX(0deg);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:last-child a {
                    border-right: 0px solid;
                }
                > .skydropdown-submenu {
                    transform: rotateX(-85deg);
                    -o-transform: rotateX(-85deg);
                    -moz-transform: rotateX(-85deg);
                    -webkit-transform: rotateX(-85deg);
                    visibility: hidden;
                    @media only screen and (max-width: $screen-xs-max) {
                        transform: none !important;
                        -o-transform: none !important;
                        -moz-transform: none !important;
                        -webkit-transform: none !important;
                        transform: none !important;
                        -o-transform: none !important;
                        -moz-transform: none !important;
                        -webkit-transform: none !important;
                        visibility: visible !important;
                        opacity: 1 !important;
                        display: none;
                    }
                }
                > .skydropdown-submenu-sub {
                    transform: rotateX(-85deg);
                    -o-transform: rotateX(-85deg);
                    -moz-transform: rotateX(-85deg);
                    -webkit-transform: rotateX(-85deg);
                    visibility: hidden;
                }
                > .skydropdown-submenu-sub-sub {
                    transform: rotateX(-85deg);
                    -o-transform: rotateX(-85deg);
                    -moz-transform: rotateX(-85deg);
                    -webkit-transform: rotateX(-85deg);
                    visibility: hidden;
                }
                > .menu-big {
                    transform: rotateX(-85deg);
                    -o-transform: rotateX(-85deg);
                    -moz-transform: rotateX(-85deg);
                    -webkit-transform: rotateX(-85deg);
                    visibility: hidden;
                    @media only screen and (max-width: $screen-xs-max) {
                        transform: none !important;
                        -o-transform: none !important;
                        -moz-transform: none !important;
                        -webkit-transform: none !important;
                        transform: none !important;
                        -o-transform: none !important;
                        -moz-transform: none !important;
                        -webkit-transform: none !important;
                        visibility: visible !important;
                        opacity: 1 !important;
                    }
                }
            }

            .skydropdown-submenu {
                position: absolute;
                // top: 48px;
                z-index: 1000;
                margin: 0px;
                padding: 2px;
                border: solid 1px #eeeeee;
                background-color: #fff;
                opacity: 0;
                -o-transform-origin: 0% 0%;
                -ms-transform-origin: 0% 0%;
                -moz-transform-origin: 0% 0%;
                -webkit-transform-origin: 0% 0%;
                -o-transition: -o-transform 0.3s, opacity 0.3s;
                -ms-transition: -ms-transform 0.3s, opacity 0.3s;
                -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                li{
                    position: relative;
                    margin: 0px;
                    padding: 0px;
                    display: block;
                    > .skydropdown-submenu-sub {
                        @media only screen and (max-width: $screen-xs-max) {
                            transform: none !important;
                            -o-transform: none !important;
                            -moz-transform: none !important;
                            -webkit-transform: none !important;
                            transform: none !important;
                            -o-transform: none !important;
                            -moz-transform: none !important;
                            -webkit-transform: none !important;
                            visibility: visible !important;
                            opacity: 1 !important;
                        }
                    }
                    a{
                        background-image: none !important;
                        color: #666666;
                        border-right: 0 none !important;
                        text-align: left;
                        display: block;
                        line-height: 22px;
                        padding: 6px 12px;
                        text-transform: none;
                        font-size: 13px;
                        letter-spacing: normal;
                        border-right: 0px solid;
                    }
                    &:hover{
                        .skydropdown-submenu-sub {
                            opacity: 1;
                            list-style: none;
                            padding: 2px;
                            border: solid 1px #eeeeee;
                            background-color: #fff;
                            display: block;
                            @media only screen and (min-width: $screen-sm-min) {
                                display: block !important;
                            }
                            @media only screen and (max-width: $screen-xs-max) {
                                display: none;
                            }
                        }
                        > .skydropdown-submenu-sub {
                            @media only screen and (max-width: $screen-xs-max) {
                                transform: none !important;
                                -o-transform: none !important;
                                -moz-transform: none !important;
                                -webkit-transform: none !important;
                                transform: none !important;
                                -o-transform: none !important;
                                -moz-transform: none !important;
                                -webkit-transform: none !important;
                                visibility: visible !important;
                                opacity: 1 !important;
                            }
                        }
                    }
                }
                > li {
                    @media only screen and (max-width: $screen-xs-max) {
                        margin: 0px 0px 0px 0px !important;
                    }
                    a{
                        -webkit-transition: background-color 0.2s ease-in-out;
                        transition: background-color 0.2s ease-in-out;
                        .fa{
                            &:before{
                                color: #666;
                            }
                        }
                        &.active{
                            @media only screen and (max-width: $screen-xs-max) {
                                color: #000 !important;
                            }
                        }
                        &:hover {
                            background: #cc3037;
                            color: #fff;
                            text-decoration: none;
                            .fa {
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                    }
                    > a {
                        @media only screen and (max-width: $screen-xs-max) {
                            display: block;
                            color: #000;
                            padding: 12px 40px;
                            background: #fff !important;
                            border-bottom: solid 1px #ccc;
                        }
                    }
                    &.permahover{
                        a{
                            .fa{
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                        ul {
                            li {
                                a{
                                   color: #666;
                                   .fa{
                                        &:before{
                                           color: #666;
                                        }
                                   }
                                   &:hover{
                                       background: #cc3037;
                                       color: #fff;
                                       .fa{
                                            &:before{
                                               color: #fff;
                                            }
                                        }
                                    }
                                }
                                &.permahover > a{
                                   background: #cc3037;
                                   color: #fff;
                                   .fa{
                                       &:before{
                                           color: #fff;
                                       }
                                   }
                                }
                            }
                        }
                    }
                    &:hover{
                        background: #cc3037;
                        a {
                            color: #fff;
                        }
                        > a {
                            @media only screen and (max-width: $screen-xs-max) {
                                background-color: #f5f5f5!important;
                                color: #000;
                            }
                        }
                    }
                }
                .skydropdown-submenu-sub {
                    min-width: 180px;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    margin: 0px;
                    padding: 0px;
                    opacity: 0;
                    -o-transform-origin: 0% 0%;
                    -ms-transform-origin: 0% 0%;
                    -moz-transform-origin: 0% 0%;
                    -webkit-transform-origin: 0% 0%;
                    -o-transition: -o-transform 0.4s, opacity 0.4s;
                    -ms-transition: -ms-transform 0.4s, opacity 0.4s;
                    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
                    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
                    @media only screen and (max-width: $screen-xs-max) {
                        width: 100%;
                        // position: static;
                        position: static !important;
                        left: 100%;
                        top: 0;
                        display: none;
                        margin: 0px;
                        padding: 0px;
                    }
                    .skydropdown-submenu-sub-sub {
                        min-width: 220px;
                        position: absolute;
                        left: 100%;
                        top: 0;
                        margin: 0px;
                        padding: 0px;
                        opacity: 0;
                        -o-transform-origin: 0% 0%;
                        -ms-transform-origin: 0% 0%;
                        -moz-transform-origin: 0% 0%;
                        -webkit-transform-origin: 0% 0%;
                        -o-transition: -o-transform 0.4s, opacity 0.4s;
                        -ms-transition: -ms-transform 0.4s, opacity 0.4s;
                        -moz-transition: -moz-transform 0.4s, opacity 0.4s;
                        -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
                        @media only screen and (max-width: $screen-xs-max) {
                            width: 100%;
                            // position: static;
                            position: static !important;
                            left: 100%;
                            top: 0;
                            display: none;
                            margin: 0px;
                            padding: 0px;
                        }
                        > li {
                            @media only screen and (max-width: $screen-xs-max) {
                                margin: 0px 0px 0px 0px !important;
                            }
                            > a {
                                @media only screen and (max-width: $screen-xs-max) {
                                    display: block;
                                    color: #000;
                                    padding: 10px 25px 10px 25px;
                                    background: #fff !important;
                                    border-bottom: solid 1px #ccc;
                                    font-weight: normal;
                                }
                            }
                            a{
                                &.active {
                                    @media only screen and (max-width: $screen-xs-max) {
                                        color: #000 !important;
                                    }
                                }
                            }
                            &:hover{
                                > a {
                                    @media only screen and (max-width: $screen-xs-max) {
                                        background-color: #EBEBEB !important;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    li{
                        > .skydropdown-submenu-sub-sub {
                            @media only screen and (max-width: $screen-xs-max) {
                                transform: none !important;
                                -o-transform: none !important;
                                -moz-transform: none !important;
                                -webkit-transform: none !important;
                                transform: none !important;
                                -o-transform: none !important;
                                -moz-transform: none !important;
                                -webkit-transform: none !important;
                                visibility: visible !important;
                                opacity: 1 !important;
                            }
                        }
                        &:hover{
                            .skydropdown-submenu-sub-sub {
                                opacity: 1;
                                list-style: none;
                                padding: 2px;
                                border: solid 1px #eeeeee;
                                background-color: #fff;
                            }
                            > .skydropdown-submenu-sub-sub {
                                @media only screen and (min-width: $screen-sm-min) {
                                    display: block !important;
                                }
                                @media only screen and (max-width: $screen-xs-max) {
                                    transform: none !important;
                                    -o-transform: none !important;
                                    -moz-transform: none !important;
                                    -webkit-transform: none !important;
                                    transform: none !important;
                                    -o-transform: none !important;
                                    -moz-transform: none !important;
                                    -webkit-transform: none !important;
                                    visibility: visible !important;
                                    opacity: 1 !important;
                                }
                            }
                        }
                    }
                    > li {
                        @media only screen and (max-width: $screen-xs-max) {
                            margin: 0px 0px 0px 0px !important;
                            padding: 0px;
                            position: relative;
                        }
                        > a {
                            @media only screen and (max-width: $screen-xs-max) {
                                display: block;
                                color: #000;
                                padding: 10px 25px 10px 60px;
                                background: #fff !important;
                                border-bottom: solid 1px #ccc;
                                font-weight: normal;
                            }
                            &.active {
                                @media only screen and (max-width: $screen-xs-max) {
                                    color: #000 !important;
                                }
                            }
                        }
                        &:hover{
                            > a {
                                @media only screen and (max-width: $screen-xs-max) {
                                    background-color: #EBEBEB !important;
                                    /*color: #fff;*/
                                }
                            }
                        }
                        li{
                            a{
                                @media only screen and (max-width: $screen-xs-max) {
                                    padding: 10px 25px 10px 75px;
                                }
                            }
                        }
                    }
                }
                .fa {
                    margin-right: 7px;
                    &:before{
                        color: $color__menu_text_main;
                    }
                    &.fa-angle-right{
                        @media only screen and (max-width: $screen-xs-max) {
                            display: none;
                        }
                    }
                }
            } /* skydropdown-submenu */


        } /* skydropdown-list */

        .skydown-mob {
            @media only screen and (max-width: $screen-xs-max) {
                margin: 0;
                padding: 0;
                list-style: none;
                float: none;
                width: 100%;
                position: relative;
                z-index: 1050;
            }
            > li {
                @media only screen and (max-width: $screen-xs-max) {
                    margin: 0 !important;
                    display: block;
                    position: relative;
                }
                > a {
                    @media only screen and (max-width: $screen-xs-max) {
                        display: block;
                        color: #000;
                        padding: 15px 25px;
                        background-color: rgba(255,255,255,1) !important;
                        border-bottom: solid 1px rgba(0,0,0,0.18)
                    }
                    &.active {
                        @media only screen and (max-width: $screen-xs-max) {
                            box-shadow: none;
                        }
                    }
                }
                &:hover{
                    > a {
                        @media only screen and (max-width: $screen-xs-max) {
                            box-shadow: none;
                        }
                    }
                }
            }
        } /* skydown-mob */
    }
}
