/* rajdhani-300 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  src: local('Rajdhani Light'), local('Rajdhani-Light'),
       url('../webfonts/rajdhani-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/rajdhani-v8-latin-300.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
/* rajdhani-regular - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'),
       url('../webfonts/rajdhani-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/rajdhani-v8-latin-regular.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
/* rajdhani-500 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  src: local('Rajdhani Medium'), local('Rajdhani-Medium'),
       url('../webfonts/rajdhani-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/rajdhani-v8-latin-500.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
/* rajdhani-600 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  src: local('Rajdhani SemiBold'), local('Rajdhani-SemiBold'),
       url('../webfonts/rajdhani-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/rajdhani-v8-latin-600.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
/* rajdhani-700 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'),
       url('../webfonts/rajdhani-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/rajdhani-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/rajdhani-v8-latin-700.svg#Rajdhani') format('svg'); /* Legacy iOS */
}