/* remove the original arrow */
div.form-stadium {
    .form-group {
        position: relative;
        margin-bottom: 0.5rem;
        .selectbasic{
            select{
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none; 
                &::-ms-expand {
                    display: none;
                }
            }
            + i.fas {
                pointer-events: none;
                background-color: transparent;
                z-index: 10;
                right: 10px;
                font-size: 28px;
                top: 17px;
                position: absolute;
                color: #C5161D;
            }
        }
        .form-control {
            border: 1px solid #f6dcdd;
            border-radius: 0;
            box-shadow: inherit;
            padding: 10px;
            height: 60px;
            font: 600 14px 'Open Sans', sans-serif;
            &::placeholder{
              color:#ccc;
            }
        }
        textarea {
            min-height: 120px;
        }
    }
    .ajax-loader {
        display: block;
        margin: 5px auto 0;
    }
    + div.wpcf7-response-output {
        margin: 0;
    }
}

.sky-main-btn {
    background-color: #c5161d;
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 0 auto;
    font-weight: 500;
    padding: 14px 36px;
    transition: 0.3s all;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #3a3a3a;
    }
    &.post-btn{
        font-size: 16px;
        padding: 5px 10px;
    }
}

/* Comment Form */
div.error,
div.valid,
span.wpcf7-not-valid-tip{
  padding: 5px;
  font-weight: 600;
  margin: 2px 0 0;
}
input.error,
textarea.error,
.wpcf7-not-valid{
  border: 1px solid #fe0000 !important;
}
input.valid,
textarea.valid{
  border: 1px solid #128e00 !important;
}
div.error,
span.wpcf7-not-valid-tip{
  color: #fe0000;
  background: rgba(254, 0, 0, 0.12);
}
div.valid{
  color: #128e00;
  background: rgba(18, 142, 0, 0.12);
}

.comment-form-cookies-consent label{
    display: inline;
    margin-left: 5px;
    font: 14px/10px "Open Sans", sans-serif;
}