.customize-partial-edit-shortcut-copy{
    left: 10%;
}
.skydropdown .customize-partial-edit-shortcut{
    left: 7%;
}
.footer-address{
	position: relative;
}
.customize-partial-edit-shortcut-cmp_info{
	top: -30px;
}