/*!
Theme Name: Stadium
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Stadium
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Stadium is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables & Mixins
# Normalize
# Typography
# Elements
# Shortcodes
# Forms
# Navigation
# Layout
# Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# # Variables & Mixins
--------------------------------------------------------------*/
/**********************************/
/* Preloader
/**********************************/
/**********************************/
/* Search
/**********************************/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* rajdhani-300 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  src: local("Rajdhani Light"), local("Rajdhani-Light"), url("../webfonts/rajdhani-v8-latin-300.woff2") format("woff2"), url("../webfonts/rajdhani-v8-latin-300.woff") format("woff"), url("../webfonts/rajdhani-v8-latin-300.ttf") format("truetype"), url("../webfonts/rajdhani-v8-latin-300.svg#Rajdhani") format("svg");
  /* Legacy iOS */
}
/* rajdhani-regular - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: local("Rajdhani Regular"), local("Rajdhani-Regular"), url("../webfonts/rajdhani-v8-latin-regular.woff2") format("woff2"), url("../webfonts/rajdhani-v8-latin-regular.woff") format("woff"), url("../webfonts/rajdhani-v8-latin-regular.ttf") format("truetype"), url("../webfonts/rajdhani-v8-latin-regular.svg#Rajdhani") format("svg");
  /* Legacy iOS */
}
/* rajdhani-500 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  src: local("Rajdhani Medium"), local("Rajdhani-Medium"), url("../webfonts/rajdhani-v8-latin-500.woff2") format("woff2"), url("../webfonts/rajdhani-v8-latin-500.woff") format("woff"), url("../webfonts/rajdhani-v8-latin-500.ttf") format("truetype"), url("../webfonts/rajdhani-v8-latin-500.svg#Rajdhani") format("svg");
  /* Legacy iOS */
}
/* rajdhani-600 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  src: local("Rajdhani SemiBold"), local("Rajdhani-SemiBold"), url("../webfonts/rajdhani-v8-latin-600.woff2") format("woff2"), url("../webfonts/rajdhani-v8-latin-600.woff") format("woff"), url("../webfonts/rajdhani-v8-latin-600.ttf") format("truetype"), url("../webfonts/rajdhani-v8-latin-600.svg#Rajdhani") format("svg");
  /* Legacy iOS */
}
/* rajdhani-700 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: local("Rajdhani Bold"), local("Rajdhani-Bold"), url("../webfonts/rajdhani-v8-latin-700.woff2") format("woff2"), url("../webfonts/rajdhani-v8-latin-700.woff") format("woff"), url("../webfonts/rajdhani-v8-latin-700.ttf") format("truetype"), url("../webfonts/rajdhani-v8-latin-700.svg#Rajdhani") format("svg");
  /* Legacy iOS */
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

a {
  color: royalblue;
  transition: all 0.3s linear;
}
a:hover, a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

p, ul {
  font: 16px/23px "Open Sans", sans-serif;
  color: #444;
  margin-bottom: 18px;
}

ul {
  line-height: 23px;
  padding-left: 18px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1, h2 {
  font-size: 30px;
  color: #C5161D;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/**********************************/
/* Post Share Buttons
/**********************************/
.share-buttons {
  overflow: hidden;
}
.share-buttons a {
  font-size: 14px;
  background: #c5161d;
  color: #fff;
  border-radius: 3px;
  height: 22px;
  margin-right: 7px;
  width: 22px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  padding: 14px;
  display: inline-flex;
  transition: all 0.2s linear;
}
.share-buttons a:hover {
  background-color: #474747;
}
.share-buttons a:hover i {
  animation: jumpIcon 0.3s forwards;
}

@keyframes jumpIcon {
  0% {
    transform: translate(0, 0px);
  }
  33% {
    transform: translate(0, -10px);
  }
  66% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
/**********************************/
/* Preloader
/**********************************/
.site-preloader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
.site-preloader .loader {
  position: relative;
  width: 75px;
  height: 100px;
}
.site-preloader .loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #969696;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.site-preloader .loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 2s infinite;
}
.site-preloader .loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 2s infinite;
}
.site-preloader .loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 2s infinite;
}
.site-preloader .loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 2s infinite;
}
.site-preloader .loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 2s infinite;
}
.site-preloader .loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #969696;
  border-radius: 50%;
  animation: ball 2s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
/**********************************/
/* Plugin: Jarallax
/**********************************/
.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover;';
  object-fit: cover;
  z-index: -1;
}

/**********************************/
/* Back to top
/**********************************/
a.back-to-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  border: 1px solid;
  width: 40px;
  height: 40px;
  right: 30px;
  bottom: 30px;
  color: #fff;
  font-size: 20px;
  z-index: 95;
  text-decoration: none;
  background-color: #C5161D;
  border-radius: 4px;
  transition: all 0.3s linear;
  outline: none;
}
a.back-to-top.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
}
a.back-to-top.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
a.back-to-top.visible i {
  animation: animateIconTop 0.5s linear, animateIconBottomToTop 1s 0.5s infinite linear;
}
a.back-to-top:hover {
  color: #fff;
  background-color: #474747;
}

@keyframes animateIconTop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -10px);
  }
}
@keyframes animateIconBottomToTop {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  50% {
    transform: translate(0, -10px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
/**********************************/
/* Search
/**********************************/
#sticky-wrapper.is-sticky .header .search {
  top: 50px;
}
@media only screen and (max-width: 767px) {
  #sticky-wrapper.is-sticky .header .search {
    top: 80px;
  }
}

.search {
  max-width: 70px;
  width: 100%;
  height: 60px;
  background-color: #777;
  position: absolute;
  right: 0;
  top: 17px;
  transition: all 0.5s ease;
  z-index: 1010;
}
@media only screen and (max-width: 767px) {
  .search {
    top: 10px;
  }
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #ff000a;
  transition: all 0.5s ease;
}
.search.open {
  max-width: 520px;
  background-color: #2A2E37;
}
.search.open .search-box {
  display: block;
}
.search.open:before {
  height: 40px;
  margin: 10px 0 10px 24px;
  position: absolute;
}
.search .search-box {
  width: 87%;
  height: 100%;
  padding: 10px 0px 10px 45px;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 34px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .search .search-box {
    width: 100%;
    padding: 10px 65px 10px 45px;
  }
}
.search .search-box:focus {
  outline: none;
}

.codyshop-ajax-search {
  position: absolute;
  box-sizing: border-box;
  background: #fff;
  z-index: 10;
  border-top: none;
  max-height: 570px;
  overflow-y: auto;
  width: 100%;
  display: none;
  opacity: 0;
}
.open .codyshop-ajax-search {
  opacity: 1;
}
.codyshop-ajax-search li {
  overflow: hidden;
  line-height: 17px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
  list-style: none;
}
.codyshop-ajax-search li:last-child {
  border-bottom: none;
}
.codyshop-ajax-search li p {
  line-height: 14px;
  font-size: 13px;
  margin-bottom: 0;
  color: #7c83a0;
  font-style: italic;
  background-color: white;
}
.codyshop-ajax-search li a {
  color: #7c83a0;
}

.search-button {
  width: 67px;
  height: 60px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
  cursor: pointer;
}

.search-icon {
  width: 35px;
  height: 35px;
  border-radius: 40px;
  border: 3px solid #fff;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: '';
  width: 3px;
  height: 12px;
  position: absolute;
  right: -2px;
  top: 27px;
  display: block;
  background-color: #ff000a;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 12px;
  position: absolute;
  right: -10px;
  top: 35px;
  display: block;
  background-color: #ff000a;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 45px;
  height: 45px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 17px;
  top: 16px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 17px;
  top: 6px;
  height: 18px;
}

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
/**********************************/
/* Shortcode: Hero Header
/**********************************/
.vlt-hero-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 140px 0;
  min-height: 80vh;
  background-color: #efefef;
}
.vlt-hero-title .vlt-hero-title__content {
  min-width: 20%;
  padding: 5px 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.vlt-hero-title .vlt-hero-title__content h2 {
  text-transform: uppercase;
  font: 3vw 'Rajdhani', sans-serif;
  color: #fff;
  margin: 0;
}
.vlt-hero-title .vlt-hero-title__content p {
  margin-top: 5px;
  margin-bottom: 0;
}

/**********************************/
/* Shortcode: Team Member
/**********************************/
.team .image-flip .mainflip .frontside, .team .image-flip .mainflip .backside {
  border: 1px solid #e0e0e0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
  -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
  box-shadow: 5px 7px 9px -4px #9e9e9e;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.team .image-flip .mainflip .frontside .card, .team .image-flip .mainflip .backside .card {
  min-height: 312px;
  border: none;
  background: #ffffff;
}
.team .image-flip .mainflip .frontside .card .card-title, .team .image-flip .mainflip .backside .card .card-title {
  color: #007b5e;
}

.team {
  max-width: 500px;
  margin: 0 auto;
}
.team .image-flip .mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.team .image-flip .mainflip .frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.team .image-flip .mainflip .frontside .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.team .image-flip .mainflip .frontside .btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}
.team .image-flip .mainflip .frontside .btn-primary:hover, .team .image-flip .mainflip .frontside .btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}
.team .image-flip .mainflip .backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.team .image-flip .mainflip .backside a {
  font-size: 18px;
  color: #007b5e;
  padding: 0 5px;
}
.team .image-flip .mainflip:hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.team .image-flip .mainflip:hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

/**********************************/
/* Shortcode: Company Team Card
/**********************************/
.cardContainer {
  position: relative;
  max-width: 332px;
  height: 520px;
  min-height: 400px;
  margin: 0 auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media only screen and (max-width: 767px) {
  .cardContainer {
    height: 555px;
  }
}
.cardContainer .active {
  -webkit-transform: translateZ(0px) rotateY(180deg) !important;
  transform: translateZ(0px) rotateY(180deg) !important;
}
.cardContainer .active:after {
  display: none;
}
.cardContainer .tm-card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: white;
}
.cardContainer .tm-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.cardContainer .tm-card:hover {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.cardContainer .tm-card:hover:after {
  opacity: 1;
}
.cardContainer .tm-card .side {
  border: 1px solid #e0e0e0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  border-radius: 5px;
}
.cardContainer .tm-card .front {
  z-index: 2;
}
.cardContainer .tm-card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cardContainer .tm-card .info {
  padding: 18px 5px 10px;
}
.cardContainer .front .img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 100%;
}
.cardContainer .back {
  position: relative;
}
.cardContainer .back .btn {
  position: absolute;
  bottom: 10px;
  height: 56px;
  width: 90%;
  display: flex;
  left: 5%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(-90deg, #FFB714, #FFE579);
  border-radius: 5px;
}
.cardContainer .back .btn:hover h4 {
  transform: translateX(0px);
}
.cardContainer .back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.cardContainer .back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
  margin: 0;
  color: #000;
}
.cardContainer .back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

/**********************************/
/* Masonry
/**********************************/
.masonry {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
}

.masonry .gutter-sizer {
  width: 0px;
}

.masonry .grid-sizer,
.masonry .grid-item {
  float: left;
}

.masonry .grid-item {
  padding: 0 15px;
  margin-bottom: 30px;
}

.masonry .grid-item.w100 {
  width: 100% !important;
}

.masonry[data-masonry-col="1"] .grid-sizer,
.masonry[data-masonry-col="1"] .grid-item {
  width: 100%;
}

.masonry[data-masonry-col="1"] .grid-item {
  margin-bottom: 50px;
}

.masonry[data-masonry-col="2"] .grid-sizer,
.masonry[data-masonry-col="2"] .grid-item {
  width: calc(100% * 1 / 2);
}

@media (max-width: 767px) {
  .masonry[data-masonry-col="2"] .grid-sizer,
  .masonry[data-masonry-col="2"] .grid-item {
    width: 100%;
  }
}
.masonry[data-masonry-col="3"] .grid-sizer,
.masonry[data-masonry-col="3"] .grid-item {
  width: calc(100% * 1 / 3);
}

@media (max-width: 991px) {
  .masonry[data-masonry-col="3"] .grid-sizer,
  .masonry[data-masonry-col="3"] .grid-item {
    width: calc(100% * 1 / 2);
  }
}
@media (max-width: 767px) {
  .masonry[data-masonry-col="3"] .grid-sizer,
  .masonry[data-masonry-col="3"] .grid-item {
    width: 100%;
  }
}
/**********************************/
/* Appearance effect
/**********************************/
div[data-appearance-effect="1"] .post,
div[data-appearance-effect="1"] .product {
  opacity: 0;
}

/**********************************/
/* Post style masonry
/**********************************/
.vlt-post--style-masonry {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.1);
  transition: box-shadow 0.3s linear;
}

.vlt-post--style-masonry:hover {
  box-shadow: 0px 8px 15px 0px rgba(51, 51, 51, 0.25);
}

.vlt-post--style-masonry .vlt-post-content {
  padding: 20px;
}

.vlt-post--style-masonry .vlt-post-content header .vlt-post-title {
  margin-top: 10px;
  font-size: 18px;
}

.vlt-post--style-masonry .vlt-post-content header .vlt-post-meta {
  font-size: 14px;
}

.vlt-post--style-masonry .vlt-post-content .vlt-post-excerpt {
  margin-top: 10px;
}

/**********************************/
/* Post thumbnail
/**********************************/
.vlt-post-thumbnail {
  position: relative;
  width: 100%;
  font-size: 0;
}

.vlt-post-thumbnail__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/**********************************/
/* Post title
/**********************************/
.vlt-post-title {
  margin: 0;
  line-height: 1.4;
}

.vlt-post-title i {
  margin-right: 5px;
}

.vlt-post-title a:hover {
  text-decoration: none;
  color: #5b5b5b;
}

/**********************************/
/* Pagination general
/**********************************/
.vlt-pagination {
  position: relative;
  margin: 50px 0 20px 0;
  padding-top: 50px;
  text-align: center;
}

.vlt-pagination::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 2px;
  background-color: #474747;
}

/**********************************/
/* Paged pagination
/**********************************/
.vlt-pagination--paged ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.vlt-pagination--paged li.prev-page + li.next-page {
  margin-left: 6px;
}

.vlt-pagination--paged li.prev-page,
.vlt-pagination--paged li.next-page {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 40px;
  background-color: #efefef;
  border-radius: 4px;
}

.vlt-pagination--paged li.prev-page.inactive,
.vlt-pagination--paged li.next-page.inactive {
  cursor: not-allowed;
}

.vlt-pagination--paged li.prev-page a,
.vlt-pagination--paged li.next-page a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: #474747;
}

.vlt-pagination--paged li.prev-page a i,
.vlt-pagination--paged li.next-page a i {
  position: relative;
  z-index: 3;
}

.vlt-pagination--paged li.prev-page a span,
.vlt-pagination--paged li.next-page a span {
  position: absolute;
  top: 0;
  height: 100%;
  color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 40px;
  z-index: 2;
  border-radius: 4px;
  pointer-events: none;
  background-color: #474747;
  transform: scaleX(0);
  transition: all 0.3s linear;
}

.vlt-pagination--paged li.prev-page a span {
  right: 0;
  padding-right: 55px;
  padding-left: 15px;
  transform-origin: right;
}

.vlt-pagination--paged li.next-page a span {
  left: 0;
  padding-left: 55px;
  padding-right: 15px;
  transform-origin: left;
}

.vlt-pagination--paged li.prev-page a:hover,
.vlt-pagination--paged li.next-page a:hover {
  color: #fff;
  transition-delay: 150ms;
}

.vlt-pagination--paged li.prev-page a:hover span,
.vlt-pagination--paged li.next-page a:hover span {
  color: #fff;
  transform: scaleX(1);
}

/**********************************/
/* Numeric pagination
/**********************************/
.vlt-pagination--numeric span,
.vlt-pagination--numeric a {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  padding: 0 16px;
  margin-right: 6px;
  color: #474747;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #efefef;
  border-radius: 4px;
}

.vlt-pagination--numeric span:last-child,
.vlt-pagination--numeric a:last-child {
  margin-right: 0;
}

.vlt-pagination--numeric span.current,
.vlt-pagination--numeric a:hover {
  color: #fff;
  background-color: #474747;
}

@media (max-width: 575px) {
  .vlt-pagination--numeric {
    font-size: 32px;
  }
}
/**********************************/
/* Load more
/**********************************/
.vlt-pagination--load-more {
  text-align: center;
}

.vlt-pagination--load-more a i {
  margin-right: 5px;
}

.vlt-pagination--load-more a:not(.loading) i {
  display: none;
}

.vlt-pagination--load-more a.disabled {
  opacity: 0.8;
  pointer-events: none;
}

/*Animation*/
.icofont-rotate {
  display: inline-block;
  -webkit-animation: icofont-rotate 2s infinite linear;
  animation: icofont-rotate 2s infinite linear;
}

@-webkit-keyframes icofont-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icofont-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/**********************************/
/* Video Gallery
/**********************************/
.gallery-box {
  overflow: hidden;
}

.wrap-vg {
  overflow: hidden;
}
.wrap-vg .filter-video-gallery .vg-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.wrap-vg .filter-video-gallery .vg-filter .reset-btn {
  display: none;
  padding: 7px;
  border-radius: 0;
  margin: 0 0 0.5rem;
  width: inherit;
  text-transform: uppercase;
  font-size: 16px;
}
.wrap-vg .filter-video-gallery .vg-filter .form-group {
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.wrap-vg .filter-video-gallery .vg-filter .form-group .form-control {
  margin: 0 3px;
  width: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: inherit;
  padding: 10px 36px 10px 10px;
}
.wrap-vg .filter-video-gallery .vg-filter .form-group .selectbasic + i.fas {
  top: inherit;
}
.wrap-vg .video-gallery-tax {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrap-vg .video-gallery-tax.loading:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  opacity: 0.7;
  z-index: 10;
}
.wrap-vg .video-gallery-tax .video {
  animation: slide-up 0.9s ease;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 23%;
  margin: 1%;
}
@media only screen and (max-width: 991px) {
  .wrap-vg .video-gallery-tax .video {
    width: 31.333%;
  }
}
@media only screen and (max-width: 767px) {
  .wrap-vg .video-gallery-tax .video {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .wrap-vg .video-gallery-tax .video {
    display: block;
    width: 96%;
    margin: 2%;
    float: none;
  }
}
.wrap-vg .video-gallery-tax .video figure {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.wrap-vg .video-gallery-tax .video figure video {
  border: 0 none;
  max-width: 100%;
}
.wrap-vg .video-gallery-tax .video figure a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}
.wrap-vg .video-gallery-tax .video h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 0px 8px 15px;
  margin: 0;
}
.wrap-vg .video-gallery-tax .video img {
  width: 100%;
  opacity: 1;
}
.wrap-vg .video-gallery-tax .video imghover, .wrap-vg .video-gallery-tax .video imgactive, .wrap-vg .video-gallery-tax .video imgfocus {
  opacity: 0.75;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* remove the original arrow */
div.form-stadium .form-group {
  position: relative;
  margin-bottom: 0.5rem;
}
div.form-stadium .form-group .selectbasic select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
div.form-stadium .form-group .selectbasic select::-ms-expand {
  display: none;
}
div.form-stadium .form-group .selectbasic + i.fas {
  pointer-events: none;
  background-color: transparent;
  z-index: 10;
  right: 10px;
  font-size: 28px;
  top: 17px;
  position: absolute;
  color: #C5161D;
}
div.form-stadium .form-group .form-control {
  border: 1px solid #f6dcdd;
  border-radius: 0;
  box-shadow: inherit;
  padding: 10px;
  height: 60px;
  font: 600 14px 'Open Sans', sans-serif;
}
div.form-stadium .form-group .form-control::placeholder {
  color: #ccc;
}
div.form-stadium .form-group textarea {
  min-height: 120px;
}
div.form-stadium .ajax-loader {
  display: block;
  margin: 5px auto 0;
}
div.form-stadium + div.wpcf7-response-output {
  margin: 0;
}

.sky-main-btn {
  background-color: #c5161d;
  border: 0;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 auto;
  font-weight: 500;
  padding: 14px 36px;
  transition: 0.3s all;
  text-decoration: none;
}
.sky-main-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3a3a3a;
}
.sky-main-btn.post-btn {
  font-size: 16px;
  padding: 5px 10px;
}

/* Comment Form */
div.error,
div.valid,
span.wpcf7-not-valid-tip {
  padding: 5px;
  font-weight: 600;
  margin: 2px 0 0;
}

input.error,
textarea.error,
.wpcf7-not-valid {
  border: 1px solid #fe0000 !important;
}

input.valid,
textarea.valid {
  border: 1px solid #128e00 !important;
}

div.error,
span.wpcf7-not-valid-tip {
  color: #fe0000;
  background: rgba(254, 0, 0, 0.12);
}

div.valid {
  color: #128e00;
  background: rgba(18, 142, 0, 0.12);
}

.comment-form-cookies-consent label {
  display: inline;
  margin-left: 5px;
  font: 14px/10px "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.sky-menu-box .skydropdown html, .sky-menu-box .skydropdown body, .sky-menu-box .skydropdown iframe, .sky-menu-box .skydropdown h1, .sky-menu-box .skydropdown h2, .sky-menu-box .skydropdown h3, .sky-menu-box .skydropdown h4, .sky-menu-box .skydropdown h5, .sky-menu-box .skydropdown h6 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-smoothing: subpixel-antialiased !important;
  font-smooth: subpixel-antialiased;
}
.sky-menu-box .skydropdown {
  font-family: Helvetica, sans-serif;
  color: #fff;
  position: relative;
  font-size: 15px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  /* skydropdown-list */
  /* skydown-mob */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sky-menu-box .skydropdown {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown {
    padding: 48px 0px 0px 0px !important;
    background-color: #ffffff;
    margin: 0 0 14px;
    border: solid 1px #e0e0e0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdownarrow-rotate > i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-mob {
    display: block;
  }
}
.sky-menu-box .skydropdown .skydropdown-anim-arrw {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw {
    display: block !important;
    width: 50px;
    height: 42px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 5px;
    text-align: center;
    top: 3px;
    vertical-align: middle;
    z-index: 1000;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #C5161D;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(even) {
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(odd) {
    left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(1) {
    top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(2) {
    top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(3) {
    top: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(4) {
    top: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(5) {
    top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(6) {
    top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(1) {
    left: 5px;
    top: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(2) {
    left: calc(50% - 5px);
    top: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
}
.sky-menu-box .skydropdown .skydropdown-text {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-text {
    display: block !important;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #414040;
    line-height: 48px;
    text-indent: 15px;
    font-weight: normal;
    font-size: 17px;
    text-transform: none;
  }
}
.sky-menu-box .skydropdown .cl {
  clear: both;
}
.sky-menu-box .skydropdown img, .sky-menu-box .skydropdown object, .sky-menu-box .skydropdown embed, .sky-menu-box .skydropdown video {
  border: 0 none;
  max-width: 100%;
}
.sky-menu-box .skydropdown a:focus {
  outline: none !important;
}
.sky-menu-box .skydropdown:before, .sky-menu-box .skydropdown:after {
  content: "";
  display: table;
}
.sky-menu-box .skydropdown:after {
  clear: both;
}
.sky-menu-box .skydropdown .skydropdown-list {
  padding: 0;
  list-style-type: none;
  /* end menu-big */
  /* skydropdown-submenu */
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list {
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-click {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-click {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 100;
    width: 13%;
    height: 46px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-click i {
    display: block;
    width: 25px;
    margin-right: 8px;
    margin-top: 14px;
    background-size: 25px;
    font-size: 21px;
    color: #414040;
    float: right;
    text-align: center;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-clk-two {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-clk-two {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 100;
    /* change */
    width: 13%;
    height: 47px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-clk-two i {
    display: block;
    height: 23px;
    width: 25px;
    margin-top: 11px;
    margin-right: 12px;
    background-size: 25px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.25);
    float: right;
    text-align: center;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text {
  padding: 0px 0px;
  font-size: 15px;
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text p {
  text-align: justify;
  line-height: 24px;
  color: #656565;
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text ul li {
  display: block;
  padding: 2px 0px;
  line-height: 22px;
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text ul li a {
  color: #656565;
}
.sky-menu-box .skydropdown .skydropdown-list .hometext {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sky-menu-box .skydropdown .skydropdown-list .hometext {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .hometext {
    display: inline-block;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydown-menuopner {
  display: none !important;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 48px;
  color: #000;
  z-index: 1000;
  margin: 0px;
  text-align: left;
  padding: 14px;
  font-size: 15px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .carousel-inner .item img {
  width: 100%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .carousel-caption {
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  height: 31px;
  left: 0;
  padding: 7px 0;
  right: 0;
  width: 100%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .right.carousel-control {
  padding-top: 20%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .left.carousel-control {
  padding-top: 20%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .show-grid div {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #dbdbdb;
  border: 1px solid #e7e7e7;
  color: #6a6a6a;
  margin: 2px 0px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .mrgtop {
  margin-top: 15px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big li:hover > a {
  background: transparent !important;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big li a:hover {
  background: transparent !important;
  text-decoration: underline;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big iframe {
  width: 100%;
  margin-top: 10px;
  min-height: 200px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big video {
  width: 100%;
  margin-top: 10px;
  min-height: 200px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .title {
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  padding: 9px 5px 9px 0px;
  font-size: 17px;
  color: #414040;
  margin: 0px 0px 7px 0px;
  text-align: left;
  height: 39px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .link-list li {
  display: block;
  text-align: center;
  white-space: nowrap;
  text-align: left;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .link-list li a {
  line-height: 18px;
  border-right: none;
  text-align: left;
  padding: 6px 0px;
  background: #fff !important;
  background-image: none !important;
  color: #666666 !important;
  border-right: 0 none !important;
  display: block;
  border-right: 1px solid #e7e7e7;
  background-color: #fff;
  color: #414040;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .link-list .fa {
  font-size: 11px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form {
  width: 100%;
  display: block;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form input[type="text"] {
  width: 100%;
  border: 1px solid #e2e2e2;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form input[type="submit"] {
  width: 25%;
  display: block;
  height: 28px;
  float: right;
  border: solid 1px #ccc;
  margin-right: 15px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
  min-height: 122px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form input[type="button"] {
  width: 25%;
  display: block;
  height: 28px;
  float: right;
  border: solid 1px #ccc;
}
.sky-menu-box .skydropdown .skydropdown-list .halfmenu {
  width: 40%;
  right: auto !important;
  left: auto !important;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .halfmenu {
    width: 100% !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .halfmenu .big-col-link {
  width: 48%;
  float: left;
  margin: 0% 1%;
}
.sky-menu-box .skydropdown .skydropdown-list .halfdiv {
  width: 35%;
  right: 0px !important;
  left: auto;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .halfdiv {
    width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list > li {
    border-bottom: 5px solid transparent;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list > li.current-menu-item {
    border-bottom: 5px solid #C5161D !important;
    transition: border-bottom 0.3s;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li.current-menu-item a {
  color: #C5161D;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li {
    width: 100%;
    float: none;
    text-align: left;
    clear: left;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > .menu-big {
    position: static;
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > .skydropdown-submenu {
    position: static !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li > a {
  display: block;
  color: #414040;
  font: 600 20px 'Rajdhani', sans-serif;
  text-transform: uppercase;
  line-height: 44px;
  text-decoration: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > a {
    border-right: none;
    padding: 13px;
    line-height: 20px;
    text-transform: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li > a .fa {
  display: inline-block;
  font-size: 14px;
  line-height: inherit;
  margin-right: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > a > .fa {
    display: none !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li > a:hover {
  color: #C5161D;
  text-decoration: none;
}
.sky-menu-box .skydropdown .skydropdown-list > li > a.active {
  background-color: rgba(0, 0, 0, 0.08) !important;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > a > .arrow {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list > li:hover {
    border-bottom: 5px solid #C5161D;
    transition: border-bottom 0.3s;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li:hover .skydropdown-submenu {
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li.menu-item-has-children:hover {
  border-bottom: 0;
}
.sky-menu-box .skydropdown .skydropdown-list li ul li a .fa.fa-angle-double-right {
  font-size: 12px;
  margin: 0 3px 0 -4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sky-menu-box .skydropdown .skydropdown-list li a {
    white-space: nowrap !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li a .arrow:after {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #414040;
  content: "";
  float: right;
  height: 0;
  margin: 0 0 0 5%;
  position: absolute;
  text-align: right;
  top: 22px;
  width: 0;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li a .arrow:after {
    display: none !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li a:hover .arrow:after {
  border-top-color: #414040;
}
.sky-menu-box .skydropdown .skydropdown-list li a.active .arrow:after {
  border-top-color: #414040;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover .skydropdown-submenu {
  display: block;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover .menu-big {
  opacity: 1;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .menu-big {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .menu-big {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .menu-big {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > a {
  text-decoration: none;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > a .arrow:after {
  border-top-color: #414040;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu-sub {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu-sub-sub {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.sky-menu-box .skydropdown .skydropdown-list li:last-child a {
  border-right: 0px solid;
}
.sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu-sub {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
.sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu-sub-sub {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
.sky-menu-box .skydropdown .skydropdown-list li > .menu-big {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li > .menu-big {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu {
  position: absolute;
  z-index: 1000;
  margin: 0px;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li > .skydropdown-submenu-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li a {
  background-image: none !important;
  color: #666666;
  border-right: 0 none !important;
  text-align: left;
  display: block;
  line-height: 22px;
  padding: 6px 12px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
  border-right: 0px solid;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
  opacity: 1;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  display: block;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover > .skydropdown-submenu-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li {
    margin: 0px 0px 0px 0px !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a .fa:before {
  color: #666;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a.active {
    color: #000 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a:hover {
  background: #cc3037;
  color: #fff;
  text-decoration: none;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a:hover .fa:before {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li > a {
    display: block;
    color: #000;
    padding: 12px 40px;
    background: #fff !important;
    border-bottom: solid 1px #ccc;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover a .fa:before {
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a {
  color: #666;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a .fa:before {
  color: #666;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a:hover {
  background: #cc3037;
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a:hover .fa:before {
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li.permahover > a {
  background: #cc3037;
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li.permahover > a .fa:before {
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li:hover {
  background: #cc3037;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li:hover a {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li:hover > a {
    background-color: #f5f5f5 !important;
    color: #000;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub {
  min-width: 180px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub {
    width: 100%;
    position: static !important;
    left: 100%;
    top: 0;
    display: none;
    margin: 0px;
    padding: 0px;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub {
    width: 100%;
    position: static !important;
    left: 100%;
    top: 0;
    display: none;
    margin: 0px;
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li {
    margin: 0px 0px 0px 0px !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li > a {
    display: block;
    color: #000;
    padding: 10px 25px 10px 25px;
    background: #fff !important;
    border-bottom: solid 1px #ccc;
    font-weight: normal;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li a.active {
    color: #000 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li:hover > a {
    background-color: #EBEBEB !important;
    color: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li > .skydropdown-submenu-sub-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover .skydropdown-submenu-sub-sub {
  opacity: 1;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li {
    margin: 0px 0px 0px 0px !important;
    padding: 0px;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li > a {
    display: block;
    color: #000;
    padding: 10px 25px 10px 60px;
    background: #fff !important;
    border-bottom: solid 1px #ccc;
    font-weight: normal;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li > a.active {
    color: #000 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li:hover > a {
    background-color: #EBEBEB !important;
    /*color: #fff;*/
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li li a {
    padding: 10px 25px 10px 75px;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .fa {
  margin-right: 7px;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .fa:before {
  color: #414040;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .fa.fa-angle-right {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob {
    margin: 0;
    padding: 0;
    list-style: none;
    float: none;
    width: 100%;
    position: relative;
    z-index: 1050;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li {
    margin: 0 !important;
    display: block;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li > a {
    display: block;
    color: #000;
    padding: 15px 25px;
    background-color: white !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.18);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li > a.active {
    box-shadow: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li:hover > a {
    box-shadow: none;
  }
}

footer .footer-nav {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer .footer-nav ul {
  margin-bottom: 0;
  padding: 0;
}
footer .footer-nav ul li {
  display: inline-block;
  margin: 0 1%;
}
footer .footer-nav ul li a {
  color: #ebebeb;
  font: 16px "Rajdhani", sans-serif;
}
footer .footer-nav ul li a:hover {
  text-decoration: none;
}
footer .footer-nav .sub-menu {
  display: none;
}

.footer-bottom-menu {
  padding: 20px 0;
  overflow: hidden;
}
.footer-bottom-menu p {
  color: #ebebeb;
  font-size: 12px;
  font-weight: inherit;
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer-bottom-menu p {
    text-align: left;
  }
}
.footer-bottom-menu .center p.copy {
  text-align: center;
}
.footer-bottom-menu .footer-bottom-nav {
  overflow: hidden;
  text-align: right;
}
@media (max-width: 767px) {
  .footer-bottom-menu .footer-bottom-nav {
    text-align: center;
  }
}
.footer-bottom-menu .footer-bottom-nav ul {
  margin-bottom: 0;
  padding: 0;
}
.footer-bottom-menu .footer-bottom-nav ul .sub-menu {
  display: none;
}
.footer-bottom-menu .footer-bottom-nav ul li {
  display: inline-block;
  margin: 0 2%;
}
.footer-bottom-menu .footer-bottom-nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ebebeb;
  font-weight: 300;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .header {
    height: 101px;
  }
}
.header .container {
  height: 100%;
}
.header .container .row {
  height: 100%;
  align-items: center;
}
.header .container .row .sky-menu-box {
  transition: 0.3s all ease;
}
@media only screen and (min-width: 768px) {
  .header .container .row .sky-menu-box {
    padding-top: 28px;
    height: 100%;
  }
}
.header .logo img {
  width: 100%;
  max-width: 130px;
  transition: all 0.2s linear;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .header .logo img {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.header .logo a {
  text-decoration: none;
}
.header .logo a:visited {
  color: inherit;
}

@media only screen and (max-width: 767px) {
  #sticky-wrapper {
    height: auto !important;
  }
}
@media only screen and (min-width: 768px) {
  #sticky-wrapper {
    position: absolute;
    width: 100%;
  }
}
#sticky-wrapper.is-sticky .header {
  height: 50px;
}
@media only screen and (max-width: 767px) {
  #sticky-wrapper.is-sticky .header {
    height: 80px;
  }
}
#sticky-wrapper.is-sticky .header .logo img {
  max-width: 80px;
}
@media only screen and (max-width: 767px) {
  #sticky-wrapper.is-sticky .header .logo img {
    max-width: 0;
  }
}
#sticky-wrapper.is-sticky .header .container .row .sky-menu-box {
  padding-top: 0;
}
#sticky-wrapper .header {
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  transition: 0.25s all ease;
  height: 101px;
  background: rgba(255, 255, 255, 0.7);
}
@media only screen and (max-width: 767px) {
  #sticky-wrapper .header {
    height: 142px;
  }
}

.is-sticky .header-sticky {
  background: rgba(255, 255, 255, 0.9);
  z-index: 15 !important;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.36);
}

.footer {
  background-color: #C5161D;
  color: #ebebeb;
}
.footer .footer-widgets .wdg {
  padding-top: 25px;
}
.footer .footer-address {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 25px 0 0;
  padding-bottom: 15px;
  text-align: center;
}
.footer .footer-address a.foot-btn {
  background-color: transparent;
  border: 2px solid #ebebeb;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ebebeb;
  font-size: 20px;
  text-align: center;
  padding: 14px 54px;
  margin-bottom: 20px;
  font-weight: 500;
  transition: 0.3s all;
}
.footer .footer-address a.foot-btn:hover {
  background-color: white;
  color: #c5161d;
}
.footer .footer-address p {
  color: #ebebeb;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: inherit;
}
.footer .footer-address p a {
  color: #ebebeb;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/*#content .container-fluid{
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}*/
.site-content,
.wr-rev-slider {
  margin-bottom: 50px;
}

.not-active {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

/*Post Single Page*/
.news-content .date-post i {
  font-size: 14px;
}

/*# sourceMappingURL=theme.css.map */
