/*Customizer Admin Styles*/
.kirki-separator {
    margin: 0 -12px;
    padding: 10px 12px;
    color: #555d66;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
#customize-control-comment_count{
    display: none;
}
#customize-control-slider_revolution_setting {
    border-bottom: 1px dashed #939393;
    margin-top: -23px;
    padding-bottom: 19px;
}

#customize-theme-controls ul.customize-pane-parent > li > h3.accordion-section-title::before {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}
li#accordion-panel-nav_menus h3.accordion-section-title::before {
    content: "\f349";
}
li#accordion-panel-widgets h3.accordion-section-title::before {
    content: "\f116";
}
li#accordion-section-static_front_page h3.accordion-section-title::before {
    content: "\f102";
}
li#accordion-section-custom_css h3.accordion-section-title::before {
    content: "\f450";
}
li#accordion-section-cei-section h3.accordion-section-title::before {
    content: "\f211";
}

/*WPBakery Admin Styles*/
.wpb_el_type_st_separate{
    border-bottom: 1px dashed #9c9c9c;
}

/*
One Click Demo Import Plugin
Delete second thumbnails if we have only one Demo import setting
*/
.ocdi .ocdi__gl-item[data-name="only for thumbnails view"]{
  display: none;
}
.ocdi p.ocdi__ajax-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 290px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 4px solid
    rgba(50, 55, 60, 0.5);
    padding: 25px;
}