// Gutenberg Editor Stylesheet
// Version: 1.0
// Powered by VLThemes

@import 'general/variables'

// preformatted

.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse pre,
pre.wp-block-verse
	padding 15px 30px
	font-size 14px
	color $c0
	background-color $c5

	&::after
		content '\eea3'
		position absolute
		top 0
		right 0
		width 20px
		height 100%
		padding 2px	0 0 0

		font-size 12px
		color $c6
		font-family $if
		text-align center

		background-color $c1

// blockquote

.wp-block-quote:not(.is-large):not(.is-style-large) p
	font-size 26px
	line-height 1.5

.wp-block-pullquote
	padding 30px 0
	border none

	blockquote
		margin 0

// cite

.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation,
.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation
	color $c0
	font-size 12px
	font-style normal
	text-transform uppercase
	letter-spacing 2px


	&::before
		content '\2014'
		padding-right 10px

.wp-block-quote.is-large
	padding 0

	.wp-block-quote__citation
		text-align right

// table

.wp-block-table
	width 100%
	max-width 100%
	margin 0 0 30px

	text-align left

	border-collapse collapse
	td,
	th
		padding 15px

	thead th,
	tr th
		font-size 13px
		color $c6
		text-transform uppercase
		letter-spacing 3px
		font-weight normal

		background-color $c0

	tbody tr:nth-child(even)
		background-color $c5

// /* dropcap

// p.has-drop-cap
// 	&:not(:focus):first-letter
// 		font-family: $pf
// 		font-weight: 700
// 		color: $p1