/*!
Theme Name: MQ|WM|GMP
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Menu jQuery | Widget in menu | Google Map Plugin
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: menu-jquery
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Menu jQuery is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

















/*
Ace Responsive Menu Plugin
Version: 1.0
Author: Samson Onna
E-mail: samson3d@gmail.com
Website: www.webthemez.com

/* Ace Responsive Menu
----------------------------------------*/
a {
	text-shadow: none;
	color: #0d638f;
}
ul {
	margin: 0px;
	padding: 0px;
}
.ace-responsive-menu {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	background: #333;
	width:100%;
	font-family: 'Roboto', sans-serif;
	/* border-bottom: 3px solid #FD5025; */
}
.ace-responsive-menu li{
	list-style: none;
}
.ace-responsive-menu li ul {
	display:none;
}
.ace-responsive-menu > li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
}
.ace-responsive-menu li a {
	color:#c0c0c0;
}
.ace-responsive-menu > li > a {
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 18px 20px 18px 12px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	color: #c0c0c0;
}
.ace-responsive-menu li a i {
	padding-right: 5px;
	color: #FF5737;
}
.ace-responsive-menu > li > a i {
	font-size: 16px;
	text-shadow: none;
	color: #FF5737;
}
.ace-responsive-menu li ul.sub-menu li a i {
	padding-right: 10px;
}
.ace-responsive-menu li.menu-active > a {
	background: #272727;
	color:#fff;
}
.ace-responsive-menu li .menu-active {
	position: relative;
}
.ace-responsive-menu > li > a > .arrow:before {
	margin-left: 15px;
	font-size: 16px;
	line-height: 0;
	font-family: FontAwesome;
	height: auto;
	content: " \276F";
	font-weight: 300;
	text-shadow: none;
	display: inline-block;
	transform: rotate(90deg);
}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {
	content: "\f105" !important;
}
.ace-responsive-menu > li > ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	margin: 0;
	position: absolute;
	z-index: 999;
}
.ace-responsive-menu li ul.sub-menu {
	background: #333;
}
.ace-responsive-menu li ul.sub-menu > li {
	width: 185px;
}
.ace-responsive-menu li ul.sub-menu li a {
	display: block;
	margin: 0px 0px;
	padding: 12px 20px 12px 15px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	background: none;
}
.ace-responsive-menu > li > ul.sub-menu > li {
	position: relative;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
	position: absolute;
	left: 185px;
	top: 0px;
	display: none;
	list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: absolute;
	left: 185px;
	top: 0px;
	display: none;
	list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
	float: right;
	margin-right: 0px;
	line-height: 16px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	content: "\f104";
	font-weight: 300;
	text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
	display: none;
	float: left;
	width: 100%;
	background: #333;
}
.menu-toggle h3 {
	float: left;
	color: #FFF;
	padding: 0px 10px;
	font-weight: 600;
	font-size: 16px;
}
.menu-toggle .icon-bar {
	display: block !important;
	width: 18px;
	height: 2px;
	background-color: #F5F5F5 !important;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	margin: 3px;
}
.menu-toggle .icon-bar:hover {
	background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
	float: right;
	background: #202020;
	border: 1px solid #0C0C0C;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}
.hide-menu {
	display: none;
}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
	width: 250px;
}
ul[data-menu-style="accordion"] > li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
	border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
	width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
	float: right;
	content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
	content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li > a i {
	padding-right: 10px;
	color: #FF5737;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li {
	border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
	background: #272727 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
	content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
	width: 200px;
}
ul[data-menu-style="vertical"] > li {
	float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
	border-top: 2px solid #FD5025;
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
	width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
	float: right;
	content: "\f105";
}
ul[data-menu-style="vertical"] > li.menu-active {
	position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
	position: absolute;
	left:200px;
	top:0px;
	width:200px;
}
ul[data-menu-style="vertical"] > li > a i {
	padding-right: 10px;
	color: #FF5737;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
	position: absolute;
	width:200px;
	left: 200px;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: absolute;
	width:200px;
	left: 200px;
}
ul[data-menu-style="vertical"] > li {
	border-bottom: 1px solid #242424;
}
ul[data-menu-style="vertical"] li a:hover {
	background: #272727 !important;
}

/* Responsive Menu Styles
----------------------------------------*/
/*Note: change the max-width asper your requirment and change the same in aceResponsiveMenu({resizeWidth: "768" }) function*/

@media screen and (max-width: 768px) {
	.demo {
		width:96%;
		padding:2%;
	}
	ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
	ul[data-menu-style="vertical"] li ul.sub-menu {
		width: 100% !important;
	}
	.ace-responsive-menu {
		float: left;
		width:100%;
	}
	.ace-responsive-menu > li {
		border-bottom: 1px solid #242424;
		float: none;
		position: relative;
	}
	.ace-responsive-menu li a {
		position: relative;
	}
	.ace-responsive-menu li a:hover {
		background: #272727 !important;
	}
	.ace-responsive-menu > li:first-child {
		border-top: 2px solid #FD5025;
	}
	.ace-responsive-menu > li > a i {
		padding-right: 10px;
		color: #FF5737;
	}
	.ace-responsive-menu > li > a > .arrow:before {
		content: " \276F";
		font-weight: 300;
		text-shadow: none;
		width: 10px;
		margin: 0;
		display: inline-block;
		transform: rotate(90deg);
	}
	.ace-responsive-menu li a .arrow {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 100%;
		align-items: center;
		justify-content: center;
		display: flex;
	}
	li.menu-active > a > .arrow:before {
		content: " \276F";
		font-weight: 300;
		text-shadow: none;
		width: 10px;
		display: inline-block;
		transform: rotate(90deg);
	}
	.ace-responsive-menu li ul.sub-menu > li {
		width: 100%;
	}
	.ace-responsive-menu li ul.sub-menu li ul.sub-menu li a
	{
		padding-left: 30px;
	}
	.ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a
	{
		padding-left: 50px;
	}
	.ace-responsive-menu > li > ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
		content: " \276F";
		font-weight: 300;
		text-shadow: none;
		width: 10px;
		display: inline-block;
		transform: rotate(90deg);
	}
}

/*
    END Ace Responsive Menu Plugin
*/

/*
    START Widget in menu
*/
#site-navigation .widget-element{
	position: unset;
	color: #fff;
}
#site-navigation .ace-responsive-menu > li.widget-element > ul.sub-menu{
	width: 100%;
	left: 0;
}
#site-navigation .ace-responsive-menu li.widget-element ul.sub-menu > li {
	width: 100%;
}
/*
    END Widget in menu
*/

#primary {
	width: 100%;
}

/* Comment Form */
div.error,
div.valid{
	padding: 2px 4px;
	font-size: 12px;
	font-weight: 600;
	margin: 2px 0 0;
}
input.error,
textarea.error{
	border: 1px solid #fe0000 !important;
}
input.valid,
textarea.valid{
	border: 1px solid #128e00 !important;
}
div.error{
	color: #fe0000;
	background: rgba(254, 0, 0, 0.12);
}
div.valid{
	color: #128e00;
	background: rgba(18, 142, 0, 0.12);
}
#popup-broker-form input,
#popup-broker-form textarea{
	display: block;
	width: 100%;
}
#popup-broker-form .btn:after{
	content: 'Send';
}
#popup-broker-form .btn.spinner:after{
	content: 'Sending...';
	vertical-align: middle;
}
.spinner-border {
	display: none;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	margin-right: 5px;
	border: .2em solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner-border .75s linear infinite;
	animation: spinner-border .75s linear infinite;
}
@keyframes spinner-border {
	to { transform: rotate(360deg); }
}

.send-message{
	background: #00c521;
	color: #fff;
	text-align: center;
	width: 250px;
	padding: 7px;
	position: fixed;
	font-size: 18px;
	border-radius: 5px;
	left: 0;
	margin: 40px auto 0;
	right: 0;
	z-index: 10000;
}