/*!*********************************/
/*! Photoswipe
/**********************************/

.pswp__bg
	background-color rgba(#000, 90%) !important

.vp-pswp .pswp__caption,
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption
	background none !important
	> div
		color $c6 !important

.pswp__caption__center
	text-align center !important
	h3
		letter-spacing 2px
		font-size 12px
		text-align center
		text-transform uppercase
		color $c6
		font-weight normal