/*!*********************************/
/*! Plugin: Slick
/**********************************/

.vlt-slick-dots
	margin 40px 0 0
	padding 0

	list-style-type none
	text-align center
	li
		display inline-block
		margin 0 4px

		span
			display block
			width 10px
			height 10px

			cursor pointer
			border-radius 50%
			box-shadow inset 0 0 0 2px var(--dots-color)
			transition()

		&.slick-active
			span
				background-color var(--dots-color)