/*!*********************************/
/*! Form edit account
/**********************************/

.vlt-myAccount-profile
	margin-bottom 50px

	text-align center

	&__avatar
		line-height 0

	&__hello
		margin 15px 0
		strong
			color $c0

.vlt-myAccount-navigation
	ul
		margin 0
		padding 0

		list-style-type none

	li
		padding 12px 0

		border-bottom 1px solid $c9

	a
		display block

		i
			margin-right 5px

.vlt-myAccount-content

	abbr
		border-bottom none

	@media (max-width: 767px)
		margin-top 50px