/*!*********************************/
/*! Single product
/**********************************/

.vlt-product--style-default

	&__thumbnail
		position relative

	.vlt-product-summary

		.vlt-out-of-stock

			text-transform uppercase
			font-size 12px
			letter-spacing 1px
			color $c0

			i
				margin-right 5px

		.product_title
			margin 15px 0

		.price
			margin-bottom 30px

			font-size 22px

			del
				color $c3

			ins
				text-decoration none

		.woocommerce-product-rating
			margin-bottom 15px

		.woocommerce-product-details__short-description
			margin-bottom 30px

		.product_meta
			margin-top 30px
			padding-top 30px
			margin-bottom 30px

			border-top 1px solid $c9

			span
				margin-right 5px

				color $c0

			div + div
				margin-top 8px

		.single_variation_wrap,
		.single_add_to_cart_wrap
			margin-bottom 30px

			.vlt-quantity
				margin-right 15px

		.variations,
		.woocommerce-variation-price
			margin-bottom 30px

		.reset_variations
			position absolute
			top 0
			right 0
			&::before
				content '\eecb'
				margin-right 5px

				font-family $if

		.vlt-form-group
			padding-bottom 0

		.vlt-form-group + .vlt-form-group
			margin-top 30px

/*!*********************************/
/*! Single product tabs
/**********************************/

.single-product
	.woocommerce-tabs
		margin-top 70px

		ul.tabs
			display flex
			justify-content center
			padding 0
			margin 0

			list-style-type none

			border-bottom 1px solid $c9

			@media (max-width: 767px)
				display block
				border none

			li
				margin-bottom -1px


				a
					display inline-block
					padding 16px 34px
					margin 0

					font-size 14px
					line-height 1
					letter-spacing 2px
					text-transform uppercase
					color $c0

					background-color $c8

					@media (max-width: 767px)
						display block

						text-align center

				&.active > a
					color $c6

					background-color $c0

				&:first-child
					a
						border-radius 4px 0 0 0

					@media (max-width: 767px)
						a
							border-radius 5px 5px 0 0

				&:last-child
					a
						border-radius 0 4px 0 0

					@media (max-width: 767px)
						a
							border-radius 0 0 5px 5px

		.wc-tab
			padding 50px 0 0

			p:last-child
				margin-bottom 0

			table

				th

					font-weight normal
					color $c5

/*!*********************************/
/*! Reviews
/**********************************/

.single-product

	#reviews
		margin-top 0
		padding-top 0

		border-top 0

	.vlt-comment-header .star-rating
		position absolute
		top 0
		right 0

	.vlt-comments__reply-title
		margin-bottom 15px

	.comment-form-rating
		margin-bottom 15px

		.stars
			display inline-block
			margin 0

			line-height 1

		.stars a
			display inline-block
			position relative
			height 1em
			width 1em

			text-indent -999em
			color $c3

			&::before
				content '\f006'
				display block
				position absolute
				top 0
				left 0
				width 1em
				height 1em

				line-height 1em
				font-family $fa
				text-indent 0

		.stars a:hover ~ a::before
			content '\f006'
			color $c3

		.stars:hover a::before
			content '\f005'

			color $c0

		.stars.selected a.active::before
			content '\f005'

			color $c0

		.stars.selected a.active ~ a::before
			content '\f006'

			color $c3

		.stars.selected a:not(.active)::before
			content '\f005'

			color $c0