/*!*********************************/
/*! Filters
/**********************************/

.vp-filter__style-vinero
	display flex
	justify-content center
	flex-wrap wrap
	margin-bottom 50px
	padding 0

	list-style-type none
	@media (max-width: 575px)
		display block

	.vp-filter__item a
		outline none
		box-shadow none
		text-decoration none

	&.vp-filter__align-left
		justify-content flex-start

	&.vp-filter__align-right
		justify-content flex-end

	.vp-filter__item + .vp-filter__item
		margin-left 20px
		@media (max-width: 575px)
			margin-top 10px
			margin-left 0

	.vp-filter__item
		flex 0 0 auto
		margin 0
		padding 0

		text-align center
		list-style-type none

		> *
			display inline-block
			position relative
			margin 0 0 5px
			padding 8px 12px 8px 14px

			color $c2
			font-size 12px
			text-transform uppercase
			letter-spacing 2px
			line-height 1

			background-color transparent

		&:not(.vp-filter__item-active) > a:hover
			color $c0

		&.vp-filter__item-active > *
			color $c0

			cursor default
			background-color $c8
