.themify_builder_2_row.module_row_1.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center;margin-top:5%;margin-right:10%;margin-bottom:5%;margin-left:15%}
@media screen and (max-width: 1280px) {.themify_builder_2_row.module_row_1.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
}
@media screen and (max-width: 768px) {.themify_builder_2_row.module_row_1.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
}
@media screen and (max-width: 680px) {.themify_builder_2_row.module_row_1.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
}
.module_row_1 .module_column_0.tb_2_column.module_column{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.module_row_1 .module_column_1.tb_2_column.module_column{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .text-2-1-1-0.module-text{background-repeat: repeat}
