/*!*********************************/
/*! Shortcode: Single Image
/**********************************/

.vlt-single-image
	position relative

	line-height 0
	span
		position absolute
		margin 30px
		padding 6px 20px
		max-width 50%
		bottom 0
		left 0

		color $c0
		text-transform uppercase
		letter-spacing 2px
		font-size 12px
		line-height 1.6

		white-space nowrap
		text-overflow ellipsis
		overflow hidden
		pointer-events none
		z-index 3
		opacity 0
		background-color $c6
		transition()

	a
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 2

	&:hover
		span
			opacity 1