/*!*********************************/
/*! Team member
/**********************************/

.vlt-team-member
	position relative

	&__avatar
		position relative
		font-size 0


	&__info
		padding 20px 0 0

		letter-spacing 2px
		text-align center
		text-transform uppercase

	&__name
		margin 0

		font-size 16px
		color $c0
		text-transform inherit

	&__function
		margin 0
		color $c2

	&__links
		display flex
		align-items center
		justify-content center
		position absolute
		width 100%
		height 100%
		top 0
		left 0

		font-size 15px
		line-height 1

		opacity 0
		visibility visible
		transition()
		background-color rgba(#000, 80%)

		a
			color $c6

			opacity 0
			transform translateY(100%)
			&:hover
				color $c6

		a + a
			margin-left 10px

	&:hover
		.vlt-team-member__links
			opacity 1
			visibility visible
			delay = 80

			for num in (1..6)
				a:nth-of-type({num})
					animation animate_social_link 500ms (delay)ms linear forwards
				delay += 80

@keyframes animate_social_link
	0%
		opacity 0
		transform translateY(100%)
	100%
		opacity 1
		transform translateY(0)