/*!*********************************/
/*! Shortcode: Google Map
/**********************************/

.vlt-google-map
	position relative

	&__controls
		position absolute
		top 0
		right 0
		margin 10px

		div
			display flex
			align-items center
			justify-content center
			height 30px
			width 30px

			font-size 14px
			color $c6

			cursor pointer
			user-select none
			background-color $c0
			border-radius 2px
			transition()
			&:hover
				color $c6

				background-color $c1

		div + div
			margin-top 5px