/*!*********************************/
/*! Shortcode: Work Meta
/**********************************/

.vlt-work-meta-row
	display grid
	grid-column-gap 30px
	grid-template-columns 70px auto
	margin-bottom 0

	dt
		color $c0
		i
			margin-right 5px

	dd
		margin 0

		a + a
			margin-left 6px

		a
			color $c0
			&:hover
				color $c1