/*!*********************************/
/*! Shortcode: CF7
/**********************************/

.wpcf7

	br
		display none

	.wpcf7-not-valid-tip
		margin 5px 0 0

		text-transform none
		letter-spacing 1px
		font-size 12px

	.wpcf7-response-output
		padding 15px 30px !important
		margin 15px 0 !important

		color $c0
		font-size 14px
		line-height 1.5

		border 1px solid $c1
		border-radius 4px

	span.ajax-loader
		display none