/*!*********************************/
/*! Shortcode: Alerts
/**********************************/

.vlt-alert
	position relative
	padding 15px 20px
	margin-bottom 30px

	color $c0
	font-size 14px

	border 1px solid $c1
	border-radius 4px

	strong
		font-weight normal

	p:first-of-type
		margin-top 0

	p:last-of-type
		margin-bottom 0