/*!*********************************/
/*! Shortcode: Video Link
/**********************************/

.vlt-video-link
	display inline-flex
	align-items center
	justify-content center
	position relative
	height 80px
	width 80px

	color $c0
	font-size 22px
	line-height 1

	background-color $c6
	&:hover
		color $c1
		background-color rgba($c6, 80%)