/*!*********************************/
/*! Shortcode: Dropcap
/**********************************/

.vlt-dropcap:first-letter
	display flex
	margin 8px 15px 0 0
	padding 0 22px
	height 70px
	float left

	color $c6
	font-size 50px
	line-height 70px
	text-align center

	background-color $c0

.vlt-dropcap--rounded:first-letter
	border-radius 50px

.vlt-dropcap--border:first-letter
	color $c0

	box-shadow inset 0 0 0 2px $c0
	background-color transparent