/*!*********************************/
/*! Shortcode: Testimonials
/**********************************/

.vlt-testimonials-child

	&__icon
		margin-bottom 40px
		font-size 50px
		line-height 1

	&__text
		margin 0

	&__meta
		margin-top 35px
		text-transform uppercase
		letter-spacing 2px

	&__name
		margin 0

		font-weight 500
		text-transform inherit

	&__function
		margin 5px 0 0
		color $c7