/*!*********************************/
/*! Shortcode: Hero Header
/**********************************/

.vlt-hero-title
	display flex
	align-items center
	justify-content center
	padding 140px 0
	min-height 80vh

	background-color $c8

	&__content
		padding 60px
		min-width 30%

		text-align center

		background-color rgba($c6, 95%)

		h1
			font-size 26px
			text-transform uppercase
			letter-spacing 2px
			line-height 1.4

		p
			margin-top 5px
			margin-bottom 0