/*!*********************************/
/*! Shortcode: Buttons
/**********************************/

.vlt-btn
	position relative
	display inline-block
	padding 14px 28px

	outline 0
	text-decoration none
	text-align center

	cursor pointer
	border none
	border-radius 4px
	transition()
	&:disabled
		pointer-events none
		cursor not-allowed

	i
		margin-left 5px

.vlt-btn--primary
	color $c6

	background-color $c0

	&:hover
		color $c6

		background-color $c1

.vlt-btn--secondary
	color $c0

	background-color $c8

	&:hover
		color $c6

		background-color $c0

.vlt-btn--lg
	padding 20px 40px

.vlt-btn--sm
	padding 10px 20px