/*!*********************************/
/*! Shortcode: Single Icon
/**********************************/

.vlt-single-icon,
.vlt-icon-link
	display inline-flex
	align-items center
	justify-content center
	height 22px
	width 22px

	font-size 12px
	color $c6

	border-radius 2px
	background-color $c0
	&:hover
		color $c6

		background-color $c1

	& + .vlt-single-icon,
	& + .vlt-icon-link
		margin-left 6px