/*!*********************************/
/*! Shortcode: Services
/**********************************/

.vlt-services

	&--top-center
		text-align center

	&--top-left
		text-align left

	&--top-right
		text-align right

	.vlt-services__icon
		display inline-flex
		margin-bottom 15px

		font-size 32px
		line-height 0

	&.vlt-services--left
		text-align left

		.vlt-services__icon
			float left
			margin-bottom 0 !important

		.vlt-services__content
			padding-left 52px

	&.vlt-services--right
		text-align right

		.vlt-services__icon
			float right
			margin-bottom 0 !important

		.vlt-services__content
			padding-right 52px

	&__title
		margin 0

	&__text
		margin 5px 0 0