/*!  SHORTCODE PROGRESS BAR
----------------------------------------------------------*/

.vlt-progress-bar-holder
	.vlt-progress-bar-title
		display block
		line-height 1
		margin-bottom 10px
		text-transform uppercase
		span
			float right
			&::after
				content '%'

.vlt-progress-bar-holder
	.vlt-progress-bar
		position relative
		span
			position absolute
			top 0
			left 0
			height 100%
			width 0


/*!*********************************/
/*! Shortcode: Progress bar
/**********************************/

.vlt-progress-bar

	&__title
		margin 0 0 6px

		font-size 14px
		span
			float right

	&__bar
		position relative
		width 100%
		height 4px

		background-color $c8

		> span
			position absolute
			top 0
			left 0
			height 100%

			background-color $c0

		.vlt-progress-bar__percent
			position absolute
			right 0
			bottom calc(100% + 6px)

			letter-spacing 1px
			color $c0
			font-weight 600

			opacity 0
			transition()

			&::after
				content '%'

			&.is-visible
				opacity 1