/*!*********************************/
/*! Link pages
/**********************************/

.vlt-link-pages
	margin-top 20px
	h6
		margin-top 0

	a
		color $c2
		&:hover
			color $c0

	a + a
		margin-left 15px