/*!*********************************/
/*! Preloader
/**********************************/

.vlt-site-preloader
	display flex
	align-items center
	justify-content center

	position fixed
	top 0
	left 0
	height 100%
	width 100%

	z-index 9999
	background-color $c6

	.spinner
		$circleOne = 80px
		$circleTwo = 60px

		&::before,
		&::after
			content ''
			display block

			border-radius 50%
			background-color $c6

		&::before
			height $circleOne
			width $circleOne

			box-shadow 0px -4px 8px 0px rgba($c0, .08)
			animation spinOne 3s linear infinite

		&::after
			position absolute
			top 50%
			left 50%
			height $circleTwo
			width $circleTwo
			margin-top -($circleTwo/2)
			margin-left -($circleTwo/2)

			box-shadow 0px -4px 8px 0px rgba($c0, .08)
			animation spinTwo 3s linear infinite

@keyframes spinOne
	100%
		transform rotate(360deg)

@keyframes spinTwo
	100%
		transform rotate(-360deg)