/*!*********************************/
/*! Edit link
/**********************************/

.vlt-edit-link
	display block
	margin-top 30px

	a + a
		margin-left 20px

	a
		color $c2
		&:hover
			color $c0