/*!*********************************/
/*! Post password protected
/**********************************/

.vlt-post-password-form
	max-width 360px
	padding 30px !important

	border-radius 4px
	border 1px solid $c9

	.vlt-post-password-field
		position relative

		input[type="submit"]
			margin-top 20px