/*!*********************************/
/*! Search form
/**********************************/

.vlt-search-form
	.vlt-form-group
		position relative
		padding-bottom 0

	button
		position absolute
		top 0
		right 10px
		height 100%

		color $c2

		border none
		background none
		cursor pointer
		box-shadow none
		transition()
		&:hover
			color $c0