/*!*********************************/
/*! Back to top
/**********************************/

.vlt-back-to-top
	display flex
	align-items center
	justify-content center
	position fixed
	width 40px
	height 40px
	right 30px
	bottom 30px

	color $c6
	font-size 14px

	z-index 95
	background-color $c0
	border-radius 4px
	transition()

	&:hover
		color $c6

		background-color $c1
		i
			animation animateIconTop 300ms forwards

.vlt-back-to-top.hidden
	opacity 0
	visibility hidden
	transform translateX(20px)

.vlt-back-to-top.visible
	opacity 1
	visibility visible
	transform translateX(0)