html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

a {
	color: $color__link;
  transition: all 0.3s linear;
	&:hover,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

p, ul
{
    font: 16px/23px $font__content;
    color: #444;
    margin-bottom: 18px;
}
ul{
    line-height: 23px;
    padding-left: 18px;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1,h2 {
    font-size: 30px;
    color: #C5161D;
}
dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

/**********************************/
/* Post Share Buttons
/**********************************/
.share-buttons {
    overflow: hidden;
    a{
        font-size: 14px;
        background: #c5161d;
        color: #fff;
        border-radius: 3px;
        height: 22px;
        margin-right: 7px;
        width: 22px;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        padding: 14px;
        display: inline-flex;
        transition: all 0.2s linear;
        &:hover {
          background-color: #474747;
          i {
              animation: jumpIcon 0.3s forwards;
          }
        }
    }
}
@keyframes jumpIcon {
  0% {
    transform: translate(0, 0px);
  }
  33% {
    transform: translate(0, -10px);
  }
  66% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/**********************************/
/* Preloader
/**********************************/

.site-preloader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
	.loader {
	  
	  position: relative;
	  width: 75px;
	  height: 100px;
	  
	  &__bar {
	    position: absolute;
	    bottom: 0;
	    width: 10px;
	    height: 50%;
	    background: $bar-color;
	    transform-origin: center bottom;
	    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	    
	    @for $i from 1 through 5 { 
	       &:nth-child(#{$i}) {
	         left: ($i - 1) * 15px;
	         transform: scale(1,$i*.2);
	         animation: barUp#{$i} 2s infinite;
	        }
	    }
	    
	  }
	  
	  &__ball {
	    position: absolute;
	    bottom: 10px;
	    left: 0;
	    width: 10px;
	    height: 10px;
	    background: $ball-color;
	    border-radius: 50%;
	    animation: ball 2s infinite;
	  }
	}
}


@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px)
  }
  17% {
    transform: translate(23px, -24px)
  }
  20% {
    transform: translate(30px, -20px)
  }
  27% {
    transform: translate(38px, -34px)
  }
  30% {
    transform: translate(45px, -30px)
  }
  37% {
    transform: translate(53px, -44px)
  }
  40% {
    transform: translate(60px, -40px)
  }
  50% {
    transform: translate(60px, 0)
  }
  57% {
    transform: translate(53px, -14px)
  }
  60% {
    transform: translate(45px, -10px)
  }
  67% {
    transform: translate(37px, -24px)
  }
  70% {
    transform: translate(30px, -20px)
  }
  77% {
    transform: translate(22px, -34px)
  }
  80% {
    transform: translate(15px, -30px)
  }
  87% {
    transform: translate(7px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 { 
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 { 
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 { 
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 { 
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 { 
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/**********************************/
/* Plugin: Jarallax
/**********************************/
.jarallax {
    position: relative;
    z-index: 0;
    > .jarallax-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'object-fit: cover;';
        object-fit: cover;
        z-index: -1;
    }
}

/**********************************/
/* Back to top
/**********************************/
a.back-to-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  border: 1px solid;
  width: 40px;
  height: 40px;
  right: 30px;
  bottom: 30px;
  color: #fff;
  font-size: 20px;
  z-index: 95;
  text-decoration: none;
  background-color: #C5161D;
  border-radius: 4px;
  transition: all 0.3s linear;
  outline:none;
  &.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    i {
        animation:
                animateIconTop 0.5s linear,
                animateIconBottomToTop 1s 0.5s infinite linear;
    }
  }
  &:hover {
    color: #fff;
    background-color: #474747;
  }
}

@keyframes animateIconTop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -10px);
  }
}
@keyframes animateIconBottomToTop {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  50% {
    transform: translate(0, -10px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

/**********************************/
/* Search
/**********************************/
#sticky-wrapper {
  &.is-sticky .header .search{
    top: 50px;
    @media only screen and (max-width: $screen-xs-max) {
      top: 80px;
    }
  }
}
.search {
  max-width: 70px;
  width: 100%;
  height: 60px;
  background-color: $search-bg-color;
  position: absolute;
  right: 0;
  top: 17px;
  transition: $transition;
  z-index: 1010;
  @media only screen and (max-width: $screen-xs-max) {
    top: 10px;
  }
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: $icon-color;
    transition: $transition;
  }
  &.open {
    max-width: 520px;
    background-color: $background-color;
    .search-box{
      display: block;
    }
    &:before {
      height: 40px;
      margin: 10px 0 10px 24px;
      position: absolute;
    }
  }
  .search-box {
    width: 87%;
    height: 100%;
    padding: 10px 0px 10px 45px;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 34px;
    display: none;
    @media only screen and (max-width: $screen-xs-max) {
        width: 100%;
        padding: 10px 65px 10px 45px;
    }
    &:focus {
      outline: none;
    }
  }
}

.codyshop-ajax-search{
  position: absolute; 
  box-sizing: border-box; 
  background: #fff; 
  z-index: 10;
  border-top:none; 
  max-height: 570px; 
  overflow-y: auto;
  width: 100%;
  display: none;
  opacity: 0;
  .open &{
    opacity: 1;
  }
  li{
    overflow: hidden; 
    line-height: 17px;
    width: 100%; 
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    padding: 20px; 
    list-style:none;
    &:last-child {
      border-bottom: none;
    }
    p{
      line-height: 14px; 
      font-size: 13px;
      margin-bottom: 0;
      color: #7c83a0;
      font-style: italic; 
      background-color: white;
    }
    a{
      color: #7c83a0;
    }
  }
}

.search-button {
  width: 67px;
  height: 60px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
  cursor: pointer;
}

.search-icon {
  width: 35px;
  height: 35px;
  border-radius: 40px;
  border: 3px solid #fff;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: $transition;
  &:before {
    content: '';
    width: 3px;
    height: 12px;
    position: absolute;
    right: -2px;
    top: 27px;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  &:after {
    content: '';
    width: 3px;
    height: 12px;
    position: absolute;
    right: -10px;
    top: 35px;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  .open & {
    margin: 0;
    width: 45px;
    height: 45px;
    border-radius: 60px;
    &:before {
      transform: rotate(52deg);
      right: 17px;
      top: 16px;
      height: 18px;
    }
    &:after {
      transform: rotate(-230deg);
      right: 17px;
      top: 6px;
      height: 18px;
    }
  }
}
