/*!*********************************/
/*! Pagination general
/**********************************/

.vlt-pagination
	position relative
	margin-top 100px
	padding-top 50px

	text-align center
	&::after
		content: ''
		display block
		position absolute
		top 0
		left 50%
		margin-left -15px
		width 30px
		height 2px

		background-color $c1

/*!*********************************/
/*! Paged pagination
/**********************************/

.vlt-pagination--paged
	ul
		margin 0
		padding 0

		list-style-type none

	li.prev-page + li.next-page
		margin-left 6px

	li.prev-page,
	li.next-page
		position relative
		display inline-flex
		height 40px
		width 40px

		background-color $c8
		border-radius 4px

		&.inactive
			cursor not-allowed

		a
			position absolute
			top 0
			left 0
			width 100%
			height 100%

			line-height 40px
			color $c1

			i
				position relative
				z-index 3

			span
				position absolute
				top 0
				height 100%

				color transparent
				font-size 14px
				text-transform uppercase
				letter-spacing 2px
				line-height 40px

				z-index 2
				border-radius 4px
				pointer-events none
				background-color $c1
				transform scaleX(0)
				transition()

	li.prev-page a span
		right 0
		padding-right 55px
		padding-left 15px
		transform-origin right

	li.next-page a span
		left 0
		padding-left 55px
		padding-right 15px
		transform-origin left

	li.prev-page a:hover,
	li.next-page a:hover
		color $c6
		transition-delay 150ms

		span
			color $c6
			transform scaleX(1)

/*!*********************************/
/*! Numeric pagination
/**********************************/

.vlt-pagination--numeric
	span,
	a
		display inline-flex
		align-items center
		justify-content center
		height 40px
		padding 0 16px
		margin-right 6px

		color $c1
		line-height 40px
		letter-spacing 2px
		font-size 14px
		text-transform uppercase

		background-color $c8
		border-radius 4px

		&:last-child
			margin-right 0

	span.current,
	a:hover
		color $c6
		background-color $c1

	@media (max-width: 575px)
		font-size 32px

/*!*********************************/
/*! Load more
/**********************************/

.vlt-pagination--load-more
	text-align center

	a

		i
			margin-right 5px

		&:not(.loading) i
			display none

	a.disabled
		opacity .8
		pointer-events none