/*!*********************************/
/*! Comments
/**********************************/

.vlt-comments
	margin-top 50px

.vlt-comments__list + .vlt-comments__reply
	margin-top 50px

/*!*********************************/
/*! Comment list
/**********************************/

.vlt-comments-title
	margin 0

.vlt-comments__list-comments,
.vlt-comments__list-comments .children
	margin 0
	padding 0
	list-style-type none

.vlt-comments__list-comments,
.vlt-comments__list-comments ul.children
	li.vlt-comment-item
		padding 30px 0
		border-top 1px solid $c9

.vlt-comments__list-comments
	> li:first-child
		border-top none
		padding-top 0
	> li:last-child
		padding-bottom 0

.vlt-comments__list-comments ul.children
	margin-top 30px
	padding-left 60px
	> li:last-child
		padding-bottom 0

/*!*********************************/
/*! Comment item
/**********************************/

.vlt-comment-item

	.vlt-comment-left
		display flex
		align-items center
		position relative

		.vlt-comment-avatar
			font-size 0

		.vlt-comment-avatar + .vlt-comment-header
			margin-left 20px

		.vlt-comment-header
			position relative
			width 100%
			h5
				margin 0

			a:hover
				color $c2

	.vlt-comment-content
		position relative

		.vlt-comment-text
			margin-top 20px

			p:last-of-type
				margin-bottom 0

		&__buttons
			margin 15px 0 0
			padding 0

			list-style-type none

			li
				display inline-block
				margin-right 6px

			a
				display block
				padding 6px 10px 6px 12px

				line-height 1
				font-size 12px
				text-transform uppercase
				letter-spacing 2px
				color $c0

				background-color $c8
				&:hover
					color $c2

@media (max-width: 767px)
	.vlt-comments__list-comments ul.children
		padding-left 0

/*!*********************************/
/*! Comment reply
/**********************************/

#cancel-comment-reply-link
	margin-left 20px

	font-size 12px

	&::before
		content '\efb8'
		margin-right 5px

		font-family $if

	&:hover
		color $c2

.vlt-comments__list,
.vlt-comments__reply

	.comment-notes,
	.logged-in-as,
	.vlt-comments-number
		margin-bottom 30px
		a:hover
			color $c2

/*!*********************************/
/*! Comment navigation
/**********************************/

.vlt-comments-navigation
	margin-top 20px
	h6
		margin-top 0

	a
		color $c2
		&:hover
			color $c0

	a + a
		margin-left 15px