/*!*********************************/
/*! Footer widget
/**********************************/

.vlt-footer--widget

	.vlt-footer__widgets

		> .row > div:nth-child(n+3)
			@media (max-width: 991px)
				margin-top 50px

		> .row > div:nth-child(n+1)
			@media (max-width: 575px)
				margin-top 50px

	.vlt-footer__copyright
		margin 40px 0 0
		padding-top 30px

		border-top 1px solid rgba($c0, 5%)