// Top Menu Colors
$color__menu_text_main: #414040;
$color__menu_thunderbird: #C5161D;

// Footer Colors
$color__footer_thunderbird: #C5161D;
$color__footer-gallery: #ebebeb;

// -----------------

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/**********************************/
/* Preloader
/**********************************/
$bar-color: #969696;
$ball-color: #969696;
$bg-color: #fff;

/**********************************/
/* Search
/**********************************/
$background-color: #2A2E37;
$search-bg-color: #777;
$icon-color: #ff000a;
$transition: all .5s ease;