/*!*********************************/
/*! Fade style
/**********************************/

.vp-portfolio__items-style-fade

	.vp-portfolio__item a
		outline none
		box-shadow none

	.vp-portfolio__item-overlay
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		padding 30px

	// Transitions
	.vp-portfolio__item-overlay
		opacity 0
		transition opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1)

	.vp-portfolio__item-img img
		transition transform 2s cubic-bezier(0.08, 0.43, 0.24, 1)

	.vp-portfolio__item-meta
		transform scale(0.8)

		transition all 1s cubic-bezier(0.07, 0.72, 0.24, 1)

	.vp-portfolio__item:hover
		.vp-portfolio__item-overlay
			opacity 1

		.vp-portfolio__item-meta
			transform scale(1)

		.vp-portfolio__item-img img
			transform scale(1.1)

	.vp-portfolio__item-meta
		display flex
		position relative
		flex-wrap wrap
		justify-content center
		align-items center
		flex-direction column
		width 100%
		height 100%

		text-align center

		* + *
			margin-top 5px

	.vp-portfolio__item-meta-title
		margin 0

		font-size 18px
		text-transform uppercase
		letter-spacing 2px

	.vp-portfolio__item-meta-date
		position absolute
		left 0
		bottom 0

		font-size 12px
		text-transform uppercase
		letter-spacing 2px
		line-height 1.5

		&::before
			content '\efb0'
			margin-right 2px

			font-family $if

	.vp-portfolio__item-meta-icon
		font-size 32px
		line-height 0
		+ *
			margin-top 20px

	.vp-portfolio__item-meta-categories
		display flex
		flex-wrap wrap
		list-style-type none
		margin 10px 0
		padding 0

		.vp-portfolio__item-meta-category + .vp-portfolio__item-meta-category
			margin-left 6px

		.vp-portfolio__item-meta-category
			margin 0
			padding 0
			span
				display block

				font-size 14px !important
				line-height 1
				letter-spacing 2px
				text-transform uppercase

	.vp-portfolio__item-align-left .vp-portfolio__item-meta
		align-items flex-start
		text-align left

	.vp-portfolio__item-align-right .vp-portfolio__item-meta
		align-items flex-end
		text-align right

	.vp-portfolio__item-align-top-center .vp-portfolio__item-meta
		align-items center
		justify-content flex-start
		text-align center

	.vp-portfolio__item-align-top-left .vp-portfolio__item-meta
		align-items flex-start
		justify-content flex-start
		text-align left

	.vp-portfolio__item-align-top-right .vp-portfolio__item-meta
		align-items flex-end
		justify-content flex-start
		text-align right

	.vp-portfolio__item-align-bottom-center .vp-portfolio__item-meta
		align-items center
		justify-content flex-end
		text-align center

	.vp-portfolio__item-align-bottom-left .vp-portfolio__item-meta
		align-items flex-start
		justify-content flex-end
		text-align left

	.vp-portfolio__item-align-bottom-right .vp-portfolio__item-meta
		align-items flex-end
		justify-content flex-end
		text-align right