/*!*********************************/
/*! Fly style
/**********************************/

.vp-portfolio__items-style-fly

	.vp-portfolio__item
		background-color transparent

	.vp-portfolio__item a
		outline none
		box-shadow none

	.vp-portfolio__item-overlay
		position absolute
		display flex
		flex-wrap wrap
		align-items center
		justify-content center
		top 0
		left 0
		right 0
		bottom 0
		padding 30px

		text-align center
		text-decoration none

		transform translateY(-100%) translateX(-100%)

	.vp-portfolio__item-meta
		* + *
			margin-top 5px

	.vp-portfolio__item-meta-title
		margin 0

		font-size 18px
		text-transform uppercase
		letter-spacing 2px

	.vp-portfolio__item-meta-date
		position absolute
		padding 30px
		left 0
		bottom 0

		font-size 12px
		text-transform uppercase
		letter-spacing 2px
		line-height 1.5

		&::before
			content '\efb0'
			margin-right 2px

			font-family $if

	.vp-portfolio__item-meta-icon
		font-size 28px
		line-height 0
		+ *
			margin-top 20px

	.vp-portfolio__item-meta-categories
		display flex
		flex-wrap wrap
		list-style-type none
		margin 10px 0
		padding 0
		justify-content center

		.vp-portfolio__item-meta-category + .vp-portfolio__item-meta-category
			margin-left 6px

		.vp-portfolio__item-meta-category
			margin 0
			padding 0
			span
				display block

				font-size 14px !important
				line-height 1
				letter-spacing 2px
				text-transform uppercase

	.vp-portfolio__item-align-left
		justify-content flex-start
		text-align left

	.vp-portfolio__item-align-right
		justify-content flex-end
		text-align right

	.vp-portfolio__item-align-top-center
		justify-content center
		align-items flex-start
		text-align center

	.vp-portfolio__item-align-top-left
		justify-content flex-start
		align-items flex-start
		text-align left

	.vp-portfolio__item-align-top-right
		justify-content flex-end
		align-items flex-start
		text-align right

	.vp-portfolio__item-align-bottom-center
		justify-content center
		align-items flex-end
		text-align center

	.vp-portfolio__item-align-bottom-left
		justify-content flex-start
		align-items flex-end
		text-align left

	.vp-portfolio__item-align-bottom-right
		justify-content flex-end
		align-items flex-end
		text-align right