.footer {
    background-color: $color__footer_thunderbird;
    color: $color__footer-gallery;
    .footer-widgets .wdg{
        padding-top: 25px;
    }
    .footer-address {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 25px 0 0;
        padding-bottom: 15px;
        text-align: center;
        a.foot-btn {
            background-color: transparent;
            border: 2px solid #ebebeb;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            color: #ebebeb;
            font-size: 20px;
            text-align: center;
            padding: 14px 54px;
            margin-bottom: 20px;
            font-weight: 500;
            transition: 0.3s all;
            &:hover {
                background-color: white;
                color: #c5161d;
            }
        }
        p {
            color: $color__footer-gallery;
            line-height: 16px;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: inherit;
            a{
                color: #ebebeb;
            }
        }
    }
}