.header {
    @media only screen and (min-width: $screen-sm-min) {
        height: 101px;
    }
    .container{
        height: 100%;
        .row{
            height: 100%;
            align-items: center;
            .sky-menu-box{
                transition: 0.3s all ease;
                @media only screen and (min-width: $screen-sm-min) {
                    padding-top: 28px;
                    height: 100%;
                }
            }
        }
    }
    .logo{
        img{
            width: 100%;
            max-width: 130px;
            transition: all 0.2s linear;
            @include center-block;
            @media only screen and (max-width: $screen-xs-max) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        a{
            text-decoration: none;
            &:visited{
                color: inherit;
            }
        }
    }
}

#sticky-wrapper{
    @media only screen and (max-width: $screen-xs-max) {
        height: auto !important;
    }
    @media only screen and (min-width: $screen-sm-min) {
        position: absolute;
        width: 100%;
    }
    &.is-sticky .header {
        height: 50px;
        @media only screen and (max-width: $screen-xs-max) {
            height: 80px;
        }
        .logo {
            img {
                max-width: 80px;
                @media only screen and (max-width: $screen-xs-max) {
                    max-width: 0;
                }
            }
        }
        .container{
            .row{
                .sky-menu-box{
                    padding-top: 0;
                }
            }
        }
    }
    .header {
        box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
        position: relative;
        z-index: 10;
        transition: 0.25s all ease;
        height: 101px;
        background: rgba(255, 255, 255, 0.7);
        @media only screen and (max-width: $screen-xs-max) {
            height: 142px;
        }
    }
}

.is-sticky .header-sticky {
    background: rgba(255, 255, 255, 0.9);
    z-index: 15 !important;
    box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.36);
}