/* Columns style */

#featured {
	width: 80px;
	text-align: center;
}

.column-featured {
	text-align: center;
}

#featured_image {
	width: 80px;
}

input#featured {
	width: auto !important;
}

/* Kirki custom type */

.kirki-separator {
	margin: 0 -12px;
	padding: 10px 12px;
	color: #555d66;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 4px solid #0073aa;
	background-color: #fff;
}