/*!*********************************/
/*! Post style default
/**********************************/

.vlt-post--style-default
	padding-bottom 50px !important

	border-bottom 1px solid $c9

	.vlt-post-thumbnail + .vlt-post-content
		padding-top 15px

	.vlt-post-content

		header

			.vlt-post-title
				margin-top 10px

				font-size 24px

		.vlt-post-excerpt
			margin-top 15px

		footer
			margin-top 20px


.grid-item&:last-child
	.vlt-post--style-default
		padding-bottom 0 !important

		border-bottom none