/*!*********************************/
/*! Post style also like
/**********************************/

.vlt-post--style-also-like
	background-color $c6
	box-shadow 0px 1px 3px 0px rgba($c0, 10%)
	transition(box-shadow)

	&:hover
		box-shadow 0px 8px 15px 0px rgba($c0, 25%)

	.vlt-post-content
		padding 15px

		header

			.vlt-post-title
				margin-bottom 5px

				font-size 16px

			.vlt-post-meta
				font-size 14px

	@media (max-width: 767px)
		margin-bottom 30px
