/*!*********************************/
/*! Post style single
/**********************************/

.vlt-post--style-single

	.vlt-post-media + .vlt-post-content
		padding-top 15px

	.vlt-post-content

		header
			margin-bottom 15px

			.vlt-post-title
				font-size 24px

			.vlt-post-meta
				margin-top 10px

		footer
			margin-top 20px

			.vlt-post-tags
				padding-top 6px
				@extend .vlt-widget.widget_tag_cloud

			@media (max-width: 767px)
				.vlt-post-tags
					margin-top 10px

					text-align center

// /*!*********************************/
// /*! Post share
// /**********************************/

// .vlt-post-share
// 	display inline-flex
// 	align-items center
// 	h6
// 		margin-right 20px
// 	a
// 		margin-right 20px

// 		color $c7
// 		&:hover
// 			color $c3

// /*!*********************************/
// /*! Post average rating
// /**********************************/

// .vlt-post-review
// 	margin 50px 0 0
// 	padding 30px
// 	border 1px solid $c12

// 	&__title
// 		margin 0 0 20px
// 		padding-bottom 20px
// 		border-bottom 1px solid $c12
// 		i
// 			margin-right 5px

// 		strong
// 			float right
// 			color $c3

// 	&__content

// 		.vlt-review-bar + .vlt-review-bar
// 			margin-top 20px

// 		.vlt-review-bar

// 			&__title
// 				margin 0
// 				margin-bottom 5px

// 				span
// 					float right

// 			&__bar
// 				position relative
// 				width 100%
// 				height 4px

// 				overflow hidden
// 				border-radius 10px
// 				background-color $c14
// 				> span
// 					position absolute
// 					top 0
// 					left 0
// 					height 100%

// 					background-color $c3

// 	&__summary
// 		margin-top 30px
// 		padding-top 20px
// 		border-top 1px solid $c12

// 		&--title
// 			margin 0 0 5px

// /*!*********************************/
// /*! Also like posts
// /**********************************/

// .vlt-post-also-like-posts
// 	margin-top 50px
// 	padding-top 30px

// 	border-top 1px solid $c12
// 	h4
// 		margin 0 0 20px


/*!*********************************/
/*! Also like posts
/**********************************/

.vlt-post-also-like-posts
	margin-top 50px

	h4
		margin 0 0 20px

/*!*********************************/
/*! After post shortcode
/**********************************/

.vlt-after-post-shortcode
	margin-top 50px