/*!*********************************/
/*! Post style masonry
/**********************************/

.vlt-post--style-masonry
	background-color $c6
	box-shadow 0px 1px 3px 0px rgba($c0, 10%)
	transition(box-shadow)

	&:hover
		box-shadow 0px 8px 15px 0px rgba($c0, 25%)

	.vlt-post-content
		padding 20px

		header

			.vlt-post-title
				margin-top 10px

				font-size 18px

			.vlt-post-meta
				font-size 14px

		.vlt-post-excerpt
			margin-top 10px