/*!*********************************/
/*! Header default
/**********************************/

.vlt-header--default .vlt-primary-nav

	.sf-menu

		> li
			float none
			display inline-flex

		> li + li
			margin-left 30px

		> li > a
			padding 15px 0

			text-transform uppercase
			font-size 13px
			letter-spacing 2px
			color $c1
			line-height 1.5

		> li:hover > a,
		> li.current-menu-item > a,
		> li.sfHover > a
			color $c0

		> li.menu-item-has-children > a::after
			content '\eb5a'
			display inline-flex
			margin-left 5px

			font-family $if

		> li.sfHover > a::after
			content '\eb62'

		a
			display block

		ul.sub-menu
			min-width 160px

			background-color $c6
			box-shadow 0px 4px 8px 0px rgba($c0, 10%)

			li
				display block

			li.menu-item-has-children > a::after
				content '\eb61'
				float right

				font-family $if

			a
				padding 10px 15px

				font-size 12px
				letter-spacing 1px
				color $c1
				line-height 1.5
				text-transform uppercase

			li:hover > a,
			li.current_page_item > a,
			li.sfHover > a
				color $c0

				background-color $c4