/*!*********************************/
/*! Header aside
/**********************************/

.vlt-header--aside .vlt-primary-nav
	position fixed
	top 0
	right 0
	width 400px
	height 100%

	padding 70px 50px

	z-index 600
	background-color $c6
	box-shadow 0 0 10px rgba($c0, 5%)
	transform translateX(100%)
	visibility hidden
	transition()

	&--opened
		visibility visible
		transform translateX(0)

	.sf-menu

		li
			float none
			display block

			text-align left

		> li
			padding 8px 0

		> li > a
			text-transform uppercase
			font-size 13px
			letter-spacing 2px
			color $c2
			line-height 1.5

		> li:hover > a,
		> li.current-menu-item > a,
		> li.sfHover > a
			color $c0

		> li.menu-item-has-children > a::after
			content '\eb5a'
			display inline-flex
			margin-left 5px

			font-family $if

		li.sfHover > a::after
			content '\eb62'

		a
			display block

		i
			margin-right 5px

		.sub-menu
			position static
			padding-top 8px
			padding-left 10px

			li.menu-item-has-children > a::after
				content '\eb5a'
				margin-left 5px

				font-family $if

			li
				padding 5px 0

			a
				font-size 12px
				letter-spacing 1px
				color $c2
				line-height 1.5

			li:hover > a,
			li.current_page_item > a,
			li.sfHover > a
				color $c0

.vlt-header--aside

	#vlt-aside-menu-close
		position absolute
		top 40px
		right 40px
		.line .inner
			background-color $c0

.vlt-header--aside-overlay
	position fixed
	top 0
	left 0
	width 100%
	height 100%

	z-index 100
	opacity 0
	visibility hidden
	background-color rgba($c0, 20%)
	transition()

	&.is-visible
		opacity 1
		visibility visible

@media (min-width: 783px)
	.admin-bar .vlt-header--aside .vlt-primary-nav
		top 32px !important

@media (max-width: 782px)
	.admin-bar .vlt-header--aside .vlt-primary-nav
		top 46px !important

@media (max-width: 600px)
	.admin-bar .vlt-header--aside .vlt-primary-nav
		top 0 !important
