/*!*********************************/
/*! Mobile navigation
/**********************************/

.vlt-mobile-nav
	display none

	position absolute
	top 100%
	left 0
	width 100%

	z-index 1
	background-color $c6

	li
		float none
		display block

	a
		position relative
		padding 10px 15px

		text-transform uppercase
		font-size 13px
		letter-spacing 2px
		color $c1
		line-height 1.5
		&:hover
			color $c0

			background-color $c4

	li.current-menu-item > a,
	li.current_page_item > a
		color $c0

		background-color $c4

	ul
		position static

	li.menu-item-has-children > a::after
		content '\eb5a'
		display inline-flex
		float right

		font-family $if

	li.sfHover > a::after
		content '\eb62'