/*!*********************************/
/*! Header fullscreen
/**********************************/

.vlt-header--fullscreen .vlt-primary-nav
	display flex
	align-items center
	justify-content center

	position fixed
	top 0
	left 0
	width 100%
	height 100%

	z-index 600
	background-color rgba(#000, 90%)

	visibility hidden
	opacity 0
	transition()

	&--opened
		opacity 1
		visibility visible

	.sf-menu

		li
			float none
			display block

			text-align center

		> li
			padding 8px 0

		> li > a
			text-transform uppercase
			font-size 13px
			letter-spacing 2px
			color rgba($c6, 50%)
			line-height 1.5

		> li:hover > a,
		> li.current-menu-item > a,
		> li.sfHover > a
			color $c6

		> li.menu-item-has-children > a::after
			position absolute
			content '\eb5a'
			display inline-flex
			margin-left 5px

			font-family $if

		li.sfHover > a::after
			content '\eb62'

		.sub-menu
			position static
			padding-top 8px

			li.menu-item-has-children > a::after
				position absolute
				content '\eb5a'
				margin-left 5px

				font-family $if

			li
				padding 5px 0

			a
				font-size 12px
				letter-spacing 1px
				color rgba($c6, 50%)
				line-height 1.5

			li:hover > a,
			li.current_page_item > a,
			li.sfHover > a
				color $c6

.vlt-header--fullscreen

	#vlt-fullscreen-menu-close
		position absolute
		top 40px
		right 40px
		.line .inner
			background-color $c6

	.vlt-header-socials
		text-align center

		a
			color $c0

			background-color $c8

			&:hover
				color $c6

				background-color $c0

@media (min-width: 783px)
	.admin-bar .vlt-header--fullscreen .vlt-primary-nav
		top 32px !important

@media (max-width: 782px)
	.admin-bar .vlt-header--fullscreen .vlt-primary-nav
		top 46px !important

@media (max-width: 600px)
	.admin-bar .vlt-header--fullscreen .vlt-primary-nav
		top 0 !important
