/*!*********************************/
/*! Post title
/**********************************/

.vlt-post-title
	margin 0

	line-height 1.4
	i
		margin-right 5px

	a:hover
		text-decoration none
		color $c2