/*!*********************************/
/*! Post meta
/**********************************/

.vlt-post-meta
	display block

	span + span
		margin-left 15px

	span i
		margin-right 5px

	a:hover
		color $c2