/*!*********************************/
/*! Post thumbnail
/**********************************/

.vlt-post-thumbnail
	position relative
	width 100%

	font-size 0
	text-align center

	background-color $c8

	&__link
		position absolute
		top 0
		left 0
		width 100%
		height 100%

		z-index 2