/*!  SHORTCODE TEAM MEMBER
----------------------------------------------------------*/

.vlt-team-member.style1
	.vlt-team-member-avatar
		position relative
		img
			line-height 0

	.vlt-team-member-content
		padding 10px
		text-align center
		border 1px solid $c9
		border-top none
	p
		font-size 12px
		margin 0
