/*!  SHORTCODE ALERT
----------------------------------------------------------*/

.vlt-pricing-table
	position relative
	padding 50px
	border 1px solid $c9
	text-align center

	.vlt-price-header
		border-bottom 1px solid $c8
		padding 0 0 30px
		.vlt-price-name
			text-transform uppercase
		.vlt-price-price
			font-size 36px
			line-height 1
			margin-top 15px
			color $c0

	.vlt-price-features ul
		list-style-type none
		margin 0
		padding 0
		line-height 3

	&.featured::before
		content '\f005'
		position absolute
		top 15px
		right 15px
		font-size 20px
		line-height 1
		color $c0
		font-family $fa