/**********************************/
/* Shortcode: Hero Header
/**********************************/
.vlt-hero-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 140px 0;
    min-height: 80vh;
    background-color: #efefef;
    .vlt-hero-title__content {
        min-width: 20%;
        padding: 5px 25px;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        h2 {
            text-transform: uppercase;
            font: 3vw 'Rajdhani', sans-serif;
            color: #fff;
            margin: 0;
        }
        p {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

/**********************************/
/* Shortcode: Team Member
/**********************************/
// Extends
%preserve-3d {
    border: 1px solid #e0e0e0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    .card {
        min-height: 312px;
        border: none;
        background: #ffffff;
        .card-title {
            color: #007b5e;
        }
    }
}

.team {
    max-width: 500px;
    margin: 0 auto;
    .image-flip{
        .mainflip {
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -ms-transition: 1s;
            -moz-transition: 1s;
            -moz-transform: perspective(1000px);
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
            .frontside{
                @extend %preserve-3d;
                position: relative;
                -webkit-transform: rotateY(0deg);
                -ms-transform: rotateY(0deg);
                z-index: 2;
                margin-bottom: 30px;
                .card-body img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                .btn-primary {
                    color: #fff;
                    background-color: #007b5e;
                    border-color: #007b5e;
                    &:hover,
                    &:focus {
                        background-color: #108d6f;
                        border-color: #108d6f;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
            .backside {
                @extend %preserve-3d;
                position: absolute;
                top: 0;
                left: 0;
                background: white;
                width: 100%;
                -webkit-transform: rotateY(-180deg);
                -moz-transform: rotateY(-180deg);
                -o-transform: rotateY(-180deg);
                -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                a {
                    font-size: 18px;
                    color: #007b5e;
                    padding: 0 5px;
                }
            }
            &:hover{
                .frontside{
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                }
                .backside {
                    -webkit-transform: rotateY(0deg);
                    -moz-transform: rotateY(0deg);
                    -o-transform: rotateY(0deg);
                    -ms-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                    border-radius: .25rem;
                }
            }
        }
    }
}

/**********************************/
/* Shortcode: Company Team Card
/**********************************/
.cardContainer {
    position: relative;
    max-width: 332px;
    height: 520px;
    min-height: 400px;
    margin: 0 auto;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    @media only screen and (max-width: $screen-xs-max) {
        height: 555px;
    }
    .active {
        -webkit-transform: translateZ(0px) rotateY(180deg) !important;
                transform: translateZ(0px) rotateY(180deg) !important;
        &:after {
            display: none;
        }
    }
    .tm-card {
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        -moz-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transform: translateZ(-100px);
                transform: translateZ(-100px);
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: white;
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
        }
        &:hover {
            -webkit-transform: translateZ(0px);
                    transform: translateZ(0px);
            &:after {
                opacity: 1;
            }
        }
        .side {
            border: 1px solid #e0e0e0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            width: 100%;
            text-align: center;
            height: 100%;
            border-radius: 5px;
        }
        .front {
            z-index: 2;
        }
        .back {
            -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
        }
        .info {
            padding: 18px 5px 10px;
        }
    }

    .front{
        .img {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            padding-bottom: 100%;
        }
    }

    .back{
        position: relative;
        .btn{
            position: absolute;
            bottom: 10px;
            height: 56px;
            width: 90%;
            display: flex;
            left: 5%;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            background-image: linear-gradient(-90deg, #FFB714, #FFE579);
            border-radius: 5px;
            &:hover{
                h4 {
                  transform: translateX(0px);
                }
                svg {
                  transform: translateX(0px);
                  opacity: 1;
                }
            }
            h4{
                transform: translateX(12px);
                transition: transform 0.3s ease-out;
                margin: 0;
                color: #000;
            }
            svg{
                margin: 1px 0 0 4px;
                transform: translateX(-8px);
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }
    }
}

/**********************************/
/* Masonry
/**********************************/
.masonry {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}

.masonry .gutter-sizer {
    width: 0px;
}

.masonry .grid-sizer,
.masonry .grid-item {
    float: left;
}

.masonry .grid-item {
    padding: 0 15px;
    margin-bottom: 30px;
}

.masonry .grid-item.w100 {
    width: 100% !important;
}

.masonry[data-masonry-col="1"] .grid-sizer,
.masonry[data-masonry-col="1"] .grid-item {
    width: 100%;
}

.masonry[data-masonry-col="1"] .grid-item {
    margin-bottom: 50px;
}

.masonry[data-masonry-col="2"] .grid-sizer,
.masonry[data-masonry-col="2"] .grid-item {
    width: calc(100% * 1 / 2);
}

@media (max-width: 767px) {
    .masonry[data-masonry-col="2"] .grid-sizer,
  .masonry[data-masonry-col="2"] .grid-item {
        width: 100%;
    }
}

.masonry[data-masonry-col="3"] .grid-sizer,
.masonry[data-masonry-col="3"] .grid-item {
    width: calc(100% * 1 / 3);
}

@media (max-width: 991px) {
    .masonry[data-masonry-col="3"] .grid-sizer,
  .masonry[data-masonry-col="3"] .grid-item {
        width: calc(100% * 1 / 2);
    }
}

@media (max-width: 767px) {
    .masonry[data-masonry-col="3"] .grid-sizer,
  .masonry[data-masonry-col="3"] .grid-item {
        width: 100%;
    }
}
/**********************************/
/* Appearance effect
/**********************************/
div[data-appearance-effect="1"] .post,
div[data-appearance-effect="1"] .product {
    opacity: 0;
}

/**********************************/
/* Post style masonry
/**********************************/
.vlt-post--style-masonry {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(51,51,51,0.1);
    transition: box-shadow 0.3s linear;
}

.vlt-post--style-masonry:hover {
    box-shadow: 0px 8px 15px 0px rgba(51,51,51,0.25);
}

.vlt-post--style-masonry .vlt-post-content {
    padding: 20px;
}

.vlt-post--style-masonry .vlt-post-content header .vlt-post-title {
    margin-top: 10px;
    font-size: 18px;
}

.vlt-post--style-masonry .vlt-post-content header .vlt-post-meta {
    font-size: 14px;
}

.vlt-post--style-masonry .vlt-post-content .vlt-post-excerpt {
    margin-top: 10px;
}

/**********************************/
/* Post thumbnail
/**********************************/
.vlt-post-thumbnail {
    position: relative;
    width: 100%;
    font-size: 0;
}

.vlt-post-thumbnail__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
/**********************************/
/* Post title
/**********************************/
.vlt-post-title {
    margin: 0;
    line-height: 1.4;
}

.vlt-post-title i {
    margin-right: 5px;
}

.vlt-post-title a:hover {
    text-decoration: none;
    color: #5b5b5b;
}


/**********************************/
/* Pagination general
/**********************************/
.vlt-pagination {
    position: relative;
    margin: 50px 0 20px 0;
    padding-top: 50px;
    text-align: center;
}

.vlt-pagination::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: #474747;
}
/**********************************/
/* Paged pagination
/**********************************/
.vlt-pagination--paged ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.vlt-pagination--paged li.prev-page + li.next-page {
    margin-left: 6px;
}

.vlt-pagination--paged li.prev-page,
.vlt-pagination--paged li.next-page {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px;
    width: 40px;
    background-color: #efefef;
    border-radius: 4px;
}

.vlt-pagination--paged li.prev-page.inactive,
.vlt-pagination--paged li.next-page.inactive {
    cursor: not-allowed;
}

.vlt-pagination--paged li.prev-page a,
.vlt-pagination--paged li.next-page a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #474747;
}

.vlt-pagination--paged li.prev-page a i,
.vlt-pagination--paged li.next-page a i {
    position: relative;
    z-index: 3;
}

.vlt-pagination--paged li.prev-page a span,
.vlt-pagination--paged li.next-page a span {
    position: absolute;
    top: 0;
    height: 100%;
    color: transparent;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    z-index: 2;
    border-radius: 4px;
    pointer-events: none;
    background-color: #474747;
    transform: scaleX(0);
    transition: all 0.3s linear;
}

.vlt-pagination--paged li.prev-page a span {
    right: 0;
    padding-right: 55px;
    padding-left: 15px;
    transform-origin: right;
}

.vlt-pagination--paged li.next-page a span {
    left: 0;
    padding-left: 55px;
    padding-right: 15px;
    transform-origin: left;
}

.vlt-pagination--paged li.prev-page a:hover,
.vlt-pagination--paged li.next-page a:hover {
    color: #fff;
    transition-delay: 150ms;
}

.vlt-pagination--paged li.prev-page a:hover span,
.vlt-pagination--paged li.next-page a:hover span {
    color: #fff;
    transform: scaleX(1);
}
/**********************************/
/* Numeric pagination
/**********************************/
.vlt-pagination--numeric span,
.vlt-pagination--numeric a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    padding: 0 16px;
    margin-right: 6px;
    color: #474747;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #efefef;
    border-radius: 4px;
}

.vlt-pagination--numeric span:last-child,
.vlt-pagination--numeric a:last-child {
    margin-right: 0;
}

.vlt-pagination--numeric span.current,
.vlt-pagination--numeric a:hover {
    color: #fff;
    background-color: #474747;
}

@media (max-width: 575px) {
    .vlt-pagination--numeric {
        font-size: 32px;
    }
}
/**********************************/
/* Load more
/**********************************/
.vlt-pagination--load-more {
    text-align: center;
}

.vlt-pagination--load-more a i {
    margin-right: 5px;
}

.vlt-pagination--load-more a:not(.loading) i {
    display: none;
}

.vlt-pagination--load-more a.disabled {
    opacity: 0.8;
    pointer-events: none;
}

/*Animation*/
.icofont-rotate {
    display: inline-block;
    -webkit-animation: icofont-rotate 2s infinite linear;
    animation: icofont-rotate 2s infinite linear;
}

@-webkit-keyframes icofont-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes icofont-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

/**********************************/
/* Video Gallery
/**********************************/
.gallery-box{
    overflow: hidden;
}
.wrap-vg{
    overflow: hidden;
    .filter-video-gallery .vg-filter{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .reset-btn{
            display: none;
            padding: 7px;
            border-radius: 0;
            margin: 0 0 0.5rem;
            width: inherit;
            text-transform: uppercase;
            font-size: 16px;
        }
        .form-group {
            position: relative;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            .form-control{
                margin: 0 3px;
                width: inherit;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                height: inherit;
                padding: 10px 36px 10px 10px;
            }
            .selectbasic + i.fas {
                top: inherit;
            }
        }
    }
    .video-gallery-tax{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &.loading:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            background: #fff;
            opacity: 0.7;
            z-index: 10;
        }
        .video {
            animation: slide-up 0.9s ease;
            background: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            width: 23%;
            margin: 1%;
            @media only screen and (max-width: $screen-sm-max) {
                width: 31.333%;
            }
            @media only screen and (max-width: $screen-xs-max) {
                width: 48%;
            }
            @media only screen and (max-width: 480px) {
                display: block;
                width: 96%;
                margin: 2%;
                float: none;
            }
            figure {
                height: 0;
                padding-bottom: 56.25%;
                overflow: hidden;
                video {
                    border: 0 none;
                    max-width: 100%;
                }
                a {
                    display: block;
                    margin: 0;
                    padding: 0;
                    border: none;
                    line-height: 0;
                }
            }
            h2{
                font-size: 18px;
                font-weight: 400;
                line-height: 1.25;
                color: #555;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: center;
                padding: 0px 8px 15px;
                margin: 0;
            }
            img {
                width: 100%;
                opacity: 1; 
                &hover, &active, &focus{
                    opacity: 0.75;
                }
            }
        }
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
