/*!*********************************/
/*! Body
/**********************************/

// body
// 	-webkit-font-smoothing antialiased
// 	-moz-osx-font-smoothing grayscale

/*!*********************************/
/*! Image
/**********************************/

img
	max-width 100%
	height auto
	if development-mode
		filter grayscale(100%)

/*!*********************************/
/*! Paragraph
/**********************************/

p
	margin 0 0 30px
	&:empty
		display none


/*!*********************************/
/*! Highlight
/**********************************/

.highlight
	background-color $c0
	color $c6

/*!*********************************/
/*! Strong
/**********************************/

strong
	font-weight 600

/*!*********************************/
/*! Link
/**********************************/

a
	color inherit
	text-decoration none

	transition()

a:hover,
a:focus,
a:active
	outline none
	text-decoration none

a:hover
	color $c0

/*!*********************************/
/*! Headings
/**********************************/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
	padding 0
	margin 10px 0

/*!*********************************/
/*! List
/**********************************/

ul,
ol
	margin 0
	padding 0

	list-style-position inside

/*!*********************************/
/*! Divider
/**********************************/

hr
	margin 30px 0
	border none
	border-bottom 1px solid $c9

/*!*********************************/
/*! Address
/**********************************/

address
	margin 0 0 30px

	color $c0
	font-style italic
	font-size 15px
	line-height 1.6
	font-weight 400

/*!*********************************/
/*! Blockquote
/**********************************/

blockquote:not(.wp-block-quote):not(.wp-block-pullquote)
	position relative
	margin 30px 0
	padding-left 50px
	&::before
		content '\f0b1'
		position absolute
		top 6px
		left 0

		font-size 24px
		font-family $if
		line-height 1

cite
	display block

	color $c0
	font-size 12px
	font-style normal
	text-transform uppercase
	letter-spacing 2px

	&::before
		content '\2014'
		padding-right 10px

.wp-block-quote:not(.is-large):not(.is-style-large)
	margin 30px 0
	padding-left 1em
	border-left: 4px solid $c0

.wp-block-quote.is-style-large,
.wp-block-quote.is-large
	margin 30px 0
	padding 0

.wp-block-quote cite,
.wp-block-quote.is-style-large cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color blockquote cite
	@extend cite

.wp-block-pullquote
	padding 30px 0
	margin 0
	border none

	blockquote
		margin 0 !important
		padding-left 0 !important

		&::before
			display none

	cite
		color currentColor

.wp-block-pullquote.is-style-solid-color blockquote
	text-align center

/*!*********************************/
/*! Preformatted
/**********************************/

code
	padding 4px 5px

	color $c6
	font-size 80%
	font-family Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

	border none
	background-color $c1

pre
	position relative
	padding 15px 30px
	max-width 100%
	margin 30px 0

	font-size 14px
	color $c0
	white-space pre-wrap
	font-family Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

	overflow auto
	clear both
	background-color $c5
	border none
	&::after
		content '\eea3'
		position absolute
		top 0
		right 0
		width 20px
		height 100%
		padding 2px	0 0 0

		font-size 12px
		color $c6
		font-family $if
		text-align center

		background-color $c1

/*!*********************************/
/*! Forms, Inputs
/**********************************/

form
	max-width 100%

label
	display block
	margin-bottom 5px
	abbr
		border none !important

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
textarea,
select
	display block
	padding 6px 15px
	margin 0
	width 100%

	border 1px solid $c9
	outline none
	box-shadow none
	border-radius 4px
	background-color $c6
	transition()

select
	padding-right 35px
	appearance none
	background-image url('../img/select.png');
	background-position right 15px bottom 50%
	background-repeat no-repeat
	background-size 6px 10px

textarea
	width 100%
	max-width 100%
	transition none

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
textarea,
select

	+placeholder()
		color $c1
		opacity 1

	&:focus
		outline none
		border-color $c7

.vlt-form-group
	display block
	padding-bottom 30px
	&.col-4
		float left
		padding-left 0
		padding-right 30px
		@media (max-width: 767px)
			float none
			max-width 100%
			padding-right 0

	&.col-4:nth-child(4)
		padding-right 0

	&.col-6
		float left
		padding-left 0
		padding-right 20px
		@media (max-width: 767px)
			float none
			max-width 100%
			padding-right 0

	&.col-6:nth-child(even)
		padding-right 0

/*!*********************************/
/*! Custom Checkbox
/**********************************/

.vlt-custom-checkbox,
.vlt-custom-radio
	position absolute
	top -100%
	left 0
	visibility hidden

.vlt-custom-checkbox-label,
.vlt-custom-radio-label
	position relative
	padding-left 25px
	margin-bottom 0
	&::before
		content ''
		position absolute
		display block

		border 1px solid $c9
		cursor pointer
		border-radius 2px

.vlt-custom-checkbox-label
	&::before
		top 4px
		left 0
		height 14px
		width 14px

.vlt-custom-radio-label
	&::before
		top 4px
		left 0
		width 14px
		height 14px

		border-color $c9
		border-radius 14px

.vlt-custom-checkbox:checked + .vlt-custom-checkbox-label::before
	content '\efad'

	font-family $if
	color $c6
	font-size 12px
	line-height 12px
	text-align center

	background-color $c0
	border-color $c0

.vlt-custom-radio:checked + .vlt-custom-radio-label::before
	border-color transparent
	background-color $c0

/*!*********************************/
/*! Definition list
/**********************************/

dl
	margin 0 0 30px

dt
	color $c0
	font-weight 600
	text-transform uppercase
	letter-spacing 1px

dd
	padding 0
	margin 2px 0 0

dd + dt
	margin-top 10px

/*!*********************************/
/*! Table
/**********************************/

table
	width 100%
	max-width 100%
	margin 0 0 30px

	text-align left

	border-collapse collapse
	td,
	th
		padding 15px

	thead th,
	tr th
		font-size 15px
		color $c6
		text-transform uppercase
		font-weight 600
		letter-spacing 1px

		background-color $c1

	tbody tr:nth-child(even)
		background-color $c5