


@media (min-width: 768px) and (max-width: 1024px) {

  #mega_main_menu > .menu_holder > .menu_inner > ul{
    position: absolute !important;
    z-index: 99999;
    background-color: #fff;
    width: 250px !important;
  }

  .h_header_nav_bar{
    float: left;
  }

.hill-four-zero{
    width: auto!important;
    height: auto!important;
    }

.h_logo {
    display: block;
    /*margin: 20px auto;*/
    width: 120px;
  }



  .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
 
  .h_upper_nav_pan .navbar-toggle{

    display: block!important;
  }
 
.h_banner_wrapper h2 {
	  font-size: 3.0vh;
	}


  .h_cart_utilily_bottom_menu a {
    font-size: 13px;
    }

.footer_search_box .h_input_fotter_search{
  width: 70%;
}

.h_media_single_box{
  margin-bottom: 6px;
}
.h_sidebar{
  top: 0;
}
#content-bar-modifer img{
  width: auto;
}

.h_header_bottom,
.h_header_top{
  height: 100%;
}


}

/* This is condition only for exact*/



/*@media (min-width: 1024px) and (max-width: 1024px) {

      .h_input_search_cat.h_input_search_cat_modify2 {
      width: 81% !important;
      margin-left: 69px;
}


  .h_header_bottom .col-sm-12{

    width: 100%;
  }

  .h_selectbox_cat_search_outer {
    width: auto;
    margin-left: 12px;
  }

.h_input_search_cat{
  width: 54%!important;
}


.footer-social-media li {
  margin-right: 5px;
}

.h_selectbox_cat_search_outer {
  margin-left: 40px;
  width: 250px;
}

.h_input_search_cat.h_input_search_cat_modify {
  margin-left: 116px;
  width: 422px;
}



}*/

@media (min-width: 481px){
  .footer_box ul.menu,
  .footer_box > ul{

    display: block !important;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .footer_box h4{

    border-bottom: 1px solid #2d2d2d;
  }

.footer_box h4:hover{

  cursor: pointer;
}


.footer_box h4::after{

content: "\f055";
width:24px;
height:24px;
position:absolute;
right:12px;
top:-6px; 
font-size: 1.300em;
font-family: "FontAwesome"
}

.footer_box h4.h_active::after{

content: "\f056";
width:24px;
height:24px;
position:absolute;
right:12px;
top:-6px; 
font-size: 1.300em;
font-family: "FontAwesome"
}


.footer_box ul.menu,
.footer_box > ul{

  display: none;
}

  .nav_mofdifier3{
    margin-left:0px;
    }

  .h_sidebar{
    top: 0;
  }


	.h_banner_wrapper {  	
	  width: auto;
	}

	.h_banner_wrapper h2 {
	  font-size: 3.0vh;
	}


.h_banner_wrapper{
	display: none;
}	

.h_telephone_box{
	text-align: center;
}

.h_header_utility_menu {
  right: 0;
  width: 100%;
}	


.h_header_cart_box {
  margin: 0 auto;
  width: 198px;
  float: none;
}



.h_banner_pro_utility_box_wrapper{

	height: auto;
}
.h_single_pro_utility_box {
  margin: 0 auto;
  width: 90%;
}


.footer-social-media li {

  margin-right: 0px!important;
  width: auto;
}

.footer-social-media li a {
  font-size: 18px;
}

.social_media_footer_pan {
  background: #da2127 none repeat scroll 0 0;
  height: 46px;
  margin-top: 20px;
}

.footer_search_box .h_input_fotter_search {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #939393;
  float: left;
  font-size: 15px;
  font-style: italic;
  height: 40px;
  line-height: 40px;
  margin-left: 99px;
  margin-top: 17px;
  padding: 4px 8px;
  width: 133px;
}

.h_header_bottom{
  height: auto;
	position: relative;
	z-index: 1200;
}

.h_best_seller_left {
  margin: 0 auto;
  padding: 33px 16px 26px 40px;
  width: 240px;

}

.h_header_top{

	height: auto;
}

.h_input_search_cat{

  width: 70%;
}

.h_selectbox_cat_search_outer{

  width: 100%;
}

.h_all_categories_search_pan img {
  display: block;
  margin: 12px auto;
}


.h_selectbox_cat_search_outer2{

  margin-left: 0;
}

.h_input_search_cat.h_input_search_cat_modify{

  margin-left: 0;
  width: auto;
}

.h_float_utiliy_box{

  display: none;
}

.cart_b_menu_per_box{

  border: none;
}

}

@media (min-width: 480px) and (max-width: 480px) {

	.input_search{
	width: 410px!important;

}

.footer-social-media li {
  margin-right: 23px;
}

.h_input_search_cat.h_input_search_cat_modify{
  margin-left: 0;
  width: auto;
}

	}

  /*@media (min-width: 768px) and (max-width: 768px) {



    .h_selectbox_cat_search {
      width: 203px;
    }

    .h_selectbox_cat_search_outer2 {
        margin-left: 6px;
        width: 203px;
      }

    .h_input_search_cat.h_input_search_cat_modify {
      margin-left: 0px;
      width: 156px;
    }

    .my_cart_box2_right {
      width: 46px;
    }


    .cart_b_menu_per_box.fa::before {
      font-size: 14px;
      left: 5px;
      position: absolute;
      top: 20px;
    }

    .h_cart_utilily_bottom_menu a {
     
      padding-left: 7px;
      text-align: center;
      font-size: 10px;
    }

    .h_upper_nav_pan .navbar-nav > li{

      margin-left: 0;
    }

    .h_input_search_cat{

      width: auto;
    }

    .footer-social-media li {
      width: 12px;
    }

    .footer_box h4 {
      font-size: 23px;
    }
  }*/

  @media (min-width: 320px) and (max-width: 480px) {
    .footer-social-media li{
      margin: 0!important;
      width: auto!important;
    }

    .txt-four-zero{     
      font-size: 178px!important;
    }

    .footer_search_box .h_input_fotter_search {
      width: 37%!important;
      }

    .countdown-digit-box,
    .conutdown-txt-box{
      float: none;
  }

  .hill-four-zero{
    width: auto!important;
    height: auto!important;
    }
}



@media (max-width: 1200px){
  .btn_search{
    width: 40px;
  }
  #mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link{
    padding: 0px 13px;
  }

  .footer_search_box .input_search{
    width: 775px;
  }

  .h_selectbox_cat_search, .orderby, .woocommerce div.product .variations .value select {
    width: 196px;
  }

  .hill_header3 .h_input_search_cat {
    width: 330px;
  }
  .h_btn_cat_search {
    width: 65px;
  }

  .cart_b_menu_per_boxes > ul > li{
    padding: 0 10px;
  }

  .h_mycart_box2_left{
    padding-right: 60px;
  }

  .h_mycart_box2_right{
    width: 60px;
  }

  .h_input_search_cat{
    width: 575px;
  }

  .add_to_cart_button, .product_type_simple{
    width: 106px;
  }
}

@media (max-width: 1024px){
  .h_float_utiliy_box{
    display: none  !important;
  }
  .h_banner_1_modify.hill_sticky_navbar .h_header_1{
    position: static;
  }
  .h_header_nav_bar .navbar{
    display: none;
  }
  .hill-mn-toggle{
    display: block;
  }
  .hill_header_catnav{
    display: none;
  }
  .h_header_nav_bar{
    display: block;
    width: 100%;
    padding-left: 150px;
    padding-right: 188px;
  }
  .h_header_brand{
    position: absolute;
    top: 0;
    left: 0;
  }
  .h_header_search_box{
    position: absolute;
    top: 0;
    right: 0;
  }


}

@media (max-width: 991px){
  .h_telephone_box{
    text-align: center;
  }

  .h_header_cart_utility_menu_cont{
    text-align: left;
  }

  .hill_minicart_holder {
    float: right;
  }

  .input-hill-subscribe {
    max-width: 550px;
  }

  .footer_search_box .input_search {
    width: 550px;
  }
  .h_float_utiliy_box{
    display: none  !important;
  }

  .hill_header3 .h_input_search_cat{
    width: 120px;
    padding: 4px 10px;
  }
  .h_btn_cat_search {
    width: 44px;
  }

  .h_selectbox_cat_search{
    width: 140px;
    padding: 0px 10px;
  }

  .cart_b_menu_per_boxes > ul > li{
    width: 50%;
  }
  .cart_b_menu_per_boxes > ul > li:nth-child(1),
  .cart_b_menu_per_boxes > ul > li:nth-child(2){
    border-bottom: 1px dotted #AFAFAF;
  }

  .cart_b_menu_per_boxes > ul > li:nth-child(2){
    border-right: 1px dotted #AFAFAF;
  }

  .hill_discount_product .hill_dp_1_2_col{
    width: 100%;
  }

  .hill_cat_search_3 .hill_header2_search_box .h_input_search_cat.h_input_search_cat_modify2{
    width: 430px;
  }

  .hill_header2 .h_header_utility_menu{
    text-align: center;
  }

  .add_to_cart_button, .product_type_simple {
    width: 234px;
  }
}
@media (max-width: 767px) {
  .hill_banner_cont img{
    width: 100%;
  }

  .hill_popup{
    display: none !important;
  }

  .hill_minicart_holder2 {
    margin-top: 15px;
  }

  .footer_search_box .input_search {
    width: 100%;
    margin-left: 0;
    padding-left: 115px;
  }
  .footer_search_box .h_search_box{
    position: relative;
  }
  .footer_search_box .btn_search{
    position: absolute;
    top: 0;
    right: 0;
  }
  .hill_header2_search_box{
    float: none;
    display: block;
    position: relative;
  }

  .hill_header3 .h_input_search_cat{
    display: block;
    float: none;
    width: 100%;
    padding-left: 260px;
  }

  .h_btn_cat_search{
    position: absolute;
    top: 0;
    right: 0;
  }

  .hill_header2_brand{
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 99;
  }

  .h_selectbox_cat_search_outer{
    position: absolute;
    top: 0;
    left: 115px;
    z-index: 99;
  }

  .hill_cat_search_3 .h_btn_cat_search,
  .hill_cat_search_3 .hill_header2_brand,
  .hill_cat_search_3 .h_selectbox_cat_search_outer{
    position: static;
  }

  .hill_cat_search_3 .h_input_search_cat{
    float: none;
  }

  .hill_cat_search_3 .hill_header2_search_box{
    display: inline-block;
  }
  .h_header_nav_bar{
    padding-right: 0;
  }
}
@media (max-width: 570px) {
  .woocommerce div.product form.cart .single_add_to_cart_button{
    width: 100%;
    margin-top: 15px;
  }

  .hill_wc_single_product_extra_btns{
    right: 0;
  }

}
@media (max-width: 524px){
  .h_header_search_box{
    position: relative;
    width: 100%;
  }

  .input_search{
    width: 100%;
    padding-right: 50px;
  }

  .btn_search{
    position: absolute;
    top: 0;
    right: 0;
  }

  .h_header_nav_bar{
    padding-right: 0;
  }
  .h_header_cart_utility_menu_cont{
    text-align: center;
  }
  .h_best_seller_left{
    width: 100%;
  }

  .hill_minicart_holder{
    float: none;
  }

  .hill_min_cart_popup {
    right: -50%;
    margin-right: 14px;
    min-width: 320px;
  }
  @media screen and (max-width: 767px){
  .hill_min_cart_popup{
	right: 0;
	margin-right: 0;
  }
  }
  .h_mycart_box3 .hill_min_cart_popup {
    right: 0;
    margin-right: 0;
  }

  .cart_b_menu_per_boxes > ul > li{
    width: 100%;
    border-bottom: 1px dotted #AFAFAF;
    border-right: 1px dotted #AFAFAF;
  }

  .cart_b_menu_per_boxes > ul > li:last-child{
    border-bottom-width: 0;
  }

  .hill_cat_search_3 .hill_header2_search_box{
    display: block;
  }
  .hill_header2_search_box .h_input_search_cat.h_input_search_cat_modify2{
    width: 100%;
  }
  .hill_cat_search_3 .h_btn_cat_search{
    position: absolute;
  }

  .hill_minicart_holder_3 .hill_min_cart_popup{
    right: 0;
    margin-right: 0;
  }
}
@media (max-width: 490px){
  .hill_wc_top_sale_slider ul.products li .hillpro-single-box .hill-wocommerce-right-col .hill-wocommerce-row,
  .hill_wc_top_sale_slider ul.products li .hillpro-single-box .hill-wocommerce-right-col .hill-cart2-box,
  .hill_wc_top_sale_slider ul.products li .hillpro-single-box .hill-proImg-container,
  .hill_wc_top_sale_slider ul.products li .hillpro-single-box .hill-wc-title-desc-col{
    width: 100%;
    float: none;
    padding: 0;
  }
  .hill_wc_top_sale_slider ul.products li .hillpro-single-box .hill-wocommerce-right-col .hill-wocommerce-row{
    margin-bottom: 20px;
  }

  .framework-per-single-post{
    position: relative;
  }

  .hill_widget_popular_post .framework-per-single-post .hill-single-post-meta-box span,
  .hill_widget_popular_post .framework-per-single-post .hill-single-post-meta-box span > a,
  .hill_widget_popular_post .framework-per-single-post .hill-single-post-meta-box{
    color: #000;
  }

  .hill_widget_popular_post .framework-per-single-post .entry-title.hill_big_post_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-top: 15px;
  }
  .framework-per-single-post a:hover,
  .framework-per-single-post a{
    color: #000;
  }

  .framework-per-single-post{
    padding: 15px 0 0;
  }

  .hill_header2_brand{
    position: relative;
    display: block;
    left: 0;
    max-width: none;
    float: none;
  }
  .h_selectbox_cat_search_outer{
    position: relative;
    left: 0;
    display: block;
    max-width: none;
    float: none;
  }
  .h_selectbox_cat_search{
    width: 100%;
  }

  .hill_header3 .h_input_search_cat{
    padding-left: 10px;
    padding-right: 44px;
  }

  .hill_header3 .h_header_utility_menu{
    text-align: center;
  }
}

@media (max-width: 480px){
  .footer_box h4{
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .footer_box{
    margin-bottom: 10px;
  }
}
@media (max-width: 430px){
  .hill_discount_product .hill_dp_item_cont{
    width: 100%;
  }

  .txt-four-zero {
      font-size: 100px !important;
  }

  .add_to_cart_button, .product_type_simple {
    width: 175px;
  }
}
@media (max-width: 320px){
  .hill-mn-toggle{
    padding: 0 20px;
  }

  .woocommerce div.product .hill-wish-list,
  .woocommerce div.product .hill-compare,
  .woocommerce div.product .framwork-share-this{
    margin-right: -2px;
  }
}