/*
Merge Style of

dcaccordion.css

elastic_slideshow.css

livesearch.css

slideshow.css

carousel.css

cloud-zoom.css

flexslider.css

swipebox.css

tipTip.css

ui.totop.css

*/



/*dcaccordion*/

.accordion li.dcjq-parent-li {
    position: relative;
}
.accordion li > a + .dcjq-icon {
    float: right;
    width: 39px;
    height: 39px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../image/plus_red.png) no-repeat center;
    cursor: pointer
}
.accordion li.dcjq-parent-li .dcjq-icon:hover {
    background: url(../image/plus_red_hover.png) no-repeat center #FFFFFF;
}
.accordion li.dcjq-parent-li > a + .dcjq-icon {
    display: block;
    width: 39px;
    height: 39px;
    background: url(../image/plus_red.png) no-repeat center;
}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon {
    display: block;
    width: 39px;
    height: 39px;
    background: url(../image/minus_red.png) no-repeat center;
}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon:hover {
    background: url(../image/minus_red.png) no-repeat center #FFFFFF;
}
.accordion li > a + .dcjq-icon {
    display: none;
}
.accordion li > a.active + .dcjq-icon {
    display: none;
}



/*elastic_slideshow*/

.ei-slider {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 370px;
    margin: 0 auto 35px;
}
.ei-slider-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    line-height: 300px;
}
.ei-slider-large {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.ei-slider-large li {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ei-slider-large li img {
    width: auto !important;
    height: auto !important;
    position: absolute;
    margin-top: 15px !important;
    padding: 10px;
    left: 10%;
    border-radius: 0;
    background-color: #FFFFFF;
    max-width: 35%;
}
.ei-title {
    position: absolute;
    left: 36%;
    margin-left: 8%;
    margin-right: 50px;
    top: 10%;
    text-align: left;
}
.ei-title h2, .ei-title h3, .ei-title h4 {
    text-align: left;
}
.ei-title h2 {
    margin-bottom: 15px;
}
.ei-title h2 a {
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
}
.ei-title h3 {
    margin-bottom: 25px;
    line-height: 20px;
    font-weight: normal;
	text-transform: none;
}
.ei-title h3 a {
    font-size: 14px;
}
.ei-title h4 {
    margin-top: 20px;
    text-decoration: none;
}
.ei-title h4 a, .ei-title h4 a .price-new {
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}
.ei-title h4 a.button {
	padding: 10px 18px;
}
.ei-slider-thumbs {
    height: 17px;
    margin: 0 auto;
    position: relative;
}
.ei-slider-thumbs li {
    position: relative;
    float: left;
    height: 100%;
    list-style: none;
    padding-right: 1px;
}
.ei-slider-thumbs li: last-child {
    padding-right: 0;
}
.ei-slider-thumbs li.ei-slider-element {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    z-index: 2;
    text-indent: -9000px;
}
.ei-slider-thumbs li .thumb_arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid;
    bottom: 62px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    color: #FFFFFF;
    transition: all 0.4s ease;
}
.ei-slider-thumbs li:hover .thumb_arrow {
    bottom: 21px;
    opacity: 1;
    z-index: 999;
}
.ei-slider-thumbs li a {
    display: block;
    font-weight: bold;
    width: 100%;
    height: 100%;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li img {
    position: absolute;
    bottom: 67px;
    opacity: 0;
    z-index: 1;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    transition: all 0.4s ease;
    border: #FFFFFF solid 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.ei-slider-thumbs li:hover img {
    z-index: 999;
    opacity: 1;
    bottom: 27px;
}
@media screen and (max-width: 767px) {
    .ei-title {
        position: absolute;
        left: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: 0;
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        padding: 5px 0 15px;
   }
   .ei-title h2, .ei-title h3, .ei-title h4 {
       text-align: center;
       padding: 0 10px;
       margin-bottom: 0;
       margin-left: auto !important;
       margin-right: auto !important;
  }
  .ei-title h2 a {
      font-size: 20px;
      line-height: 20px;
 }
 .ei-title h3 {
     margin-top: 5px;
}
.ei-title h3 a {
    font-size: 12px;
    line-height: 12px !important;
}
.ei-title h4 {
    margin-top: 8px;
}
.ei-slider {
    background: #FFFFFF;
}
.ei-slider-large li img {
    width: 70% !important;
    max-width: 70%;
    height: auto !important;
    position: absolute;
    margin-top: -50px !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    padding: 70px;
    left: auto !important;
    right: auto !important;
}
.ei-slider-thumbs {
    height: 15px;
}
.ei-slider-thumbs li a {
    text-indent: -9000px;
}
.ei-slider-thumbs li.ei-slider-element {
    height: 100%;
}
.ei-slider-thumbs li img {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: #FFFFFF solid 5px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
    .ei-title {
        margin-right: 17%;
   }
   .ei-title h2 {
       margin-top: 5px;
  }
  .ei-title h2 a {
      font-size: 28px;
      line-height: 18px;
 }
 .ei-title h3 a {
     font-size: 12px;
     line-height: 12px !important;
}
.ei-title h4 {
    margin-top: 8px;
}
}


/*livesearch*/

#livesearch_search_results, .ui-autocomplete.ui-widget-content.ui-widget {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 38px;
    left: 0px;
    background: #FFF;
    list-style-type: none;
    z-index: 999999;
    min-width: 160px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0;
	border: 0;
}
.is-sticky .ui-autocomplete.ui-widget-content.ui-widget {
    position: fixed;
}
#livesearch_search_results li, .ui-autocomplete.ui-widget-content.ui-widget li {
    padding: 10px 15px;
    border-bottom: 1px solid #F1F1F1;
}
#livesearch_search_results li:last-child, .ui-autocomplete.ui-widget-content.ui-widget li:last-child {
    border-bottom: none;
}
.ui-menu .ui-menu-item a, .ui-autocomplete.ui-widget-content.ui-widget a:hover, .ui-autocomplete.ui-widget-content.ui-widget .ui-corner-all:hover {
    border: none !important;
    background: none !important;
}
#livesearch_search_results a, #livesearch_search_results a:hover, .ui-autocomplete.ui-widget-content.ui-widget a, .ui-autocomplete.ui-widget-content.ui-widget a:hover {
    color: #888888;
    text-decoration: none;
	text-transform: uppercase;
}
#livesearch_search_results li:hover a, .ui-autocomplete.ui-widget-content.ui-widget li:hover a {
    color: #FFFFFF;
}
#livesearch_search_results li, .ui-autocomplete.ui-widget-content.ui-widget li {
    transition: all 0.2s ease-in 0s;
}
#livesearch_search_results .highlighted a {
    color: #FFFFFF;
}


/*slideshow*/

.slideshow {
    margin-bottom: 20px;
}
/**************************

*	CAMERA SLIDER

**************************/

.camera_wrap a, .camera_wrap img, .camera_wrap ol, .camera_wrap ul, .camera_wrap li, .camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td .camera_thumbs_wrap a, .camera_thumbs_wrap img, .camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li, .camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none
}
.camera_wrap {
    display: none;
    position: relative;
    z-index: 0;
}
.camera_wrap img {
    max-width: none!important;
}
.camera_fakehover {
    height: 100%;
    min-height: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.camera_wrap {
    width: 100%;
    margin: 0 0 20px 0!important;
}
.camera_src {
    display: none;
}
.cameraCont, .cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.cameraSlide {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.cameraContent {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.camera_target {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 0;
}
.camera_thumb {
    width: 300px;
    height: 112px;
}
.camera_overlayer {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.camera_target_content {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.camera_target_content .camera_link {
    display: block;
    height: 100%;
    text-decoration: none;
    background: url(../image/blank.gif) !important;
}
.camera_loader {
    background: nonone;
    border: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    height: 36px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    width: 36px;
    z-index: 3;
}
.camera_bar {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
    height: 100%;
    position: absolute;
    width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
    height: auto;
    position: absolute;
    width: 100%;
}
.camera_nav_cont {
    height: 65px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 15px;
    width: 120px;
    z-index: 4;
}
.camera_caption {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
}
.camera_caption > div {
    padding: 10px 20px;
}
.camerarelative {
    overflow: hidden;
    position: relative;
}
.imgFake {
    cursor: pointer;
}
.camera_prevThumbs {
    bottom: 4px;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 4px;
    visibility: hidden;
    width: 30px;
    z-index: 10;
}
.camera_prevThumbs div {
    background: url(../image/sliders/camera/camera_skins.png) no-repeat -160px 0;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.camera_nextThumbs {
    bottom: 4px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 4px;
    visibility: hidden;
    width: 30px;
    z-index: 10;
}
.camera_nextThumbs div {
    background: url(../image/sliders/camera/camera_skins.png) no-repeat -190px 0;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.camera_command_wrap .hideNav {
    display: none;
}
.camera_command_wrap {
    left: 0;
    position: relative;
    right: 0;
    z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -50px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    /*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/

cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 20px 5px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
    /*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/

height: 8px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 50px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.camera_pag_ul li img {
    display: none;
    position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
    cursor: pointer;
    height: 60px;
    margin-top: -20px;
    position: absolute;
    top: 48%;
    width: 60px;
    z-index: 2;
}
.camera_prev {
    left: 0;
}
.camera_prev > span {
    background: url(../image/sliders/camera/nav.png) no-repeat 0 0;
    display: block;
    height: 60px;
    width: 60px;
}
.camera_next {
    right: 0;
}
.camera_next > span {
    background: url(../image/sliders/camera/nav.png) no-repeat 0 0;
    display: block;
    height: 60px;
    width: 60px;
}
.camera_commands {
    right: 61px;
}
.camera_commands > .camera_play {
    background: url(../image/sliders/camera/nav.png) no-repeat 0 0;
    height: 60px;
    width: 60px;
}
.camera_commands > .camera_stop {
    background: url(../image/sliders/camera/nav.png) no-repeat 0 0;
    display: block;
    height: 60px;
    width: 60px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    /*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/

cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 20px 1px 20px 0;
    position: relative;
    text-indent: -9999px;
    width: 50px;
}
.camera_thumbs_cont {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.camera_thumbs_cont > div {
    float: left;
    width: 100%;
}
.camera_thumbs_cont ul {
    overflow: hidden;
    padding: 3px 4px 8px;
    position: relative;
    text-align: center;
}
.camera_thumbs_cont ul li {
    display: inline;
    padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
    border: 1px solid;
    cursor: pointer;
    margin-top: 5px;
    vertical-align: bottom;
}
.camera_clear {
    display: block;
    clear: both;
}
.showIt {
    display: none;
}
.camera_clear {
    clear: both;
    display: block;
    height: 1px;
    margin: -1px 0 25px;
    position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/

.pattern_1 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
    background: url(../image/sliders/camera/patterns/overlay10.png) repeat;
}
.camera_caption {
    color: #fff;
}
.camera_caption > div {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #d4d4d4;
}
.camera_pag_ul li img {
    border: 7px solid #ffffff;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    top: -120px !important;
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_thumbs_cont ul li > img {
    border-color: 1px solid #000;
}
/*AZURE SKIN*/

.camera_azure_skin .camera_prevThumbs div {
    background-position: -160px -240px;
}
.camera_azure_skin .camera_nextThumbs div {
    background-position: -190px -240px;
}
.camera_azure_skin .camera_prev > span {
    background-position: 0 -60px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.camera_azure_skin .camera_prev > span:hover {
    background-position: 0 0;
}
.camera_azure_skin .camera_next > span {
    background-position: -60px -60px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.camera_azure_skin .camera_next > span:hover {
    background-position: -60px 0;
}
.camera_azure_skin .camera_commands > .camera_play {
    background-position: -120px -60px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.camera_azure_skin .camera_commands > .camera_play:hover {
    background-position: -120px 0;
}
.camera_azure_skin .camera_commands > .camera_stop {
    background-position: -180px -60px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.camera_azure_skin .camera_commands > .camera_stop:hover {
    background-position: -180px 0;
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slides element */

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}
/* FlexSlider Default Theme
*********************************/

.flexslider {
    margin: 0 0 20px 0;
    background: #fff;
    border: 0px solid #fff;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides {
    zoom: 1;
}
.carousel li {
    margin-right: 5px;
}
/* Direction Nav */
.flexshortcode .flex-direction-nav ,
.flex-direction-nav 
{
    height: 0;
}

.flexshortcode .flex-direction-nav a:before,
.flexshortcode .flex-direction-nav a.flex-next:before{
    content: none;
}

.flexshortcode .flex-direction-nav a ,
.flex-direction-nav a 
{
    background-image: url(../image/sliders/flex/nav.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 48%;
    right: auto;
    margin-top: -15px;
    text-indent: -10000px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.flexshortcode .flex-direction-nav .flex-next,
.flex-direction-nav .flex-next {
    background-position: -60px -60px;
    right: -36px;
}
.flexshortcode .flex-direction-nav .flex-next:hover ,
.flex-direction-nav .flex-next:hover 
{
    background-position: -60px 0;
}
.flexshortcode .flex-direction-nav .flex-prev ,
.flex-direction-nav .flex-prev 
{
    background-position: 0 -60px;
    left: -36px;
}

.flexshortcode .flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-prev:hover {
    background-position: 0 0;
}

.flexshortcode.flexslider:hover .flex-next,
.flexslider:hover .flex-next {
    opacity: 1;
    right: 0px;
}
.flexshortcode.flexslider:hover .flex-prev,
.flexslider:hover .flex-prev {
    opacity: 1;
    left: 0px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
/* Control Nav */

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 1px 0 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-nav li:before {
    content: no-close-quote
}
.flex-control-paging li a {
    width: 50px;
    height: 8px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    /*-webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);*/
}
/*.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }*/

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0;
   }
   .flex-direction-nav .flex-next {
       opacity: 1;
       right: 0;
  }
}
@media (max-width: 767px) {
    .flex-control-nav {
        bottom: 0;
   }
}
/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* The Nivo Slider styles */

.nivoSliderx {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.nivoSliderx img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}
/* If an image is wrapped in a link */

.nivoSliderx a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}
/* The slices and boxes in the Slider */

.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}
.nivo-box img {
    display: block;
}
/* Caption styles */

.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */

-moz-box-sizing: border-box;
    /* Firefox, other Gecko */

box-sizing: border-box;
    /* Opera/IE 8+ */
}
.nivo-caption p {
    padding: 5px;
    margin: 0;
}
.nivo-caption a {
    display: inline !important;
}
.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
}
.nivo-prevNav {
    left: 0px;
}
.nivo-nextNav {
    right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
    text-align: center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor: pointer;
}
.nivo-controlNav a.active {
    font-weight: bold;
}
.slideshow.slider-wrapper {
    background: #fff;
    padding: 10px;
}
.slideshow .nivoSliderx {
    position: relative;
    background: #fff url(../image/sliders/nivo/loading.gif) no-repeat 50% 50%;
    margin-bottom: 10px;
    overflow: visible;
}
.slideshow .nivoSliderx img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.slideshow .nivoSliderx a {
    border: 0;
    display: block;
}
.slideshow .nivo-controlNav {
    text-align: center;
    padding: 0;
    position: relative;
    z-index: 10;
}
.slideshow .nivo-controlNav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../image/sliders/nivo/bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin: 0 2px;
}
.slideshow .nivo-controlNav a.active {
    background-position: 0 100%;
}
.slideshow .nivo-directionNav a {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../image/sliders/nivo/nav.png) no-repeat 0 0;
    text-indent: -9999px;
    border: 0;
    top: 45%;
    z-index: 11;
}
.slideshow a.nivo-nextNav {
    background-position: -60px -60px;
    right: 0px;
}
.slideshow a.nivo-nextNav:hover {
    background-position: -60px 0;
}
.slideshow a.nivo-prevNav {
    background-position: 0 -60px;
    left: 0px;
}
.slideshow a.nivo-prevNav:hover {
    background-position: 0 0;
}
.slideshow .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.slideshow .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.slideshow .nivo-caption a:hover {
    color: #fff;
}
.slideshow .nivo-controlNav.nivo-thumbs-enabled {
    width: 80%;
}
.slideshow .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}
.slideshow .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}



/*carousel*/

.carousel-flex {
    position: relative;
    padding: 10px 40px 20px;
}
.carousel .slides > li:first-child {
    display: block;
    -webkit-backface-visibility: visible;
    max-width: 20%;
}
.carousel .slides > li {
    position: relative;
    display: none;
    -webkit-backface-visibility: hidden;
    margin-right: 0;
}
.carousel .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel .flex-direction-nav li {
    background: none;
    border: none;
}
.carousel .flex-direction-nav a {
    width: 28px;
    height: 28px;
    margin: -20px 0 0;
    display: block;
    background-image: url(../images/flex/bg_direction_nav_big.png);
    position: absolute;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    -webkit-transition: all .3s ease;
}
.carousel .flex-direction-nav .flex-next {
    background-position: 100% 100%;
    top: 50%;
    right: 0px;
}
.carousel .flex-direction-nav .flex-next:hover {
    background-position: 100% 0;
}
.carousel .flex-direction-nav .flex-prev {
    background-position: 0 100%;
    top: 50%;
    left: 0px;
}
.carousel .flex-direction-nav .flex-prev:hover {
    background-position: 0 0;
}
.carousel .flex-direction-nav .flex-disabled {
    opacity: 0.5!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.jcarousel-skin-opencart .jcarousel-container {
    background: #FFF;
    margin-bottom: 20px;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-opencart .jcarousel-container-horizontal {
    padding: 0px 40px;
}
.jcarousel-skin-opencart .jcarousel-clip {
    overflow: hidden;
    width: 100%;
}
.jcarousel-skin-opencart .jcarousel-clip-horizontal {} .jcarousel-skin-opencart .jcarousel-item {
    text-align: center;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-opencart .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/**
 *  Horizontal Buttons
 */

.jcarousel-skin-opencart .jcarousel-next-horizontal {
    position: absolute;
    top: 23px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url('../image/button-next.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background: url('../image/button-previous.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-horizontal:focus {} .jcarousel-skin-opencart .jcarousel-next-horizontal:active {} .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: none;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal {
    position: absolute;
    top: 23px;
    left: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url('../image/button-previous.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 0px;
    background: url('../image/button-next.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-horizontal:focus {} .jcarousel-skin-opencart .jcarousel-prev-horizontal:active {} .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: none;
}

/*blog single post carousel*/
/*
.articleContent ul.flex-direction-nav a{
	width: 30px;
	height: 44px;
}

.articleContent ul.flex-direction-nav a.flex-prev{
	background-position: -14px -67px;
}
.articleContent ul.flex-direction-nav a.flex-prev:hover{
	background-position: -14px -6px;
}
.articleContent ul.flex-direction-nav a.flex-prev:before{
	display: none;
}

.articleContent ul.flex-direction-nav a.flex-next{
	background-position: -74px -67px;
}
.articleContent ul.flex-direction-nav a.flex-next:hover{
	background-position: -74px -6px;
}
.articleContent ul.flex-direction-nav a.flex-next:before{
	display: none;
}*/


/*cloud-zoom*/


/* This is the moving lens square underneath the mouse pointer. */

.cloud-zoom-lens {

    border: 5px solid #888;

    margin: -5px;

    /* Set this to minus the border thickness. */

/* background-color:#fff; */

cursor: crosshair;
}
/* This is for the title text. */

.cloud-zoom-title {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute !important;
    background-color: #000;
    color: #fff;
    padding: 0px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    top: 0px;
}
/* This is the zoom window. */

.cloud-zoom-big {
    border: 2px solid #CCC;
    overflow: hidden;
}
/* This is the loading message. */

.cloud-zoom-loading {
    color: white;
    background: #222;
    padding: 3px;
    border: 1px solid #000;
}



/*flexslider*/

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Icon Fonts
*********************************/

/* Font-face Icons */

@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slides element */

.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}
/* FlexSlider Default Theme
*********************************/

.flexslider {
    margin: 0 0 50px;
    background: #fff;
    border: none;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides {
    zoom: 1;
}
.carousel li {
    margin-right: 5px;
}
/* Direction Nav */

.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    display: block;
    width: 60px;
    height: 60px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.flex-direction-nav .flex-prev {
    left: -50px;
}
.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}
.flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
}
.flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
}
.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
}
.flex-direction-nav a.flex-next:before {
    content: '\f002';
}
/* Pause/Play */

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    opacity: 0.5;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}
.flex-pauseplay a:hover {
    opacity: 0.8;
}
.flex-pauseplay a.flex-play:before {
    content: '\f003';
}
/* Control Nav */

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
   }
   .flex-direction-nav .flex-next {
       opacity: 1;
       right: 10px;
  }
}


/*swipebox*/

.swipebox {
    overflow: hidden!important;
}
#swipebox-overlay img {
    border: none!important;
}
#swipebox-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999!important;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#swipebox-slider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    display: none;
}
#swipebox-slider .slide {
    background: url("../image/swipebox/loader.gif") no-repeat center center;
    height: 100%;
    width: 100%;
    padding: 20px;
    line-height: 1px;
    text-align: center;
    display: inline-block;
}
#swipebox-slider .slide:before {
    content: "";
    display: inline-block;
    height: 45%;
    width: 1px;
    margin-right: -1px;
}
#swipebox-slider .slide img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: auto;
    height: auto;
    vertical-align: middle;
}
#swipebox-action, #swipebox-caption {
    position: absolute;
    z-index: 999;
    opacity: 0.5;
}
#swipebox-action {
    top: 28px;
    right: 23px;
    width: 50px;
    height: 50px;
}
#swipebox-action.visible-bars {
    top: 28px;
}
#swipebox-action.force-visible-bars {
    top: 28px!important;
}
#swipebox-caption {
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    text-align: center;
}
#swipebox-caption.visible-bars {
    bottom: 0;
}
#swipebox-caption.force-visible-bars {
    bottom: 0!important;
}
#swipebox-action #swipebox-prev, #swipebox-action #swipebox-next, #swipebox-action #swipebox-close {
    background-image: url("../image/swipebox/icons.png")!important;
    background-repeat: no-repeat;
    border: none!important;
    text-decoration: none!important;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
}
#swipebox-action #swipebox-close {
    background-position: 22px 13px;
    right: 5px;
}
#swipebox-action #swipebox-prev {
    background-position: -32px 13px;
    right: 100px;
}
#swipebox-action #swipebox-next {
    background-position: -78px 13px;
    right: 40px;
}
#swipebox-action #swipebox-prev.disabled, #swipebox-action #swipebox-next.disabled {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}
#swipebox-slider.rightSpring {
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}
#swipebox-slider.leftSpring {
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}
@-moz-keyframes rightSpring {
    0% {
        margin-left: 0px;
   }
   50% {
       margin-left: -30px;
  }
  100% {
      margin-left: 0px;
 }
}
@-moz-keyframes leftSpring {
    0% {
        margin-left: 0px;
   }
   50% {
       margin-left: 30px;
  }
  100% {
      margin-left: 0px;
 }
}
@-webkit-keyframes rightSpring {
    0% {
        margin-left: 0px;
   }
   50% {
       margin-left: -30px;
  }
  100% {
      margin-left: 0px;
 }
}
@-webkit-keyframes leftSpring {
    0% {
        margin-left: 0px;
   }
   50% {
       margin-left: 30px;
  }
  100% {
      margin-left: 0px;
 }
}
/* Skin 
--------------------------*/

#swipebox-overlay {
    background: url("../image/swipebox/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0.75);
}
#swipebox-action {
    opacity: 1.0;
}
#swipebox-caption {
    background-color: #000000;
    opacity: 1.0;
}
#swipebox-action {} #swipebox-caption {
    color: white!important;
    font-size: 15px;
    line-height: 43px;
    padding-top: 10px;
    text-transform: uppercase;
}


/*tipTip*/

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 16px;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 3px 8px;
	border: 0px solid rgba(255,255,255,0.25);
	background-color: #424242;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border:none;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}


/*ui.totop*/

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:45px;
	right:20px;
	overflow:hidden;
	width:42px;
	height:42px;
	border:none;
	text-indent:100%;
	background:url(../image/ui.totop.png) no-repeat left top rgba(0, 0, 0, 0.15);
}

#toTopHover {
	background:url(../image/ui.totop.png) no-repeat left -42px;
	width:42px;
	height:42px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}