body {
  font-family: arial;
  font-size: 12px;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0; }

/*-----------@Reset----------*/
a {
  text-decoration: none; }

/* All custome font will be go there */
@font-face {
  font-family: 'Oswald_Regular';
  src: url("fonts/Oswald-Regular.eot");
  src: url("fonts/Oswald-Regular.svg") format("truetype"), url("fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald-Regular.woff") format("woff"), url("fonts/Oswald-Regular.ttf") format("truetype"), url("fonts/Oswald-Regular.svg#yourfunkyfont") format("svg"); }
@font-face {
  font-family: 'opensense';
  src: url("fonts/OpenSans-Regular.eot");
  src: url("fonts/OpenSans-Regular.svg") format("truetype"), url("fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype"), url("fonts/OpenSans-Regular.svg#yourfunkyfont") format("svg"); }
/*************************************************
					Main Layout
**************************************************/
/* banner 1*/
.h_banner_1 {
  width: 100%;
  position: relative; }

.h_header_1 {
  width: 100%;
  height: 141px;
  left: 0;
  top: 25px;
  position: absolute; }

.h_header {
  width: 100%;
  margin-top: 25px; }

.h_header_top {
  width: 100%;
  height: 69px; }

.h_header_bottom {
  width: 100%;
  height: 72px;
  background-color: #fff; }

.h_telephone_box {
  padding-left: 8px;
  line-height: 15px;
  color: #000;
  font-size: 13px; }

.h_telephone_box a {
  border-bottom: 1px dotted #000; }

.iconholder-header {
  color: #da2127; }

.h_header_cart_box {
  width: 198px;
  height: 32px;
  /*46*/
  padding: 7px 0;
  background-color: white;
  text-align: center;
  font-size: 13px;
  position: relative; }
  .h_header_cart_box .fa-shopping-cart::before {
    position: absolute;
    right: 15px; }
  .h_header_cart_box strong {
    text-transform: uppercase; }

.h_header_utility_menu {
  width: 100%;
  overflow: hidden; }

.h_header_utility_menu li {
  line-height: 29px;
  padding-left: 24px;
  float: left;
  list-style: none;
  color: #000;
  background-position: left center; }

.h_header_utility_menu li.fa-star::before,
.h_header_utility_menu li.fa-globe::before,
.h_header_utility_menu li.fa-money::before {
  position: relative;
  left: -8px; }

.h_header_utility_menu li span {
  border-bottom: 1px dotted #000; }

.h_cart_number_symble {
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  background-color: #d5292c;
  position: absolute;
  right: -13px;
  top: -10px;
  color: #fff;
  font-size: 12px;
  border-radius: 21px;
  -moz-border-radius: 21px;
  -webkit--moz-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-borde-radius: 21px; }

.h_logo {
  display: block; }

/*************************************************
					Main Menu
**************************************************/
.h_search_box {
  height: 72px;
  border-left: 1px solid #f8f8f8;
  background-color: #fdfdfd; }

.nav > li > a {
  line-height: 68px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  font-family: Oswald_Regular, arial;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff; }

.nav > li > a:hover {
  background: #fdfdfd !important;
  border-top: 2px solid #da2127;
  border-right: 2px solid #f8f8f8;
  border-left: 2px solid #f8f8f8; }

.input_search {
  width: 206px;
  /*216*/
  height: 29px;
  /*33*/
  line-height: 29px;
  padding: 2px 5px;
  margin-top: 20px;
  float: left;
  font-size: 15px;
  color: #e2e2e2;
  font-style: italic;
  border: none; }

.btn_search {
  width: 21px;
  height: 33px;
  margin-top: 17px;
  float: left;
  margin-left: 5px;
  background: url(images/interface/btn_search.png) no-repeat left center;
  border: none; }

/*************************************************
					 Footer 
**************************************************/
.h_footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #121212; }

.h_media_single_box {
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  float: left;
  text-align: center;
  line-height: 46px;
  color: #000;
  margin-right: 10px; }

.social_media_footer_pan {
  width: 100%;
  height: 46px; }

.footer_box h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: Oswald_Regular, arial;
  color: #fff; }

.footer_box li {
  line-height: 18px;
  padding-bottom: 6px; }
  .footer_box li a {
    font-size: 14px;
    color: #666;
    font-family: opensense, arial; }

.social_media_footer_pan {
  widht: 100%;
  height: 46px;
  background: #da2127; }
  .social_media_footer_pan ul.footer-social-media {
    width: 100%;
    height: 34px;
    /*46*/
    padding: 12px 30px; }

.footer-social-media li {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  float: left; }
  .footer-social-media li a {
    font-size: 14px;
    color: #fff; }

.footer-utility-box {
  padding-top: 30px;
  border-top: 1px solid #2d2d2d;
  margin-top: 35px; }
  .footer-utility-box h5 {
    line-height: 26px;
    font-size: 24px;
    color: #fff;
    letter-spacing: -1px;
    font-family: Oswald_Regular, arial; }
  .footer-utility-box span {
    font-size: 14px;
    color: #a7a7a7;
    font-family: opensense, arial;
    line-height: 26px;
    display: inline-block;
    position: relative;
    top: -7px; }

.footer_search_box {
  width: 100%;
  height: 72px;
  margin-top: 58px;
  background-color: #1d1d1d;
  background-image: url(images/interface/logo_hill.png);
  background-positon: left top;
  background-repeat: no-repeat; }
  .footer_search_box .h_input_fotter_search {
    width: 964px;
    /*980*/
    height: 40px;
    line-height: 40px;
    padding: 4px 8px;
    float: right;
    font-size: 15px;
    background: none;
    margin-top: 17px;
    font-style: italic;
    color: #939393;
    border: none; }
  .footer_search_box .h_btn_fsearch {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-right: 30px;
    float: right;
    background: none;
    border: none;
    font-size: 15px;
    color: #fff;
    margin-left: 5px; }

.hello_world {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
